[2021-07-07 17:35] cartertinney commented on #812
@terryholland

I'm going to begin looking into this, and will reach out if I need more information. This is not something we have seen before, so I will need to try and reproduce. You said this is hanging / unexpected error is coming from the `.send_message()` call, right?

I understand you are using five threads with a singleton device - how long is the period between messages you send?

Is your

[2021-07-08 07:11] terryholland commented on #812
Thanks for response @cartertinney

Answers to your questions in order asked...

- Its seems to be.
- About 2 mins
- This varies.  I have had it occur after 12 hours.  The longest my code ran without error is 35 hours
- No.  I will provide a scaled down version of my code this coming weekend, providing you with the essential bits of what Im doing

[2021-07-09 18:00] cartertinney commented on #810
@cristianCarrerasCastillo I am glad things are working for you. It looks like the Hub had been rejecting the messages you were sending for whatever reason, but it seems you have sorted things out yourself.

I will close this issue now, and if it re-emerges, please open another issue.

[2021-07-09 18:00] #810 closed

[2021-07-09 18:02] cartertinney commented on #806
@kaushikCanada

This is a problem with our samples. I will work on fixing them in the coming days. Apologies for the inconvenience, and thank you for bringing this to our attention.

[2021-07-09 19:44] cartertinney commented on #812
@terryholland I would appreciate that scaled down version for repro purposes, will make fixing this a lot faster.

[2021-07-09 20:04] cartertinney commented on #792
@ismaan1998

Is it possible that your device IP address was blocked or not whitelisted? Someone looked into this issue, and the error causing your downtime was a result of your source IP being blocked/

[2021-07-09 21:07] kaushikCanada commented on #806
Thank you for your response. I have not been able to get thw routing to
modules working. Let me k ow if u have new samples.

On Fri., Jul. 9, 2021, 2:02 p.m. Carter Tinney, ***@***.***>
wrote:

[2021-07-09 23:25] terryholland commented on #812
I will get something to you over the weekend

On Fri, 9 Jul 2021, 20:44 Carter Tinney, ***@***.***> wrote:

[2021-07-10 10:25] terryholland commented on #812
@cartertinney I have condensed my code into the snippet below.  I set very short periods so that I could exceed my message quota quickly.  Normally these values would be 120.

I've not experienced the freezing or unexpected errors yet so I am going set period to 120 and leave this version running on pi over the weekend so see if the problem happens

[code]

[2021-07-12 10:34] ismaan1998 commented on #792
I've checked, No we haven't changed anything at that specific time. The connection between the edge device and IoT hub is over site to site (and using private endpoints), Don't think we need to specify the IPs that can connect to IoT Hub. But as we're  not able to replicate the issue from our side (as well as we have implemented the backup messaging solution to store the telemetry in the backend w

[2021-07-12 10:34] #792 closed

[2021-07-12 17:50] cartertinney commented on #806
@kaushikCanada

I've [updated the sample](https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/async-edge-scenarios/receive_data.py) to no longer require standard input in order to exit gracefully. Using this sample, you can now exit by issuing a direct method to your edge device using the method name "shutdown"

You can see documentation for how to issue a direct met

[2021-07-12 17:51] #804 closed

[2021-07-12 17:51] cartertinney commented on #773
Closing due to inactivity

[2021-07-12 17:51] #773 closed

[2021-07-12 18:01] kaushikCanada commented on #806
WoW this is awesome!.
One more thing. Inspite of a LOT of attempts i have not been able to make
module to module routing work for me using these programs. I am definitely
doing something wrong. But cannot find what it is. let mek now if there is
a way i can do that.

Thanks,
Roy

On Mon, Jul 12, 2021 at 1:51 PM Carter Tinney ***@***.***>
wrote:

[2021-07-12 18:24] cartertinney commented on #806
@kaushikCanada
Unfortunately, the best I can do there is to point you towards our devguides on the topic:

https://docs.microsoft.com/en-us/azure/iot-edge/module-composition
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-d2c

If this updated sample works for you, may I close this GitHub issue and mark it as resolved?

[2021-07-12 18:30] #809 closed

[2021-07-12 19:52] #806 closed

[2021-07-13 06:55] zoopp commented on #747
I happen to run into the same issue every couple of days on multiple devices. I haven't changed anything in our app with regards to how connectivity is handled and I suspect this issue might have been introduced in one of the sdk updates in the last couple of months (I noticed this started to happen sometime after I updated the sdk version in our project possibly either after the 2.1.4 -> 2.5.1 up

[2021-07-13 08:07] ismaan1998 opened #821 "create_from_edge_environment()'s get_twin() is not returning the module twin values"
**Issue**-

I'm reading module twin properties in my edge module.

When i'm using -

[code]

I'm able to get the module twin values from ExampleModuleId but when we're using -
[code]

It's returning  - .
[code]

**Note** - I'm running this code in edge environment.

Let me know if anything other details needed to debug the issue.

[2021-07-13 08:17] terryholland commented on #812
FYI I ren this code for the last 3 days without issue.  I need to start adding back my real code to see at which point it fails

[2021-07-14 22:27] cartertinney commented on #821
@ismaan1998

Thanks for bringing this to our attention. I'm going to look into this

[2021-07-14 22:29] cartertinney commented on #812
Thanks for the update. When you have a case that reproduces, I will immediately get to work on fixing it.

[2021-07-15 17:13] olivakar commented on #797
I have looked into the issue.
Once you send a wrong certificate (or one with the missing chain) , the Service responds with a 401 but then closes the connection.
Hence on repeated retries from our SDK we will never get the same response.
We will discuss with the service team and try to understand the difference in their behavior.

For now , avoiding using the infinite loop will stop the future ret

[2021-07-19 12:13] marcus-tapias opened #825 "Trying to disable an IoT Edge device using iothub_registry_manager.update_device_with_sas shows an error"
# Context

- **OS and version used:** Windows 10
- **Python version:** 3.9.0
- **pip version:** pip 20.1.1
- **list of installed packages:
[code]

## Description of the issue

Hello guys. I'm trying to update the state of an IoT Edge device using the example described on [azure-iot-hub](https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-hub/samples/iothub_registry_manager_sample.p

[2021-07-20 06:09] ismaan1998 commented on #821
@cartertinney any update on this?

[2021-07-20 13:17] AndreV84 commented on #771
@cartertinney Hi, How is it going?
Thank you for your help.
Could you extend if we could connect ZeroMQ with Azure Iot, please?

[2021-07-20 17:54] vishnureddy17 commented on #825
Hi @marcus-tapias , if you take the `device_scope` from the device returned by `get_device` and pass it to the update function, it should work.

The reason why this happens is because the for edge devices, the device scope is immutable. With the way the service is designed it is interpreting what you are doing in your example as changing the device scope to null which would be invalid for a edge d

[2021-07-20 18:18] cartertinney commented on #821
@ismaan1998 So far, I have been completely unable to replicate it. I'm reaching out to our Edge team to see if they have any additional insights, but any additional information or logs you can provide will be helpful.

[2021-07-21 16:07] marcus-tapias commented on #825
vishnureddy17, this worked perfectly, thank you so much for your answer!

[2021-07-21 16:08] #825 closed

[2021-07-21 20:39] charelstoncrabb opened #828 "Tests not passing on Ubuntu 20.04"
Side note: `pytest`, `pytest-testdox` and `pytest-timeout` have to be installed manually (not listed in `setup.py` requirements)

Started with a fresh test virtual environment, have the `master` branch checked out locally to run the tests, and almost all are throwing errors.

[code]

[2021-07-21 21:22] cartertinney commented on #828
@charelstoncrabb

The only dependencies listed in setup.py are the ones required to actually use the package itself. We maintain other dependencies in two separate requirements files, `requirements_dev.txt` and `requirements_test.txt`. For running tests you should only need to install the items in `requriements_test.txt`.

From the repository root, please try
[code]

If this still does not solve y

[2021-07-21 22:09] charelstoncrabb commented on #828
Ah, thank you. Apologies for overlooking the `requirements_test.txt` file at the repo root

[code]

[2021-07-21 22:09] #828 closed

[2021-07-22 18:57] cartertinney commented on #771
@AndreV84

In what context? The Azure IoT Device Client uses Paho for it's messaging to the IoT Hub and that is not configurable. If you want to receive data from another source using ZeroMQ and then send that data to the Hub, that should work fine, as again, the package for Device Clients does not care where your data comes from or what your application looks like.

Also, as I mentioned before, p

[2021-07-22 19:32] cartertinney commented on #812
@terryholland

Any updates on this?

[2021-07-22 20:36] AndreV84 commented on #771
@cartertinney
Thank you for following up.
We are still trying to integrate video+gps from nvidia jetson devices to Azure IoT infrastructure.
As in https://github.com/Azure-Samples/NVIDIA-Deepstream-Azure-IoT-Edge-on-a-NVIDIA-Jetson-Nano/issues/19#issuecomment-881207125

[2021-07-22 23:32] cartertinney commented on #771
I can't say I have a particular insight into that scenario, but as I said, if you wish to send data to Azure IoT Hub, the Device Client will do it over MQTT. The client does not support any other protocols for sending data to Azure IoT Hub.

[2021-07-23 06:08] terryholland commented on #812
I will be working on this over the weekend. I will send update

On Thu, 22 Jul 2021, 20:33 Carter Tinney, ***@***.***> wrote:

[2021-07-26 17:41] cartertinney commented on #821
@ismaan1998

It appears the issue may be with your configuration of the Edge. Could you provide us the Edge logs using the command
`iotedge support-bundle`

https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot?view=iotedge-2020-11#gather-debug-information-with-support-bundle-command

[2021-07-27 00:19] sgoyal1012 opened #831 "Authenticating `IoTHubRegistryManager` using the `from_token_credential` constructor"
### Problem

* Hi azure team; we have a need to manage several IoT hubs; sending cloud to device messages for eg. So far, we have been using the `from_connection_string` constructor to do this. However this is a bit clunky as it requires us to have the connection string encoded as a secret for each of the IoT hubs.

* We are instead hoping to use `from_token_credential` to achieve authentication t

[2021-07-27 21:30] vishnureddy17 commented on #831
Hi @sgoyal1012, you directly pass the `EnvironmentCredential` to `from_token_credential()` for the `token_credential` parameter. No need to call any methods on the `EnvironmentCredential` or worry about the scope.

Please let me know if this resolves your issue.

Just out of curiosity, was there a sample or documentation that led you to do it your way?

[2021-07-28 07:22] sgoyal1012 commented on #831
@vishnureddy17 thanks a lot for your response; I tried what you mentioned and the code sort of *hangs* -- this is how I am initializing it now

[code]
Is this what you had in mind?

Not really.. me and my teammate looked at the method definition for `from_token_credential`; and the `token_credential` variable type is mentioned to be `str`. We sort of guessed that one needs to call the `get_token`

[2021-07-28 15:07] vishnureddy17 commented on #831
@sgoyal1012 Your example is correct. When you say it "sort of hangs", do you mean that it eventually succeeds but takes a long time, or do you mean that it doesn't succeed even after waiting for a while? The authentication could take some time.

`EnvironmentCredential` expects you to have certain environment variables set. Can you make sure that the variables are set correctly? [Here's some docume

[2021-07-28 16:23] sgoyal1012 commented on #831
@vishnureddy17 thanks a lot for your response

Ack, thank you!

------------------------------------

The latter; let me explain what we are running -- we are following the documentation [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-python-python-c2d)

* The `SimulatedDevice.py` is copied verbatim (using connection string)
* For sending a cloud to device message we try three approa

[2021-07-29 07:57] ismaan1998 commented on #821
[support_bundle.zip](https://github.com/Azure/azure-iot-sdk-python/files/6898860/support_bundle.zip)

@cartertinney Let me know if anything else needed

[2021-07-29 16:20] vishnureddy17 commented on #831
Where did this confirmation come from? I don't see where it could have come from in `SimulatedDevice.py` or `SendCloudToDeviceMessage.py`. Or did you mean "in the case of (c)"?

I went ahead and tried the specific files you sent me, and in case (b), I am able to see the messages on `SimulatedDevice.py`

Here are some things you can try:
- [ ] Check that the service principal associated with your `

[2021-07-29 17:11] sgoyal1012 commented on #831
Yes, I meant (c) -- the command line option.
Thanks for the checklist; I will try it out.

[] Check that the service principal associated with your AZURE_SUBSCRIPTION_ID, AZURE_CLIENT_SECRET, and AZURE_TENANT_ID values have the correct role on your IoT Hub to send C2D messages
We have the following roles -- `IoT Hub Data Contributor` and `IoT Hub Registry Contributor` -- *are these correct* ?

[x]

[2021-07-29 17:18] sgoyal1012 commented on #831
Also, could you confirm if what I have highlighted is the correct parameter to pass for the `url` option?

![Azure](https://user-images.githubusercontent.com/7093391/127536262-b2fb59a2-7ff3-476a-b09c-2716c15b4c97.jpg)

[2021-07-29 18:04] vishnureddy17 commented on #831
Yes, IoT Hub Data Contributor should be sufficient.

Yes, that should not be a problem. As long you go to your IoT Hub in the portal and see the role assignment for your service principal in the role assignments list (see image), then you should be good there.
![image](https://user-images.githubusercontent.com/30186564/127540846-bea3fb1d-27fd-4d9b-935a-b61e44a403b9.png)

Looks good there.

Based o

[2021-07-30 01:27] sgoyal1012 commented on #831
I agree with your hunch.

I checked the role assignments as you mentioned; and they look good. (good tip there! I was not aware of this)
![Screenshot from 2021-07-29 18-25-37](https://user-images.githubusercontent.com/7093391/127585970-a11a7e7f-97c2-441d-ab9f-bb5ab5e4fbdb.png)

Checked; and I validate with the connection string authentication method that this is okay.

### Next steps to try

I do

[2021-07-30 14:46] vishnureddy17 commented on #831
Please do let me know if that solves your issue! @sgoyal1012

[2021-07-30 17:10] vishnureddy17 commented on #831
Would it be possible for you to give yourself the IoT Hub Data Contributor role, logging into Azure CLI, and then trying `AzureCliCredential` instead of `EnvironmentCredential`? That's another thing that could help narrow the issue down.

Apologies for not being able to figure this out yet—this issue is strange.

[2021-07-30 19:10] sgoyal1012 commented on #831
Thanks for your help @vishnureddy17 ! really appreciate you taking out the time and helping us this; you are right, this issue is strange :) -- we did something similar for our EventHubs and it seems to work fine there (with the same `EnvironmentCredentials`)

-------------

Will do that; I believe I should already have this role; as I am able to send a C2D message using the CLI as I mentioned ear

[2021-07-30 21:06] sgoyal1012 commented on #831
@vishnureddy17 we got a chance to try out what I mentioned, **but the problem still persists unfortunately**

Here is what we tried

* Using `EnvironmentCredentials` with a new SP, scoped as an `IoT Hub Data Contributor` on the entire subscription;
* Then the same SP to be scoped on the particular IoT hub.
* The `AzureCliCredentials` method

In all three cases; it is the same behavior; the applica

[2021-07-31 01:59] sgoyal1012 commented on #831
I see the latest version at the pip registry is dating May 5 -- https://pypi.org/project/azure-iot-hub/#history

and the latest here is from Jun 18 -- https://github.com/Azure/azure-iot-sdk-python/tags

Do you think this could be a potential issue; that you and I are using different versions?

[2021-08-02 23:44] vishnureddy17 commented on #831
That is because the latest version of `azure-iot-hub` (service client) is May 5th, but the latest version of `azure-iot-device` (device client) is June 18th.

I will try to match your version numbers exactly and run the sample again tomorrow,

[2021-08-03 13:55] gitnwana opened #832 "Using custom topics and listeners for MQTT on IoT Hub."
Hi ,

We are trying to use Azure IoT Hub as an MQTT Broker for a project. Following this [link](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support).
We understand that Azure IOT Hub  is not a full replacement for a MQTT Broker,  however, we noticed that we can only send messages to topic - ""devices/" + device_id + "/messages/events/". Also , when we try to connect multiple listen

[2021-08-03 15:19] vishnureddy17 commented on #831
@sgoyal1012, what version of uamqp are you using?

[2021-08-03 15:34] vishnureddy17 commented on #831
Ah, I'm able to reproduce this now. Need some time to investigate

[2021-08-03 15:54] vishnureddy17 commented on #831
You're right. We just never made a release since we added support for AMQP operations with TokenCredential authentication 🤦‍♂️

We will probably make a release soon, I'll keep you posted.

[2021-08-03 17:07] sgoyal1012 commented on #831
Hi @vishnureddy17 thanks a lot for your analysis, glad we were able to figure this out!
--------

Thanks! Do you want me to keep the ticket open?

[2021-08-03 17:14] vishnureddy17 commented on #831
Yeah, let's leave it open until we make the release and you can confirm that that the issue is resolved.

[2021-08-03 20:14] vishnureddy17 commented on #831
@sgoyal1012 , please update your azure-iot-hub to version 2.5.0. Then you should be able to send the messages. Please let me know if this resolves it, thanks!

[2021-08-03 20:33] cartertinney commented on #812
@terryholland

Any updates?

[2021-08-03 22:03] sgoyal1012 commented on #831
@vishnureddy17 that worked! Thanks for the quick turnaround, really appreciate it :)

Here is the code that worked

[code]

[2021-08-03 22:03] #831 closed

[2021-08-04 08:13] terryholland commented on #812
Apologies for not updating at weekend. I have not managed to work on recreating this issue as I have been ill.  I have scheduled time to look at is on Thu/Fri this week.

[2021-08-04 17:21] BertKleewein commented on #832
Hi @gitnwana, your observations describe exactly how the IoTHub broker is designed to work.  There is currently no way to work around these limitations..  The IoTHub service may be enabling features like you describe in the future.

[2021-08-09 11:54] RohitMundhra opened #835 "Trying to send message to IoT Hub using azure sdk but getting 'certfile should be a valid filesystem path' error"
I am using one of the sample code provided by this git repo **azure-iot-sdk-python/azure-iot-device/samples/async-hub-scenarios/send_message_x509.py** and trying to connect my Iot Device to IoT Hub but getting an error. I am sending my code and error. Please help

**Code**

# -------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights

[2021-08-09 20:24] cartertinney commented on #812
@terryholland

I'm going to go ahead and close the issue now since I haven't heard back, but do please open a new GitHub issue when you have reproduced the issue.

[2021-08-09 20:24] #812 closed

[2021-08-09 20:27] cartertinney commented on #835
@RohitMundhra

`os.getenv()` is a python built-in function that fetches a environment variable. You seem to be trying to provide a filesystem path to it instead of the name of a variable where the path is stored.

Try just passing the filepath strings directly as the arguments `cert_file` and `key_file` without use of the `os.getenv()` function

[2021-08-10 05:39] RohitMundhra commented on #835
Thanks. It worked.
The function by default uses mqtt to connect with IoT Hub but in my system Mqtt is blocked so I wanted to send msg via Amqp port. Can you help me regarding the same as to how to specify to send msg through Amqp port

[2021-08-10 14:52] RohitMundhra commented on #835
Instead of Amqp i use websocket port and it worked. Is it possible to use the sdk to connect my leaf device to Iot Hub via edge Gateway? I have already created child- parent relation.

[2021-08-10 16:34] cartertinney commented on #835
The Azure IoT Device SDK for Python does not support AMQP, but I am glad that websockets are working for you.

As for using Edge, the SDK does support Edge environments, with the `.create_from_edge_environment()` factory method, if your environment variables have been set up for Edge.

[2021-08-10 18:01] cartertinney commented on #821
Apologies for the delay, we're still trying to get this looked into.

[2021-08-10 22:07] manish-bhasin opened #836 "invoke_method_async method of IoTHubModuleClient crashing custom module"
# Context

- **OS and version used:** Pop!_OS 21.04 x86_64
- **Python version:** Python 3.5.4
- **pip version:** pip 20.3.4
- **azureiotedge-hub image** mcr.microsoft.com/azureiotedge-hub:1.0.9
- **azureiotedge-agent image:** mcr.microsoft.com/azureiotedge-agent:1.0.9
- **list of installed packages:**
<details closed>
<summary>pip list</summary>
<br>
<pre>
Package                    Version
------

[2021-08-11 19:56] cartertinney commented on #836
@manish-bhasin

It appears you are using `azure-iothub-device-client` which is a deprecated and unmaintained package from several years ago which we no longer support.

Instead, we now provide the simpler-to-use `azure-iot-device` package. Would it be at all possible for you to port this module to use the current and supported package?

[2021-08-11 20:26] manish-bhasin commented on #836
Hey, thanks for the reply.

We are looking to upgrade to v2 eventually, but in the meantime need to fix or work around this issue to achieve inter-module method invocation.

[2021-08-11 20:57] cartertinney commented on #836
@manish-bhasin

Unfortunately then, there is little I can do to help - as I said, this package has been deprecated and unmaintained for several years now, and as a result, we no longer provide any fixes or support for V1 beyond assistance with porting to V2.

[2021-08-12 06:33] RohitMundhra commented on #835
Now I was trying to connect my IoT Device to IoT Hub via IoT Edge Device. So it will send data to iot Edge Hub which will forward it to IoT Hub.

**Here is the Code:**

# -------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for
# license information

[2021-08-12 09:21] kodonnell opened #837 "Unusual/poor connection to IoT Hub"
I'm not sure if this is related to #812 or #810 but it seems to me that the client gets stuck in a state where it can't send any messages. I'm not completely certain as at this stage it could still be other things - and it's also odd as some devices seen fine, and others not.

I'm basically following [this](https://github.com/Azure/azure-iot-sdk-python/blob/c6a7be37ec6af2136faef11cc4bc4e33c88434ce

[2021-08-12 17:28] cartertinney commented on #835
@RohitMundhra You have a typo. You used the keyword ` server_verification_cer` instead of ` server_verification_cert`

[2021-08-12 17:39] cartertinney commented on #837
@kodonnell

I'm currently working on some various fixes for this portion of the code. I have also run into this issue before in the past, although can't quite reliably produce it, I suspect it has to do with a race condition wrt to logical connection state vs. actual connection state.

The changes I'm working on should hopefully fix this issue, and I expect it to be released in about a week and ha

[2021-08-12 23:05] manish-bhasin commented on #836
@cartertinney
No problem, I understand. Is it okay to leave this issue open for some time (~1 week) in case other users have anything to add or share regarding this issue?

[2021-08-13 01:01] cartertinney commented on #836
Certainly, our policy is to leave issues open for 14 days.

[2021-08-13 01:49] kodonnell commented on #837
Oh right. I think I saw some other threads around GIL etc. - and while none of my code should be having those problems, the pi is getting a little thrashed so race conditions might not be out of the question.

In the interim, are there any quick workarounds e.g. recreating the device client every time I send a message, or sending messages in a different way (e.g. not synchronous)?

[2021-08-13 16:51] cartertinney commented on #837
I would certainly not advise creating many clients rapidly, that will likely lead to additional problems.

You could try disabling the automatic retry of connections with the `connection_retry=False` parameter to avoid the issue, but this will come with it's own drawbacks:
1) The client won't automatically retry the connection if it drops, so you will be responsible for re-establishing it. You may

[2021-08-16 10:27] RohitMundhra commented on #835
Thanks @cartertinney
I am now trying to connect to my iot Hub via my edge hub of my edge gateway device. I am able to connect with edge hub but not able to send data to IoT hub. Getting error: "

**Code**
import os
import uuid
from azure.iot.device.aio import IoTHubDeviceClient
from azure.iot.device import Message, X509
import asyncio

messages_to_send = 10

async def main():
    #hostname = "WE-S

[2021-08-16 22:03] cartertinney commented on #835
Can you add the following lines to the beginning of your code, and post the output so I can see some more detailed logs?

[code]

[2021-08-17 15:14] anthonyvercolano commented on #797
Closed due to inactivity.

[2021-08-17 15:14] #797 closed

[2021-08-17 22:04] cartertinney commented on #821
@ismaan1998 any updates on this?

[2021-08-18 15:57] anthonyvercolano commented on #832
Question answered and inactivity.

[2021-08-18 15:57] #832 closed

[2021-08-18 16:57] chris-hibberd commented on #797
Apologies for the lack of a reply and thanks for the feedback @olivakar, we will change our code to avoid calling `register` in a loop for now.

[2021-08-19 13:52] thurnbauermatthi commented on #735
Hello again, could you give some feedback about the current status of this bug?

[2021-08-19 18:04] cartertinney commented on #735
@thurnbauermatthi

Unfortunately, the IoTHub service doesn't indicate that throttling occurs, it simply drops the connection with the client, which means we aren't able to directly report what happened to you.

However, there are potential mitigations we are looking at, which depend on some new infrastructure being built. I'm currently working on this infrastructure. The idea would be that we can

[2021-08-23 07:40] ismaan1998 commented on #821
@cartertinney
By modifying the config.toml as shown below in the image has solved this issue. Thanks
![image](https://user-images.githubusercontent.com/30122168/130409133-5e9c4d9c-c829-4b84-b52b-6070d8b9437a.png)

we can close this now. Thanks for all the help

[2021-08-23 07:40] #821 closed

[2021-08-23 13:07] SaifAlmaliki opened #838 "IoTHubOwner connection unstable"
I want to establish a stable connection between my Rpi4 device to IoTHub Owner (not IOTHub device) using python sdkv2.

previously, in Azure IoTHub sdk1, the class ([IotHubMessaging](https://github.com/Azure/azure-iot-sdk-python/blob/v1-deprecated/service/samples/iothub_messaging_sample.py)) from iothub_service_client was used to establish a connection between IoTHub Owner and the device which pro

[2021-08-25 02:13] vishnureddy17 commented on #838
Hi @SaifAlmaliki, thanks for bringing up this issue. A few questions:

1. Based on my understanding of your issue, it is C2D messages which fail after 10-15 minutes. Is this understanding correct? Are there other operations on `IoTHubRegistryManager` which fail for you besides C2D?
2. Can you elaborate on what happens when the failure occurs? Is there an error message logged? Does it fail silently

[2021-08-25 10:23] kodonnell commented on #837
Sorry to be a pest @cartertinney but any update on this one?

[2021-08-30 15:54] fvdnabee opened #841 "Invalid azure.core in install_requires for azure-iot-hub"
Line 75 of azure-iot-hub's setup.py lists 'azure.core' as an install requires, but this isn't a valid package identifier:
https://github.com/Azure/azure-iot-sdk-python/blob/ed78f86a8d2dfbfbba8c9af59125a00c11851d95/azure-iot-hub/setup.py#L75

poetry show lists azure.core as a missing package for my project which uses azure-iot-hub 2.5.0 as a dependency.

This change was introduced [here](https://gi

[2021-08-30 18:46] cartertinney commented on #835
Closing due to inactivity.

[2021-08-30 18:46] #835 closed

[2021-08-30 18:48] cartertinney commented on #841
Thanks for pointing this out. We'll get this fixed shortly.

[2021-09-01 07:48] MadhavPK opened #842 "Command and links are not correct in readme.md"
# Context

- **OS and version used:** <VERSION>Windows 10
- **Python version:** <VERSION>3.9.6
- **pip version:** <VERSION> 21.2.4
- **list of installed packages:** <VERSION>
Package | Version
--- | ---
azure-core | 1.17.0
azure-iot-device |  2.7.1
azure-iot-hub |2.5.0
certifi |2021.5.30
charset-normalizer | 2.0.4
deprecation | 2.1.0
idna |3.2
isodate | 0.6.0
janus |0.4.0
msrest | 0.6.21
oauthlib

[2021-09-01 14:42] anthonyvercolano commented on #842
Thank you.

[2021-09-06 15:08] RemiCardona commented on #784
I'd like to chime in: mocks.

We mock iothub in unit tests with a very simple mqtt broker. To avoid any issues, we request a random unused port from the system and configure the broker with it. IOW, our automated tests *never* use port 8883, only the production code does.

So right now, we have to monkeypatch paho underneath azure-iot-sdk to ignore the hard-coded port and use instead the one we wa

[2021-09-09 18:55] cartertinney commented on #842
Addressed in #845

[2021-09-09 20:08] pchevallier opened #846 "Ability for the app to read the connection status from the SDK while in WAITING_TO_RECONNECT state."
During normal condition, the  client device is connected to the iotHub and we transmit data as needed. We also receive Device Twin patch update whenever required.

From time to time, we lose the connection (ex WiFi out of range). An error message from the SDK is displyed on the output device.
The message reads:
_ReconnectStage: DisconnectEvent received while in unexpected state - WAITING_TO_RECONN

[2021-09-09 23:59] cartertinney commented on #846
@pchevallier

Good news - the feature you ask for already exists. It is not a method, but an attribute you can check: `.connected`

e.g.

[code]

Another option you may be interested in is using the `.on_connection_state_change` handler. You can define a function or coroutine yourself, and set it to the above attribute on the client. Your function will be called each time that the client connects

[2021-09-10 11:55] pchevallier commented on #846
Thanks @cartertinney, that definitely fits the purpose.

Perhaps that could be documented accordingly in here:
https://docs.microsoft.com/en-us/python/api/azure-iot-device/azure.iot.device.iothubdeviceclient?view=azure-python

[2021-09-10 11:55] #846 closed

[2021-09-10 13:52] danhellem commented on #702
@cartertinney I will go ahead and investigate this and try and repo

[2021-09-10 19:24] cartertinney commented on #846
It is documented there, under the "attributes" section.

[2021-09-13 15:23] #842 closed

[2021-09-14 21:03] danhellem opened #849 "[Technical Question] Test from Dan"
------------------------------- delete below -------------------------------

Thank you for asking a technical question! If your question is "why doesn't my code work?", please see [submit a bug report](https://github.com/Azure/azure-iot-sdk-python/issues/new?assignees=&labels=bug&template=bug-report.md&title=) instead.

For quick and reliable answers on your technical product questions from Micro

[2021-09-15 18:13] lmazuel opened #851 "get_storage_info_for_blob returns ClientError, TooManyDevicesError"
@BillmanH commented on [Tue Sep 14 2021](https://github.com/Azure/azure-sdk-for-python/issues/20695)

Using the method described in [this doc](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-python-python-file-upload), and reviewing the [throttle limits here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-quotas-throttling#other-limits)

There is only one single device for

[2021-09-16 00:07] cartertinney commented on #841
Tracked in #842

[2021-09-16 00:08] cartertinney commented on #837
PR #844 will hopefully address these issues

[2021-09-16 15:53] danhellem commented on #702
@dsilva-vd I am not able to duplicate this issue on cell connection. As noted this is most likely caused by an upload timeout in azure storage. I am going to close this issue for now. If you are still experiencing this, and it is a priority, we can forward it over to the IoT Hub and Azure Storage teams to review.

[2021-09-16 15:53] #702 closed

[2021-09-16 15:57] danhellem commented on #851
@lmazuel thanks for reporting this. We will take a look and get back to you in a few days

[2021-09-16 17:49] cartertinney commented on #841
Fix is checked in, will be part of the next release

[2021-09-23 09:12] robbinvandamme opened #856 "Unexpected OperationCancelled exception instead of a ClientError?"
# Context

- **OS and version used:** embedded linux
- **Python version:** 3.7.3
- **pip version:** 19.0.3
- **list of installed packages:**
Package                   Version
------------------------- -----------
Adafruit-BBIO             1.2.0
aiofiles                  0.7.0
aiohttp                   3.7.4.post0
aiohttp-security          0.4.0
altgraph                  0.17.2
astroid

[2021-09-24 20:42] cartertinney commented on #841
Fix has been released as part of the 2.6.0 release, available now.

Please let us know if this has addressed your issue.

[2021-09-24 20:43] cartertinney commented on #838
@SaifAlmaliki

A fix for this issue has been added as part of our release of azure-iot-hub version 2.6.0, available now via pip

Please let us know if this has addressed your issue

[2021-09-24 20:45] cartertinney commented on #741
@khoathecoolest

A fix for this issue has been released as part of the latest version (2.6.0) of the azure-iot-hub package.

Please let us know if this addresses the issue.

[2021-09-24 20:46] cartertinney commented on #837
PR #844 has been merged. We are doing some final testing before release.

[2021-09-27 13:20] asayeedi commented on #423
from azure.iot.hub import IoTHubRegistryManager
from azure.iot.hub.protocol.models import QuerySpecification

iotrm = IoTHubRegistryManager(MY_CONNECTION_STRING)
q = QuerySpecification(query="SELECT * FROM devices")
iotrm.query_iot_hub(q)

ERROR:

Unable to build a model: Unable to deserialize to object: type, AttributeError: 'str' object has no attribute 'get', DeserializationError: Unable to des

[2021-09-27 13:28] asayeedi opened #859 "IoTHubRegistryManager.query_iot_hub throws msrest.exceptions.DeserializationError"
OS and version used: Windows 10
Python version:  3.9.1
pip version:  20.2.3
azure-core==1.18.0
azure-eventhub==5.6.0
azure-iot-device==2.7.1
azure-iot-hub==2.5.0

Steps to reproduce:

from azure.iot.hub import IoTHubRegistryManager
from azure.iot.hub.protocol.models import QuerySpecification

iotrm = IoTHubRegistryManager(MY_CONNECTION_STRING)
q = QuerySpecification(query="SELECT * FROM devices")

[2021-09-27 15:20] danhellem commented on #851
@lmazuel we have not heard from you in few days. We will be closing this issue if we don't hear back by 10/1.

[2021-09-29 00:06] cartertinney commented on #856
@robbinvandamme

The difference between a ClientError and an OperationCancelled generally has to do with the source of the problem.

If there is a direct failure while trying to execute a task/operation via the APIs, you'll generally get a ClientError, or perhaps something more specific (e.g. ConnectionFailedError). An example might be that an error is raised while attempting to connect.

Operatio

[2021-09-30 11:30] asayeedi opened #860 "How read All the IOT HUB devices C2D messages in python"
In azure IOT Hub, I have multiple IoT Edge devices and I want to read all the cloud to device messages in python. I am unable to find the way how to read all the devices messages from cloud to device. I have tried paho.mqtt and azure.iot.device.aio, it works perfect for the one device.

Please suggest how to achieve this in Azure using Python.

[2021-09-30 14:51] anthonyvercolano commented on #860
@asayeedi, I'm a bit unclear about your question.  A device client can ONLY read messages sent to that device id.

[2021-09-30 15:54] asayeedi commented on #860
Hi Anthony,

I have an API, from where I get the list of all IoT Edge devices with their connection strings and I want to use these details for reading their C2D messages for all the devices using python IoTHubDeviceClient.

Please suggest how to achieve this.

[2021-09-30 19:42] cartertinney commented on #860
@asayeedi

The client is intended to represent a single device - you cannot simply use all your connection strings from all devices on a single device. The idea is that on each device you run an instance of the client, and run device-specific application code there.

If you are using Edge (which it sounds like you are), perhaps you could dedicate a module to processing messages received from all d

[2021-09-30 20:32] asayeedi commented on #860
Hi Carter,

Basically I want to get the data from the devices, which is received from the cloud every time for every devices.
Using all the devices connection string in client is not the correct way.
So, could you please explain or share some examples for implementing this what you explained **_If you are using Edge (which it sounds like you are), perhaps you could dedicate a module to processing

[2021-10-01 08:16] robbinvandamme commented on #856
@cartertinney
Thanks for your reply.

Yes I know there is an automatic reconnect policy if a connection has been established. But there hasn't been a successful connection with the IoT-Hub in this case. So I need to manually try to get the first connect to work in some kind of loop.

So if I understand correctly, I should also be expecting OperationCancelled exceptions when trying to setup the con

[2021-10-01 18:48] cartertinney commented on #860
@danhellem should be able to provide some assistance in this regard

[2021-10-01 19:18] cartertinney commented on #856
@robbinvandamme

Ah yes, I see, you're trying to establish first connection. Like I said, what's happening is that the operation is timing out, so we're cancelling it. Arguably perhaps those semantics could be better, and should reflect what's happening at a higher level of abstraction - that the connection fails due to timeout. I may try and adjust this when I get a chance. I would suggest that i

[2021-10-04 09:08] robbinvandamme commented on #856
@cartertinney

Since I have my own loop to try to setup the first connection, or try to set it up after we have manually closed it, is there a way to know if the SDK is automatically trying to re-establish the connection already?

This way I could keep my loop running and before calling connect(), I could check if the SDK is already automatically trying to re-establish the connection and skip my c

[2021-10-04 09:31] asayeedi commented on #860
Hi @danhellem,
My requirement is as I receive the connection string of each devices and the IoT hub name from the API and I want to get all the cloud to device messages in python. I am unable to find any way for doing this.

[2021-10-04 09:31] asayeedi commented on #860
Hi @danhellem,
My requirement is as I receive the connection string of each devices and the IoT hub name from the API and I want to get all the cloud to device messages in python. I am unable to find any way for doing this.

[2021-10-04 14:25] danhellem commented on #860
@asayeedi just to make sure I understand what you are trying to do. Is this picture accurate?

![image](https://user-images.githubusercontent.com/10525048/135868690-93802bbd-7c6a-49c9-a648-3f58af2f05d1.png)

1. you have many devices
2. C2D message is sent from Azure to a device
3. you want to track every message that is sent to the each device?

[2021-10-04 14:28] asayeedi commented on #860
@danhellem
Yes, I want to read every messages sent to each device

[2021-10-04 14:29] asayeedi commented on #860
@danhellem
Yes, I want to read every messages sent to each device

[2021-10-04 14:48] asayeedi commented on #860
@danhellem Yes I want read messages that is sent to many devices from Azure

[2021-10-04 14:53] danhellem commented on #860
The easiest path, if you control the C2D message, you could just wait for the device response and then log it.

if you don't control who is sending the device a message, you could then add extra code on device to log the message to a external service. This may or may not work for you.

Finally, you could use an IoT Edge module and have that be used as a pass thru between Azure and the device. That

[2021-10-04 16:14] #851 closed

[2021-10-04 16:31] asayeedi commented on #860
@danhellem
I am unable to find any example/blogs to implement the way you suggested **_Finally, you could use an IoT Edge module and have that be used as a pass thru between Azure and a set of devices. That IoT Edge module could then look at the messages, send them to the right devices, and also log the message._**

Could you please explain or share some examples/links for implementing this. This

[2021-10-04 16:36] danhellem commented on #860
@asayeedi yeah it looks like I misspoke. I just checked with the owners of IoT Edge and C2D is not supported yet in edge modules. So it looks like the first 2 are the only feasible options right now. Sorry for the ooops

[2021-10-04 18:39] danhellem commented on #860
@asayeedi I did some more digging. It looks like you can do a DM from Edge Module to a leaf device. There is an example here.

https://github.com/AzureIoTGBB/azure-iot-edge-hol-linux

But I don't think a C2D message works

[2021-10-04 20:32] asayeedi commented on #860
@danhellem  If I call below function with devices connection string on loop and If I send data from Device Explorer Twin sometime it receives the message but most of the time it didn't, even after the loop restart for each devices it didn't receive the message. Is it the correct way or it need some changes, Please suggest

`async def main(con_str):
    try:
        conn_str = con_str
        devic

[2021-10-05 18:11] danhellem commented on #860
if you are looking for samples to receive a message, these should help. I have not seen any instances of the devices not receiving messages. If you still run into the issue let me know and I can go investigate.

https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/async-hub-scenarios/receive_direct_method.py

https://github.com/Azure/azure-iot-sdk-python/blob/master/a

[2021-10-05 18:11] #860 closed

[2021-10-05 20:56] #841 closed

[2021-10-05 21:07] cartertinney commented on #856
@robinvandamme

If you have not explicitly disabled `connection_retry` then it will be attempting to re-establish the connection every `connection_retry_interval` number of seconds (default: 10).

There is no way to check exactly if it's currently happening, but it shouldn't matter as it doesn't interfere with manual connects - connecting while already connected does not fail, it automatically suc

[2021-10-05 22:06] cartertinney commented on #859
I have been unable to reproduce this issue. It appears that the response you are receiving back from your IoT Hub is formatted in some way that the client is not able to deserialize into a Python object.

Can you add the following lines to the beginning of your application and post the resulting logs:

[code]

Additionally, any information you can provide about your Hub (tier, number of devices, e

[2021-10-05 22:37] asayeedi commented on #860
@danhellem
I wanted to confirm one thing that if I send a message from the Device Explorer Twin and after that I execute below code `python receive_message.py`. Then in this case it will print the message in console or not?

In my case if I send the message from Device Explorer Twin and after sending the message, I execute below code but I didn't receive the message in console but after executing

[2021-10-06 08:22] ChenCheng368 opened #863 "[Technical Question]Port "set_module_twin_callback" and "set_module_method_callback" in SDK v1 to v2"
Hi, could anyone can help to clarify this?

I am porting python solution from azure iot SDK v1 to v2. Is there any corresponding APIs for "set_module_twin_callback" and "set_module_method_callback" in SDK v2? As it seems they are completely removed in v2. if so, how can I invoke module method and module twin? Is there any example code for this purpose?

Thanks a lot for any advice!

[2021-10-08 01:22] #863 closed

[2021-10-10 06:06] ChenCheng368 opened #868 "[Technical Question] IoThub never receive message from Edge device module via SDK v2 send_message_to_output"
Hi, may @cartertinney or anyone in the forum can help on this?

I have a custom edge module which using azure python SDK v2 to send message to iothub. The message should be reasonably sent out from edge device via module_client.send_message_to_output(), as there is no error assertion. However the iothub never receive any message.

**the sending code is as below:
print("sending message")
module_cli

[2021-10-10 06:18] ChenCheng368 commented on #868
FYI. The edge device is using runtime module v1.2

[2021-10-10 14:43] ChenCheng368 commented on #868
close the issue as the root cause was found: I am using async receiving APIs, while send_msg API is sync.
after changing module_client.send_message_to_output to be async, the message can be sent out correctly.

[2021-10-10 14:43] #868 closed, assigned to nobody

[2021-10-11 17:21] cartertinney commented on #856
@robbinvandamme

Also, worth pointing out that the latest release of the azure-iot-device package fixes the aforementioned issue with SAS renewal I had mentioned.

[2021-10-12 18:08] cartertinney commented on #837
@kodonnell

We released a package on Friday with stabilization changes for connections. My apologies at the delay in release, but we hope that the result will address your issues.

[2021-10-12 23:43] #837 closed

[2021-10-13 15:43] xiangyan99 opened #873 "Problem defining a proxy option"
This is reported by a customer @eng-khaled1 in azure-sdk-for-python repo:

---

Hello,

I am trying to configure a proxy option for the IOThubDeviceclient as suggested in the documentation:
client = IoTHubDeviceClient.create_from_connection_string(CONNECTION_STRING, proxy_options=( 'SOCKS5' , 'http://**.***.***.***', '8883', None, None))

but I keep getting the error message

AttributeError: 'tupl

[2021-10-13 19:50] eng-khaled1 commented on #873
Hi there,
thanks a lot for your support
i installed azure-iot-device    2.8.0 but am  still getting the same error

[2021-10-15 16:07] MrVhek opened #878 "[Technical Question] Is there any way to know from device side after authentication if a device is already connected ?"
Hello,

With my company we're trying to use IoT Hub to develop a solution where basically there will be gateways that will connects to bluetooth peripherals from times to time (if on range and there is something to do with).

For that purpose, we've designed a solution where we will have a IoT Hub device per gateway and one per bluetooth peripheral. The problem is that sometimes, two gateways will

[2021-10-15 17:20] cartertinney commented on #878
There is an attribute on the client called `.connected` that can tell you the connection status.

e.g.

[code]

[2021-10-15 17:54] #859 closed

[2021-10-15 18:20] MrVhek commented on #878
This indicator is not the best because the device keep disconnecting and reconnecting and so it changes over time but I can use it like this:

[code]
I don't know if this is the best way but it seems to work. Do there is a retry policy that we can associate with the connect ?

Thanks for your help

[2021-10-15 18:46] cartertinney commented on #878
Currently we don't support automatic retry of the `.connect()` operation. However, when a device becomes successfully connected, and then later the connection is dropped for some reason (intermittent network failure, for example), it will automatically try and reconnect by default. This is likely what you are seeing.

You can turn this behavior off if you want to control connection completely manu

[2021-10-15 20:10] #878 closed, assigned to cartertinney

[2021-10-19 09:05] eng-khaled1 commented on #873
@cartertinney,

yes, many many thanks.

[2021-10-19 17:31] #873 closed, assigned to cartertinney

[2021-10-19 22:28] cartertinney commented on #735
Unfortunately this feature is not able to be supported. We are looking at attempting to enhance our error story in the near future, however it won't bring any specificity to this exact issue as the IoTHub does not specify why it closes a connection.

However, we have mitigated this with several features in releases over the past few months - automatic reconnection can now be disabled via the `auto

[2021-10-19 22:28] #735 closed

[2021-10-22 14:23] asayeedi opened #885 "Getting error Task was destroyed but it is pending! after receiving 3rd message from the Cloud to device"
Hello,

I have created a client using python, it received three messages but just after receiving the third message it gives error Task was destroyed but it is pending!
**The length of the message is around 7880 characters in single line**

Code--
`import os
import asyncio
from six.moves import input
import threading
from azure.iot.device.aio import IoTHubDeviceClient

async def main():
    # The

[2021-10-29 20:57] cartertinney commented on #885
@asayeedi

It appears something is causing your application to exit early and unexpectedly, thus the client is not shutting down gracefully, and the errors you're seeing are appearing. The cause is somewhat unclear from these logs.

I've put together a sample that is the same as the one you had before in functionality, but has better handling of the application exit. Can you give this a try and po

[2021-10-31 17:52] holgerpieta opened #891 "Python 3.10 / Janus 0.6.2"
# Context

- **OS and version used:** Windows 10
- **Python version:** 3.10
- **pip version:** 21.3.1
- **list of installed packages:**
aiohttp             3.7.4
async-timeout       3.0.1
attrs               21.2.0
azure-iot-device    2.8.0
certifi             2021.10.8
chardet             3.0.4
charset-normalizer  2.0.7
deprecation         2.1.0
idna                3.3
janus               0.4.0
m

[2021-11-01 17:51] cartertinney commented on #891
@holgerpieta

Thanks for pointing this out - we haven't tried this out in Python 3.10 yet, so we'll look into getting this addressed as soon as possible

[2021-11-01 23:10] cartertinney commented on #891
@holgerpieta This has been addressed in #892 and will be included as part of the next release

[2021-11-02 11:58] amit12cool opened #896 "[Technical Question] How to securely save DPS host and scope in device"
I see at this line https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/async-hub-scenarios/provision_x509.py#L15 the dps host is accesses from the env variables. Is it the secure way to save the credentials in env on a device or there is some other way to save credentials on a device?

[2021-11-02 13:38] anthonyvercolano commented on #896
Actually, the value(s) referenced in the OP link are not particularly important secure information.  What should be treated as something to be protected are: https://github.com/Azure/azure-iot-sdk-python/blob/f91870e1ec666df4b850e175ecb3734eed149392/azure-iot-device/samples/async-hub-scenarios/provision_x509.py#L24 and the following line.

 Securing these secrets is a pretty big topic.  What is th

[2021-11-03 00:48] cartertinney commented on #891
@holgerpieta This has been included as part of azure-iot-device 2.9.0, now available via pip

[2021-11-03 00:48] #891 closed

[2021-11-04 08:29] amit12cool commented on #896
Thanks for the response. I understand that cert keys are something that we need to make sure are secured.
On the other hand, I see in the case of iot edge or say I'm using docker on my device where should the registry credentials be saved to fetch the docker images from say ACR.

[2021-11-04 12:19] jonathon793 opened #899 "ProvisioningDeviceClient leaking file descriptors on failure to provision"
# Context

- **OS and version used:** Ubuntu Core
- **Python version:** 3.8.5
- **azure-iot-device:** v2.9.0

## Description of the issue

I have been running into file descriptors building up over time during connection/disconnect cycles using the Python Azure SDK. I've narrowed down at least one of those leaks to the ProvisioningDeviceClient process.
I have been using:
`ProvisioningDeviceClient.

[2021-11-04 17:23] cartertinney commented on #899
@jonathon793

I have some ideas about what may be causing this - can you post your code?

[2021-11-04 17:34] cartertinney commented on #885
@asayeedi

Following up - please let me know how the sample above works. If we don't hear from you in a few more days we'll have to close this issue due to inactivity.

[2021-11-04 17:44] jonathon793 commented on #899
Thank you for taking a look!

This is much simplified from what I'm working with, but it demonstrates the problem in a clearer way

[code]

[2021-11-04 17:51] cartertinney commented on #899
@jonathon793

I suspect the issue is likely that you're instantiating the client again every time you retry, thus opening a new fd without allowing the previous one to close. Try moving the client instantiation outside of the loop

[code]

[2021-11-04 17:56] jonathon793 commented on #899
what happens, if for example, the scopeId I need to provision to changes?  is there a proper way to dispose of the client before creating a new one?

[2021-11-04 18:00] cartertinney commented on #899
@jonathon793

The client should properly dispose of itself after a successful register. It is only in the fail case where the client will keep the connection open (so that you can try again!)

[2021-11-04 18:05] jonathon793 commented on #899
thanks for that information! that's really good to know/understand.
I'll try updating my code to handle that behavior.

[2021-11-05 11:21] asergaz commented on #899
Related Microsoft Q&A Thread: https://docs.microsoft.com/en-us/answers/questions/614016/index.html

[2021-11-08 18:26] mbrierley01 opened #900 "Issue changing from deprecated receive_message_on_input to on_message_received"
# Context

- **OS and version used:** Raspbian GNU/Linux 10
- **Python version:** 3.7.3
- **pip version:** pip 18.1

## Description of the issue

When changing away from deprecated receive_message_on_input to on_message_received module no longer receives incoming messages from another module giving reason "Error while receiving data: 'NoneType' object is not callable"

## Code sample exhibiting th

[2021-11-08 19:49] cartertinney commented on #885
Closing due to inactivity. Please open a new issue if the problem persists.

[2021-11-08 19:49] #885 closed

[2021-11-08 19:49] cartertinney commented on #899
@jonathon793

Has this addressed your issue? Are we able to close this item?

[2021-11-08 19:53] cartertinney commented on #900
@mbrierley01

This is happening because you are trying to use the new client construct like the old API, but they function differently. The new handlers are like callbacks, rather than the poll-style API from before.

Please refer to [this sample](https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/async-edge-scenarios/receive_data.py) to see an example of how to do

[2021-11-09 10:45] jonathon793 commented on #899
yes, thank you very much!

[2021-11-09 18:09] #899 closed

[2021-11-10 16:38] mbrierley01 commented on #900
@cartertinney Hi thank you for the response. I'm working through the samples sent currently, but wanted to ask does this mean the tutorial here: [https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-python-module?view=iotedge-2020-11](url) is no longer valid? Is there a more up to date tutorial to be referenced in the future?

[2021-11-11 22:13] cartertinney commented on #900
Yeah, that's correct. That sample is out of date - I thought I had updated them all, but clearly this one slipped through the gaps. I will get to work on fixing this sample now, but for the meantime look at the Edge samples in our repository (like the one I linked above) for how to implement the code itself.

[2021-11-15 17:38] cartertinney commented on #900
@mbrierley01

You should find that the tutorial from MS Docs has now been updated.

[2021-11-19 19:16] #900 closed

[2021-11-22 17:44] anthonyvercolano commented on #896
We as the SDK don't provide any mechanisms for secure storage of keys.  It SO much depends upon your particular hardware and OS.  Again I would suggest you explore some of the security publications that we've published and look at your OS documentation and whether you have some kind of secure element on your hardware.

[2021-11-23 09:23] Alessandro-Irinox opened #907 "[Technical Question] Get the connection string of azure iot hub devices in python code"
I would need a way to get the device twin connection string through a function that takes deviceId as a parameter. I currently use the method below, but I have various problems because it takes too long.

[code]

[2021-11-23 10:44] #907 closed

[2021-11-29 15:33] jhanit-bh opened #911 "Overflow error"
When running azure-iot-sdk-python 2.9 i get the following error
i am running Python 3.9 on Windows x64. the code still executes and the messages are sent but this error occurs every time.

IoTHub Device Client Recurring Telemetry Sample
Press Ctrl+C to exit
Traceback (most recent call last):
  File "C:\Program Files\Python39\lib\threading.py", line 574, in wait
    signaled = self._cond.wait(timeo

[2021-11-29 16:44] danhellem commented on #911
@jhanit-bh I just got the latest on the repo and I am running the `async-hub-scenarios\send_message.py` and it is not producing any errors.

I am running python38.

can you confirm this is the same sample?

@cartertinney any reason why python39 would be an issue?

[2021-11-29 16:45] danhellem commented on #896
Closing this issue.

[2021-11-29 16:45] #896 closed

[2021-11-29 16:55] jhanit-bh commented on #911
@danhellem  its the azure-iot-device/samples/sync-samples/recurring_telemetry.py example that I am running. Python 3.9.5 is the exact version. Also happens in python3.6

[2021-11-29 17:44] danhellem commented on #911
@jhanit-bh hmmm, I just tested that out that as well and it seems to be working fine.

@cartertinney any thoughts?

[2021-11-29 17:45] danhellem commented on #911
@jhanit-bh do you get the exceptions right away or does it take some time?

[2021-11-29 19:13] jhanit-bh commented on #911
the exception is right away.
setting a breakpoint before this line the value is site-packages\azure\iot\device\common\alarm.py the value of interval is 5458506.257889032

[2021-11-29 21:39] cartertinney commented on #911
@jhanit-bh

Based on what you're saying, it seems that your SAS Tokens last about.... 63 days? Is this correct?

[2021-11-29 22:01] jhanit-bh commented on #911
@cartertinney i am using the function IoTHubDeviceClient.create_from_sastoken(sas_token_str,  websockets=True) this function doesn't accept the sastoken_ttl keyword.

[2021-11-29 22:04] cartertinney commented on #911
@jahnit-bh

I see. What is the TTL on the SAS Token you are passing in? Is it 63 days?

[2021-11-29 22:05] jhanit-bh commented on #911
@cartertinney yes the token is valid for 63 days. expiry is set to 01.02.2022 00:27:45 GMT+01:00. the tokens were generated by a customer which has the iot hub instance setup.

[2021-11-29 23:21] cartertinney commented on #911
@jhanit-bh

It seems we don't properly support token TTLs of this length, whether customer provided or generated by the client itself from a connection string.

I'm going to investigate further and see if we can fix this.

[2021-11-30 00:09] cartertinney commented on #911
@jhanit-bh

Would the customer be okay with the tokens being refreshed more than every 63 days? Their tokens are valid for 63 days, but is it okay for the client to replace one every 49 days?

[2021-11-30 06:49] jhanit-bh commented on #911
@cartertinney In our case the device won't be online all the time but 49 days would also work.

[2021-12-02 21:19] cartertinney commented on #911
This issue is tracked in #912

[2021-12-03 23:18] cartertinney commented on #911
@jhanit-bh

This fix for this issue in #912 has been merged to main branch and will be included in our next release

[2021-12-03 23:18] #911 closed

[2021-12-07 07:30] gorleabhinav opened #914 "SSL: CERTIFICATE_VERIFY_FAILED"
hello,
i am facing one weird issue, i am running python sdk on arm board. and trying to create device using azure provisioning services, device is being created in first 2-3 trails( once device created i am deleting it and again trying  to create it), after that when i tried to create again, getting below error:
[code]

i tried with updating certifi module ```pip install --upgrade certifi``` but s

[2021-12-07 15:42] jonathon793 opened #915 "Provisioning Client timeout after failed Authentication Exception"
# Context
- Ubuntu Core
- Python 3.8
- azure-iot-device==2.9.0

## Description of the issue

I'm working on a device which does not have an RTC, thus, when it first starts up, we do not have correct time.
As a result, if we attempt to Provision with a certificate after we connect to the cloud, but before NTP has synced time, we get a `exceptions.TlsExchangeAuthError`, which is expected since the c

[2021-12-08 22:27] cartertinney commented on #914
@gorleabhinav

A couple things:

1) Can you try updating to a more recent version of `azure-iot-device`? 2.1.4 is quite old, and we have made numerous improvements to stability since.

2) If the problem persists after updating, can you please post a sample of your code so we have some idea how your application is running?

3) Can you also try adding the following lines to the beginning of your app

[2021-12-08 23:10] cartertinney commented on #915
@jonathon793

I have some ideas about what might be causing this, but I need a bit of help to reproduce this issue - it seems that you're using X509 certificates now (wheras in #899 you were using symmetric key auth). Are there any other auth or config changes you've made? Also, what exactly is the reason the certs are failing due to lack of time sync? Is the certificate appearing to have already

[2021-12-09 08:07] gorleabhinav commented on #914
@cartertinney ,
i have updated modules on the board, still i am getting same error. i am attaching log file log.txt and code file(python file) azure_iot_device_register.txt

library version:
azure-common==1.1.27
azure-core==1.21.1
azure-iot-device==2.9.0
azure-servicebus==7.4.0
azure-storage-blob==12.9.0
[log.txt](https://github.com/Azure/azure-iot-sdk-python/files/7683263/log.txt)
[azure_iot_devi

[2021-12-09 11:15] jonathon793 commented on #915
that's the only configuration change, according to the log the cert is not valid yet:

[2021-12-10 23:43] cartertinney commented on #914
@gorleabhinav

I want to clarify a couple more things about your exact process here. This is my understanding, and correct me if I'm wrong

1) You run your application (`azure_iot_device_register.py`) and successfully register the device
2) You manually delete the device registration (via the Portal or some other tool)
3) You repeat steps 1 and 2 several times
4) On the fourth attempt, you begin g

[2021-12-16 15:13] jonathon793 commented on #915
@cartertinney , were my answers sufficient? any other information that could be helpful?

[2021-12-16 15:14] robbinvandamme opened #923 "[Technical Question] iot-hub-device "connected" member and its behaviour."
Hi,

I'm using:
azure-iot-device==2.9.0

In my application I have a job monitoring the iot-hub-device his connection state via the read-only "connected" member.
I monitor this state every second, when changed, we emit an event.
On a number of devices I see that they often send me a disconnected event and one second later a connected event.
So this member "connected" returns False for at maximum on

[2021-12-16 23:19] cartertinney commented on #914
@gorleabhinav

Having some trouble reproducing this issue still. Some follow up questions:

1) Are you using group or individual enrollments?
2) Are you using the same device certificate the entire time?
3) Are you only deleting the enrollment record or also the device from the IoTHub?

[2021-12-16 23:27] cartertinney commented on #923
@robbinvandamme

Yes, it's due to token refresh. Refreshing the token requires us to disconnect and reconnect the client, thus the connection state will briefly change - we don't hide this aspect of the functionality by suppressing the disconnection, after all, there could be failures during reconnect, etc.

If you're trying to monitor the state, I also might recommend using the `.on_connection_st

[2021-12-17 00:17] cartertinney commented on #915
@jonathon793

I have been able to repro the issue, working on figuring out what the issue is now. Will hopefully have an update for you soon.

[2021-12-17 07:51] gorleabhinav commented on #914
@cartertinney
1. group enrollment.
2. I am using same certificate.
3. deleting from both.

[2021-12-17 08:16] robbinvandamme commented on #923
@cartertinney
Thx for you quick reply!

Yes I'm aware of the .on_connection_state_change functionality, but the job running every second will still be there for other reasons and read the "connected" member is very cheap.

However, I could stop reading the "connected" member and use the .on_connection_state_change event if it doesn't get emitted on a token refresh.
If .on_connection_state_change i

[2021-12-17 08:36] cartertinney commented on #923
@robinvandamme

Ultimately, our current design philosophy is not to try and hide what's going between the Device and the IoTHub. SAS Token renewal will cause a disconnect, and then a connect.

These disconnect/connects show up in IoTHub logs, so we want to be transparent about the behavior in order to prevent confusion.

[2021-12-17 08:47] robbinvandamme commented on #923
@cartertinney
OK, I understand.

But the drawback is that, we as user of the sdk, need to figure out our-self if it was just a quick reconnect due to a token refresh or a real disconnect. I can image that there are a lot of cases where we don't want to start the "disconnect" logic or procedure due to a token refresh, because in 99% of the time we will only be disconnected for 1sec (or even less th

[2021-12-17 19:05] cartertinney commented on #923
@robbinvandamme

There is enough robustness to deal with that scenario. The method call will either finish before the token refresh happens, or wait until after token refresh has finished. If the token refresh fails to reconnect due to network failure, there may also be a failure on the direct method call due to the same failure.

If you're looking for a way to catch when there is some kind of fai

[2021-12-17 19:11] robbinvandamme commented on #923
@cartertinney thx!

[2021-12-17 19:11] #923 closed

[2021-12-17 20:46] cartertinney commented on #914
@gorleabhinav

I am still unable to reproduce. I have followed the steps you have provided exactly (including using your `azure_iot_device_register.py` code you provided) and am able to provision 10+ times in a row. I have tried variations as well, including individual enrollments rather than group, and modifying the device client logic.

I do not think the issue you are experiencing is related to

[2021-12-21 12:26] jonathon793 commented on #915
@cartertinney , any update yet?

[2021-12-22 19:40] cartertinney commented on #915
@jonathon793

I think I've found the issue - certificates can only be loaded once, and that happens at client creation, when your clock has not yet synced time with the NTP.

An assumption in the client design is that once you create the client, nothing should be changing. In this case, because the certificates aren't valid when you create the client, it makes the client unusable. This is why befo

[2021-12-29 19:31] blecoffee opened #925 "PIP3 Install Error using Python 3.8.6"
When I try to install it, there was an error relating to urllib3

Python version :  3.8.6

--Error Message--

`ERROR: requests 2.22.0 has requirement urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you'll have urllib3 1.26.7 which is incompatible.
Installing collected packages: urllib3
  Found existing installation: urllib3 1.25.9
    Not uninstalling urllib3 at /usr/lib/python3.8, as it is in the st

[2022-01-02 00:31] blecoffee commented on #925
I installed urllib3-1.25.11 manually, then I could succeed to connect to my IoT Hub using Python 3.8.6

[2022-01-02 00:31] blecoffee commented on #925
I installed urllib3-1.25.11 manually, then I could succeed to connect to my IoT Hub using Python 3.8.6

[2022-01-02 00:31] #925 closed

[2022-01-06 05:41] olivakar commented on #914
@gorleabhinav some questions if they have not been clarified before :

1. What kind of group enrollment record have you created ? ca certificate or intermediate certificate ?
2. Have you previously done a proof of possession of the ca certificate in your chain ?

[2022-01-10 19:33] cartertinney commented on #915
@jonathon793

Were the above options sufficient to mitigate your issue?

[2022-01-10 19:53] jonathon793 commented on #915
@cartertinney , yes.  thank you very much

[2022-01-11 20:11] #915 closed

[2022-01-13 19:13] #914 closed

[2022-01-19 13:02] adityavikramdev opened #929 "Python IOT SDK - File not found error for x509 certificate authentication"
I am writing a IOT Edge module for C2D communication  using python SDK.
While running it as a layered deployment, there are errors with device client authentication.

Using device identity certificate for authenticating which is in pem format.

The code is :

    certfile = open("CERT_FILE.pem", "r")
    keyfile = open("KEY_FILE.pem", "r")
    print(certfile.read(), "\n", keyfile.read()) # this pr

[2022-01-19 14:48] olivakar commented on #929
The X509 object just requires the file paths of the certificate and the key.  It does NOT need the contents of those files.

[2022-01-19 19:12] adityavikramdev commented on #929
Updated the code with that

x509 = X509(
        cert_file="/var/secrets/pydemo-identity.crt.pem",
        key_file="/var/secrets/pydemo-identity.key.pem",
        # pass_phrase=os.getenv("PASS_PHRASE"),
    )

But i don't get any logs from the container for this.
So not sure if this really works or not.
I am using the device identity cert for authentication

[2022-01-20 19:44] olivakar commented on #929
Are there any problems that you are still facing with this code ?

[2022-01-22 15:52] anthonyvercolano commented on #929
@adityavikramdev we are waiting on a reply from you.

[2022-01-24 04:39] adityavikramdev commented on #929
The docker container starts and keeps running. But there are no logs.
The device identity cert used is a chain cert which is a combination of 3 certs (device-identity cert, intermediate cert, root cert).
So there are no logs for the container id, hence I am not sure if the module is authenticated properly to be ready to receive message.

[2022-01-25 22:19] olivakar commented on #929
If you need logging for our python SDK , you can enable logging to the python SDK using.
[code]

[2022-01-25 22:22] olivakar commented on #929
Couple of questions :

1. Are you trying to connect to the IoT Hub directly  or are you trying to use edge ?
2. Is there any specific reason as to why you are using a docker container ?

[2022-01-25 22:26] BertKleewein commented on #929
Here's a random idea: I had a docker container running a Python app (unrelated to Azure) that wasn't recording logs. I ended up fixing it by change my Dockerfile to specify unbuffered output. I don't remember ever needing to do this before, and I don't know why this would matter (buffering should only _delay_ the output), but this fixed it:
[code]

[2022-01-25 22:27] anthonyvercolano commented on #929
@adityavikramdev - Actually, we're getting to a whole different problem here.  I would ask you to close this original issue, and file a new one around the problems you are now experiencing with the lack of logs

Also, you should *never* put a private key into a github issue.  You probably should consider having a new certificate.

[2022-01-26 14:42] robbinvandamme commented on #548
@BertKleewein
I have an issue that could be related to this one.
It's an issue we have at a customer, I was not able to reproduce it myself (yet).

I'm using azure-iot-device==2.9.0.

What happens:

* application is working fine
* setup gets rebooted (i think including router and stuff like that)
* out gateway boots faster then the router I suppose and at startup, no internet connection available

[2022-01-26 15:39] robbinvandamme commented on #923
@cartertinney
Is it allowed to call connect() when using the connection_retry option, or will this cause issues?
If this causes issues, is there a way to know if auto-reconnect is running?

[2022-01-26 16:02] robbinvandamme opened #931 "Connection reset by peer but never recovers until restart."
# Context

- **OS and version used:** embedded linux
- **Python version:** python3.7
- **list of installed packages:** azure-iot-device==2.5.1

## Description of the issue

* application/iot-hub-device-client is working fine.
* iot-hub-connection gets dropped ([Errno 104] Connection reset by peer)
* iot-hub-connect never recovers
* rest calls to other servers in the same application still work
* i

[2022-01-26 19:01] cartertinney commented on #931
@robbinvandamme There have been significant improvements to connection stability since 2.5.1, so the first thing I would do is try updating it and seeing if the problem persists.

[2022-01-26 19:09] robbinvandamme commented on #931
@cartertinney ok an updated was planned in the upcoming weeks. Lets hope it doesn't come back.
thx!

[2022-01-26 19:16] #931 closed

[2022-01-27 07:38] yogeshmpandey opened #933 "[Technical Question] Running into strange issue while running the sample"
Hi,

I am following this tutorial to run the sample for Azure IOT SDK: [https://docs.microsoft.com/en-us/azure/iot-develop/quickstart-send-telemetry-iot-hub?pivots=programming-language-python#prerequisites](https://docs.microsoft.com/en-us/azure/iot-develop/quickstart-send-telemetry-iot-hub?pivots=programming-language-python#prerequisites)

But I am running into this issue while running the sample

[2022-01-27 09:24] robbinvandamme commented on #548
@BertKleewein
I do see that ares_init() gets called in de azure device client C sdk at some places.
However, I'll try to call res_init() myself before calling connect() and see how it goes.
Could be that that initial issue of this topic is solved and including my last post.

I'll come back with the results :-).

[2022-01-27 11:57] #933 closed

[2022-01-27 16:26] andreashappe opened #934 "Trying to use IoTHubDeviceClient.send_message with a Message throws an exception"
# Context

- Ubuntu 21.10
- Python 3.9.7
- VirtualEnv is used, thus:
[code]

## Description of the issue

I use code mostly copied form the official documentation and try to use IoTHubDeviceClient.send_message with a Message. This throws an exception.

## Code sample exhibiting the issue

[code]

"createDeviceToCloudStati" returns an Array populated with Collections, i.e., should be easily be seri

[2022-01-28 00:00] cartertinney commented on #934
@andreashappe

We don't currently serialize complex objects that are passed into Message. You must serialize your array of collections.

[2022-01-28 07:13] andreashappe commented on #934
@cartertinney : ah.. yes, that fixed it, thank you. Small suggestion: could you throw the exception directly in the Message-constructor? That might make usage clearer, I was debugging the wrong area (if it's okay in principle, I can try to create a patch for that).

[2022-01-28 10:14] ismailuddin opened #935 "bug: Assertion error raised due to _reauthorize not running in pipeline thread"
# Context

- **OS and version used:** Windows 10
- **Python version:** 3.9.7
- **pip version:** 21.2.3
- **list of installed packages:**
attrs==21.2.0
azure-core==1.21.1
azure-iot-device==2.9.0
azure-storage-blob==12.9.0
backcall==0.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
colorama==0.4.4
cryptography==36.0.0
decorator==5.1.0
deprecation==2.1.0
idna==3.3
ipython==7.30.1
isodat

[2022-01-28 13:23] robbinvandamme commented on #548
@BertKleewein
I was able to reproduce this by switching between networks.
Also got it fixed (or at least a workaround) by calling __res_init() right before calling connect().

When connection drops due to network switch I check the connection state and if its disconnect, I again call __res_init().

That did the trick but I'm not convinced the user of the sdk should keep the resolver/dns settings u

[2022-01-28 23:47] nabeelmsft opened #936 "on_message_received property not documented"
## Description of the issue

When reading the documentation for receive_method_request method at https://docs.microsoft.com/python/api/azure-iot-device/azure.iot.device.aio.iothubmoduleclient?view=azure-python#azure-iot-device-aio-iothubmoduleclient-receive-method-request
the following comment appears:
Deprecated since version 2.3.0: We recommend that you use the "on_method_request_received" prope

[2022-02-01 05:44] cartertinney commented on #936
This seems to be an issue with the doc generation - the source code does have the documentation available, but it seems to have not populated to the web documentation.

Thanks for bringing this to our attention, we'll look into getting the documentation fixed as soon as possible.

[2022-02-01 05:46] cartertinney commented on #934
I can probably do something to that effect. I'll try and slip it into the next release.

[2022-02-01 05:56] cartertinney commented on #935
Thanks for bringing this to our attention. I'll begin taking a look into this.

[2022-02-02 21:44] yosefgouda2020 opened #937 "[Technical Question] mqtt transport disconnected with result code: 7"
Dear,

I am using receive_message.py from SDK and when I tried to receive message from IOT hub I got these errors
so if someone can help it will be great.
[code]

Thanks,

[2022-02-02 22:37] cartertinney commented on #937
@yosefgouda2020

Looks like for whatever reason the connection is being lost (that's what the 7 means). However, it looks like from your log that immediately after the connection is lost, the automatic reconnection kicks in, and the connection is successfully re-established.

Is this correct? Does the client proceed to function correctly?

[2022-02-02 23:15] yosefgouda2020 commented on #937
@cartertinney

Thank you for your reply but this happen every time I sent a message from another device and try to receive it using the script but the script only receive data from Azure IoT Explorer so if I send a message from Azure IOT Explorer I received it correctly but when I tried to send data using device eve times I send a message I got this exception and then disconnect.

[2022-02-03 00:32] cartertinney commented on #935
This issue is tracked in #938

[2022-02-03 00:41] cartertinney commented on #937
That's interesting. Can you tell me more so that I can try to reproduce?

1) What version of the SDK are you using to send messages? What version are you using to receive?
2) Can you post some sample code of both the sender and the receiver scripts?

[2022-02-03 06:44] amit12cool opened #939 "[Technical Question] Any reason to copy all files in docker container"
I have created a module using VSCode python example. I see the `Dockerfile.amd64` contents as below:-
[code]

Question:- Why there is a need to COPY over all the contents using `COPY . .`  in container. The contents like `Dockerfile.amd64.debug .gitignore etc.`. I think they are not required in the container. Event the `module.json` is copied over.

[2022-02-03 09:18] yosefgouda2020 commented on #937
@cartertinney
I used azure-iot-device==2.9.0 and Kindly find the sender and receiver code you just need to add the conn_str in the code
and if you tried the sender and receiver with Azure IOT explorer it will work.

Sender code
[code]
receiver code

[code]

[2022-02-03 13:04] andreashappe commented on #934
perfect! thanks

[2022-02-03 13:04] #934 closed, assigned to cartertinney

[2022-02-03 13:05] andreashappe commented on #934
(I have closed the issue, hopefully this is the correct workflow)

[2022-02-04 00:00] nabeelmsft commented on #936
Thanks @cartertinney for the response. I went ahead and added code for the missing documentation. This is done as part of PR: https://github.com/Azure/azure-iot-sdk-python/pull/940 . This is just a humble contribution. Please let me know if there is anything that I can contribute to.

[2022-02-04 00:39] cartertinney commented on #935
The fix has been completed. It will be included as part of the next release.

[2022-02-04 06:53] ismailuddin commented on #935
Fantastic! Thanks for resolving it quickly! When abouts do you think this next release will happen?

[2022-02-04 19:30] cartertinney commented on #935
@ismailuddin

Can't say for sure, this is a pretty significant release and there are a few key bugs we still need to fix, but should be sooner than later. Within a couple weeks.

[2022-02-04 19:34] ismailuddin commented on #935
Ok that's good to know, thanks! I'll keep an eye out for it!

[2022-02-04 20:41] yosefgouda2020 commented on #937
Hi @cartertinney any updates.

[2022-02-04 21:38] anthonyvercolano commented on #929
Closed due to inactivity.

[2022-02-04 21:38] #929 closed

[2022-02-08 05:25] cartertinney commented on #939
There is no reason you need to copy everything over. The `requirements.txt` and whatever python files you need for your application should be sufficient. I believe this example was written to copy everything so that it would easily scale for larger projects.

[2022-02-08 06:05] amit12cool commented on #939
Ok Thanks.

[2022-02-08 06:05] #939 closed

[2022-02-08 18:49] cbauer10 commented on #271
@pierreca Any update on how to do this with the current version of the SDK?  The workaround of building it with OpenSSL does not work with Xcode 13 and OpenSSL 3.0.1.

[2022-02-09 15:02] yosefgouda2020 commented on #937
I used azure-iot-device==2.9.0 and Kindly find the sender and receiver code you just need to add the conn_str in the code
and if you tried the sender and receiver with Azure IOT explorer it will work.

Sender code
[code]
receiver code

[code]

[2022-02-09 16:27] MrVhek commented on #825
Hello !
Reopening this issue,
I just had the same problem, spending 3h debugging it and finally founding this issue.
Just please add some documentation in the SDK in comments or return an explicit message from the response.

Thanks

[2022-02-09 18:49] jhanit-bh commented on #935
started facing this as well. occurs after roughly 48 hrs for me.

[2022-02-10 00:42] cartertinney commented on #935
This fix will be being released later this week as part of version 2.1.0

[2022-02-10 01:08] cartertinney commented on #936
Addressed the broader issue of missing docs in #945

[2022-02-10 03:57] cartertinney commented on #937
@yosefgouda2020

To be clear, you can't send messages between devices directly. The `.send_message()` method sends a message from your device to the IoTHub. Likewise, the `.on_message_received` handler only receives messages from the IoTHub. This is why you are only able to receive from the IoTExplorer (it allows you to send from the IoTHub).

If you wish to send messages between clients, consider

[2022-02-10 12:13] saramonteiro opened #947 "Unexpected error ErrorCodes.ConnectionCloseForced: The connection was inactive for more than the allowed 240000 milliseconds and is closed by container"
# Context

- **OS and version used:** <VERSION> (Windows 10 Enterprise)
- **Python version:** <VERSION> (python 3.10.1)
- **pip version:** <VERSION> (pip 21.2.4)
- **list of installed packages:** <VERSION>
 Package            Version
azure-core         1.22.0
azure-iot-hub      2.6.0
certifi            2021.10.8
charset-normalizer 2.0.11
idna               3.3
isodate            0.6.1
msrest

[2022-02-14 18:19] #936 closed

[2022-02-14 18:20] cartertinney commented on #935
@ismailuddin This fix has been released as of the latest release, 2.10.0

[2022-02-14 18:20] #935 closed

[2022-02-15 18:37] cartertinney commented on #937
@yosefgouda2020

`.on_message_recieved` will receive all messages, whether from IoTHub or from another device.

You can't run both the sender and receiver on the same device, so that will result in the error you're seeing. Can you try again making sure to run the sender on a different device than the receiver?

[2022-02-17 06:19] TravisKarp opened #953 "ValueError: Publish topic cannot contain wildcards."
**OS and version used:** Windows 10, Raspberry Raspbian GNU/Linux 10
**Python version:** 3.19
**pip version:** 21.2.4
**list of installed packages:**
anyio               3.5.0
asgiref             3.5.0
azure-core          1.22.1
azure-iot-device    2.10.0
certifi             2021.10.8
charset-normalizer  2.0.12
click               8.0.3
colorama            0.4.4
deprecation         2.1.0
fastapi

[2022-02-17 14:03] eng-ibrahim-Rahman commented on #937
Hi @cartertinney @yosefgouda2020
I faced the same issue when I tried to receive the data from Azure IoT using receive script from IoT hub but it was receiving the data from TTI but the I am able to receive it by Azure IoT explorer but it gave me the same issue of disconnection error **MQTT transport disconnected with result code: 7**
And I tried to use **IoTHubModuleClient** instead of the **IoTHu

[2022-02-22 23:10] cartertinney commented on #953
@TravisKarp does you device id contain any special characters by chance?

[2022-02-22 23:13] cartertinney commented on #937
I am going to continue to investigate, not sure what's going on here.

[2022-02-23 00:53] TravisKarp commented on #953
Hey @cartertinney, I did have a special char in the id. I just recreated with out it and was able to successfully send a message. It looks like that fixed it. I appreciate the follow up!

[2022-02-23 02:22] cartertinney commented on #953
Out of curiosity, which special character was it, and which way did you create the device? Through the azure portal or some other means?

[2022-02-24 04:46] TravisKarp commented on #953
@cartertinney
I was using "#" to denote separate IoT device numbers ie "LightSensor#1". Interestingly I have a "-" in my IoT hub name which doesn't seem to cause any issues so it appears to just be the device id registration.

[2022-02-24 05:41] Winneee opened #960 "transport.connect raised error with iothub connection"
Hi, While connecting to iothub sometimes i get transport error
azure.iot.device version 2.1.4
please find logs below.
transport.connect raised error
Traceback (most recent call last):
  File "usr/lib/python3.8/site-packages/azure/iot/device/common/mqtt_transport.py", line 388, in connect
  File "usr/lib/python3.8/site-packages/paho/mqtt/client.py", line 839, in connect
  File "usr/lib/python3.8/si

[2022-02-24 20:58] cartertinney commented on #953
@TravisKarp

Thanks. I'm going to look into what caused this underlying issue.

[2022-02-24 21:00] cartertinney commented on #960
@Winneee

Please try updating to the latest version of the package (2.10.0) to see if the problem persists - 2.1.4 is a very old version, and we have made significant stability improvements since then.

[2022-02-25 06:35] Winneee commented on #960
export SSL_CERT_DIR=/etc/ssl/cert  resolved the issue.

[2022-02-25 17:31] #960 closed

[2022-02-26 22:34] srinikrish22 opened #961 "Direct method invocation fails with device Not found but works from Azure portal"
I have been trying to get the code sample for Direct Method invocation from the samples. I am trying to use [this](https://github.com/Azure/azure-iot-sdk-python/blob/main/azure-iot-hub/samples/iothub_registry_manager_method_sample.py) sample for my backend code.

My IOT device is an x64 Virtual Machine on Azure connected to IoT hub using the symmetric keys method in the official documentation. The

[2022-02-28 15:26] PeteDouma opened #962 "[Technical Question] Azure IOT Token"
We have 1000's of device and a bunch are not sending messages. When I look in the logs keep seeing this.
Feb 26 06:21:32 gardyn GRD-SVC-IOT[24984]: 2022-02-26 06:21:32,867-azure.iot.device.iothub.auth.base_renewable_token_authentication_provider-INFO-Generating new SAS token for (7293a28e-xxxx,None) that expires 3600 seconds in the future
Feb 26 06:21:32 gardyn GRD-SVC-IOT[24984]: 2022-02-26 06:21

[2022-02-28 16:25] anthonyvercolano commented on #961
@srinikrish22

I assume that when you are testing this edge module *is* up and running?

[2022-02-28 16:40] srinikrish22 commented on #961
@anthonyvercolano ofcourse, the edge module is running. It even works when i try to test a direct method call from the portal. I have slightly modified the method response such that i get some custom text in the payload and this is received properly.

[2022-02-28 17:52] PeteDouma commented on #962
Its running on a Raspberry Pi Zero W

[2022-03-02 00:34] cartertinney commented on #962
@PeteDouma

Can you update `azure-iot-device` to the latest version of `2.10.0`? The version you are currently on, `2.0.0` is the initial release of this package, and there have been numerous improvements to stability since then

[2022-03-02 01:16] PeteDouma commented on #962
No I can't these devices are in the field

[2022-03-02 11:29] kuldeepoxit commented on #937
@cartertinney we are also seeing the same issue. Can you please let us know if you were able to resolve the issue?

[2022-03-02 19:13] BertKleewein commented on #133
The SDK version that this question refers to is very old and no longer supported, but according to my reading of the code, the correct values to pass are `10` for TLS 1.0, `11` for TLS 1.1, and `12` for TLS 1.2. The default, at least for the Linux version of this library, is TLS 1.2.

[2022-03-02 19:19] cartertinney commented on #937
@kuldeepoxit Yes, we will update this issue when we find out more. What platform are you experiencing the issue on? Also a Raspberry Pi, or something else? Is the issue also only coming when messages are received? Can your devices send telemetry successfully?

[2022-03-02 19:26] cartertinney commented on #962
@PeteDouma Do you have more detailed logs I can take a look at? The log message about the token is expected as it's the result of an operation that runs every ~3600 seconds, so it is likely not the issue.

[2022-03-02 23:21] cartertinney commented on #937
@yosefgouda2020 @eng-ibrahim-Rahman

Are you able to send messages (telemetry) to your IoTHubs using the `.send_message()` method? Does the problem only appear when receiving a message? Furthermore, what kind of IoTHub are you using (Basic, S1, S2, S3, etc.)

[2022-03-04 12:40] christian-e-petersen commented on #947
is there a fix for this? I am facing the same error running on aks

[2022-03-04 23:22] BertKleewein commented on #937
@yosefgouda2020 - you say that you're using two different devices, but are you also using two different connection strings? If you're trying to use the same connection string on both your raspberry pi and your computer, it would explain this behavior.

[2022-03-06 16:17] PeteDouma commented on #962
Its difficult because I have wait for a user to come back on line. Here is one I got today
`Mar  4 00:12:26 gardyn python3[800]: MQTTTransportStage: _on_mqtt_connection_failure called: Connection Refused: not authorised.
Mar  4 00:12:26 gardyn python3[800]: MQTTTransportStage: Connection failure was unexpected
Mar  4 00:12:26 gardyn python3[800]: Exception caught in background thread.  Unable to h

[2022-03-06 16:17] #962 closed

[2022-03-06 16:17] PeteDouma commented on #962
This user just rebooted and everything was fine

[2022-03-07 21:42] cartertinney commented on #947
@christian-e-petersen @saramonteiro

We are working to get this addressed internally, our apologies for the delay. We will update this issue when we have more information.

[2022-03-07 21:43] cartertinney commented on #961
@srinikrish22 Right now we are working internally to get this issue addressed, we will update when there is more information

[2022-03-08 11:12] srinikrish22 commented on #961
@cartertinney Thanks a lot for your response. Can I treat this as a known issue now? I mean then it would be possible to get a fix for this at some point of time. I am evaluating different IoT platforms and would be nice to know that this issue is being worked on.

[2022-03-11 18:32] cartertinney commented on #937
@yosefgouda2020 @eng-ibrahim-Rahman @kuldeepoxit

Any follow ups to the above questions? We will have to close this GitHub issue due to inactivity in a few days if we don't hear from you.

[2022-03-12 01:11] eng-ibrahim-Rahman commented on #937
@cartertinney Regarding this example in this link it will not work as expected.
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-python-python-c2d
So I reached out to use the event hub for receiving the message instead of using **deviceConnectionString**.

[2022-03-14 13:38] gabrielSoudry opened #968 "[Technical Question] How often does the python SDK check the X509 certificate validity ?"
I use DPS and Enrollment Group to provision my devices and I noticed that my devices continued to work for 27 hours after their certificate expired. After these 27 hours the Azure SDK raise an "SSL" exception ([SSL: TLSV1_ALERT_UNKNOWN_CA] tlsv1 alert unknown ca (_ssl.c:2488))

How often does the python SDK check the X509 certificate validity? And why did it take 27 hours?

[2022-03-14 14:48] amit12cool opened #969 "[Edge Transparent Gateway scenario]Send message using x509=true in connection string"
I have set up transparent gateway with downstream device being authenticated to gateway using x509 auth mechanism.
My connection string in the downstream device code is as below:-
`HostName={hostname};DeviceId={downstreamDeviceId};x509=true`

The error is I get while instantiating the deviceclient is as below:-
[code]

It seems as per this [code](https://github.com/Azure/azure-iot-sdk-python/blob/

[2022-03-14 22:44] BertKleewein commented on #968
Checking the validity of the cert is done by the TLS stack, definitely at connect time, and I've always seen it disconnect within a few hours of expiration. I'm running a wireshark trace right now to see if I can figure out what triggers the check.

[2022-03-14 22:53] cartertinney commented on #969
@amit12cool

Please use the `.create_from_x509_certificate()` factory method for the clients instead of `.create_from_connection_string()` when using X509 certificates. You can see an example of how to do so [in this sample code](https://github.com/Azure/azure-iot-sdk-python/blob/5d6946fa3f34e307c8e37d16b6899e448a58a27a/azure-iot-device/samples/sync-samples/send_message_x509.py)

[2022-03-14 22:54] cartertinney commented on #961
@srinikrish22

I can't tell you when this will be addressed, but we will be looking into it. Please leave this GitHub issue open and we will update when we have something to report.

[2022-03-15 00:50] amit12cool commented on #969
@cartertinney ok. Will I need to use the root_ca.key on downstream device ? As far as I know for transparent gateway scenario the downstream device only requires root_ca.pem file to connect to the gateway device

[2022-03-15 19:52] cartertinney commented on #969
@amit12cool

I think what you're looking for is perhaps the `server_verification_cert` keyword argument, and provide the contents of the root_ca.pem.

As far as the GatewayHostName, that might be an issue - try without it, and if it it doesn't work, let me know.

[2022-03-16 11:14] gabrielSoudry commented on #968
Thank you for the research! No specific concern, I was just wondering how it works, and if the behavior was normal (I didn't find any specifications in the doc for my case)

[2022-03-16 16:33] pbudel opened #972 "send_message with asyncio.wait_for"
Hello,

I am currently working on a piece of code using send_message and I have to manage the situation where connection is not available. Simply using send_message I see the code get stuck on send_message itself. I started using asyncio.wait_for together with it and I  can manage the situation as I want. However, I am getting "Task exception was never retrieved" message and I suspect there can be

[2022-03-16 19:12] cartertinney commented on #972
@pbudel

Which version of the package are you using?

[2022-03-16 19:34] cartertinney commented on #937
@eng-ibrahim-Rahman What exactly are you trying to do? Send telemetry from the IoTHub to a device, yes? Where does the EventHub come into play?

[2022-03-16 20:27] pbudel commented on #972
@cartertinney

~ # pip3 list|grep azure
azure-core          1.22.1
azure-iot-device    2.10.0
azure-storage-blob  12.9.0

[2022-03-16 23:00] cartertinney commented on #972
@pbudel

Okay, so in the latest version (which you have) the above linked issue has been addressed. What I suspect you're running into is that sending a message requires a connection. By default, the client will attempt to connect first (unless you specify that `auto_connect` is `False` at client creation), and I suspect that is causing the hanging.

As for `asyncio.wait_for()` let me take a look

[2022-03-17 08:31] kargarisaac opened #974 "How to use the python sdk on esp32 using micropython"
Hi,

Is it possible to install and use this python sdk with micropython on esp32?

Thank you

[2022-03-17 08:49] pbudel commented on #972
@cartertinney thanks. I will give you a bit more context on how I am testing this situation.

The **testing** environment where the code is running is an embedded system with 2 network interfaces: one is ethernet, the other one is Wi-Fi. The production HW will only have Wi-Fi and what I want to achieve is to be able to detect lack of connectivity (in production environment) to handle temporary buf

[2022-03-17 12:26] amit12cool commented on #969
I have used this
[code]
And the error I get is below:-
`ConnectionFailedError('Could not connect to IoTHub') caused by ConnectionFailedError(None)`

Also, I have tested the connection of leaf device with gateway device using openssl command. Below is the output:-

[code]

[2022-03-17 17:39] cartertinney commented on #969
@amit12cool

A fix to provide support for gateway_hostname is implemented in PR #973. This will be part of our next release.

[2022-03-17 17:42] cartertinney commented on #974
We don't officially support micropython, nor have we tested it's compatibility.

[2022-03-17 20:54] #953 closed

[2022-03-17 22:58] cartertinney commented on #969
Fix has been checked in

[2022-03-17 23:10] cartertinney commented on #972
@pbudel

I looked into it, and we are not able to support `asyncio.wait_for()` at this time as we cannot support task cancellation, which `asyncio.wait_for()` is dependent upon. We apologize for any inconvenience.

If you're looking for a way to detect a lack of connectivity, the `.on_connection_state_change` handler might be helpful. If you set a function on that property, it will be invoked ever

[2022-03-18 11:09] amit12cool commented on #969
@cartertinney  Thanks for the fix. Since I will be using the  method below and as per your PR review changes I see we can pass `gateway_hostname` param too. But can we not use the `hostname` param only to pass the gateway_hostname value? If not, then what needs to be passed in the hostname param? Please prvode an example.

And when is the release expected with this fix?

[code]

[2022-03-18 18:04] cartertinney commented on #969
@amit12cool The hostname is the hostname of your IoTHub. Usually something like `<your-hub-name>.azure-devices.net`. You can find it on the Overview of your IoTHub on the Azure Portal

[2022-03-18 18:04] #974 closed

[2022-03-19 15:58] amit12cool commented on #969
@cartertinney thanks mate. Any idea on next release as currently I'm blocked due to this issue.

[2022-03-21 09:35] pbudel commented on #972
@cartertinney

ok I got it. Given that `asyncio.wait_for()` is not supported I have changed approach. I think you could consider adding a timeout optional parameter on the `send_message` implementation.

Now I am working only with the `.connected` boolean property and leaving `keep_alive` as default I see the disconnection in about 2 mins. It's far from the 3 seconds I was considering when trying

[2022-03-21 18:14] cartertinney commented on #972
@pbudel

Yeah, that looks like expected behavior when the internet connection is dropped while the client is trying to maintain a connection, which from what I understand is your use case. From the client's perspective, the connection going away is unexpected because no explicit connection ocurred.

Again, you can reduce the `keep_alive` to get the client to notice the connection drop faster.

I'l

[2022-03-21 21:40] cartertinney commented on #969
@amit12cool

I'm gonna try to get `2.11.0` released as soon as possible. We've got a technical problem getting in the way of pushing out the release, otherwise it already would be out - working on fixing that now. Will update you as soon as it is available.

[2022-03-24 00:49] cartertinney commented on #969
@amit12cool

Version `2.11.0` has been released. You may now use the `gateway_hostname` keyword in the `.create_from_x509_certificate()` method.

[2022-03-24 07:13] amit12cool commented on #969
@cartertinney Thanks for the speedy release. I did the changes as below:-

`requirements.txt`  has below line
`azure-iot-device==2.11.0`
self.device_client = IoTHubDeviceClient.create_from_x509_certificate(
                x509=x509,
                hostname=<IoT hub hostname>,
                device_id=registration_result.registration_state.device_id,
                server_verification_cert=root

[2022-03-24 10:18] pbudel commented on #972
@cartertinney

Thank you. I am able to catch the exception and I will not change for `keep_alive` for now, I understand however your point.

Unfortunately it seems like I have another issue, probably related to the `http_pipeline` (not sure). On a task I am checking for file presence and eventually I am uploading it to an azure blob storage. If the disconnection happens when I am awaiting for `get

[2022-03-24 17:10] cartertinney commented on #972
@pbudel

I'll take a look

[2022-03-24 22:51] cartertinney commented on #972
@pbudel

#980 adds some protection against the indefinite hanging, by timing out HTTP requests after 10 seconds. At this time explicit disconnect will not immediately cancel the task, it will just need the 10 seconds to timeout. We will continue to try and make some improvements in this domain in the future, alongside the initial request to improve the area around `asyncio.wait_for()`, but for now

[2022-03-25 11:21] amit12cool commented on #969
@cartertinney I was able to resolve the issue by providing below container create options:

[code]
PS:- I'm running my downstream device in docker container
Please let me know if above is the correct way to do this.

Now, I just want to check if the messages are going to the gateway only. Can you suggest a way by which I can verify this?

[2022-03-25 17:37] cartertinney commented on #969
@amit12cool

Unfortunately, I have little insight beyond the scope of the Device SDK. This is a question better suited for someone on the team of the relevant service (IoTHub or Edge). I can try to reach out to them myself if you don't have a contact in that area.

[2022-03-25 23:27] cartertinney commented on #972
@pbudel
#980 has been checked in. It will be included in the next release.

[2022-03-25 23:27] #972 closed

[2022-03-25 23:30] cartertinney commented on #937
Closing due to inactivity

[2022-03-25 23:30] #937 closed

[2022-03-28 08:31] pbudel commented on #972
@cartertinney Thanks. I appreciate it.

[2022-03-28 21:43] veyalla commented on #969
Couple ways:
* Tail the logs of edgeHub module and see output showing the downstream device connecting.
* Setup Azure Monitor metrics monitoring for the IoT Edge device and check the built-in visualizations. See https://aka.ms/edgemon-docs

[2022-03-29 20:23] cartertinney commented on #969
@amit12cool Please let us know if the above information helps you resolve the issue

[2022-03-29 20:43] #968 closed

[2022-03-30 04:39] amit12cool commented on #969
Yes that helps. Thanks

[2022-03-30 04:39] #969 closed

[2022-04-01 17:47] debugaftercoffee opened #983 "Deployment configuration updates fail when using IoTHubConfigurationManager.update_configuration"
# Context

- **OS and version used:** MacOS 11.6.4
- **Python version:** 3.7.5
- **pip version:** 20.2.3
- **list of installed packages:** azure-iot-hub 2.6.0
## Description of the issue

It is not possible to update a device configuration using IoTHubConfigurationManager.update_configuration. All requests result in `Operation returned an invalid status code 'Conflict'`. In the code example below,

[2022-04-02 00:14] amit12cool commented on #969
@cartertinney  is it possible to send the IP address in gatewayhostname param instead of the hostname? I see connection error while sending the IP address.

[2022-04-04 11:21] mcfreis opened #984 "IoTHub Provisioning Service Library - Feature is Coming Soon"
According to the documentation:

'''
IoTHub Provisioning Service Library
Feature is Coming Soon
'''

When is "soon" or what could be done to support this feature?

Thank you

[2022-04-09 11:58] amit12cool commented on #969
@cartertinney any help on above?

[2022-04-13 17:43] amit12cool commented on #969
@cartertinney any inputs?

[2022-04-17 19:58] amit12cool opened #988 "[Transparent gateway] not able to connect leaf device to gateway with gatewayhostname.local"
I have my downstream device set up which connects using below code to the gateway.
[code]

Unfortunately its not able to connect to the gateway and below is the error log:-

[code]

I'm able to successfully run the open ssl command `openssl s_client -connect amit-virtualbox.local:8883 -CAfile /var/secrets/downstreamdevice/root_ca.pem -showcerts` and output of which is below:-

[code]

FYI:-

1) I

[2022-04-18 12:29] zoopp opened #989 "Unhandled exception in Paho `_thread_main` leaves the device client in a falsely 'connected' state"
# Context

- **OS and version used:** Debian GNU/Linux 11 (bullseye) (actually python:3.10-slim docker image)
- **Python version:** Python 3.10.4
- **pip version:** pip 22.0.4
- **list of installed packages:**
[code]

## Description of the issue

I have a device that was up and running for a couple of days until at one point where it permanently lost connectivity to IoT Hub. By digging through my

[2022-04-19 21:30] cartertinney commented on #989
@zopp

Thanks for bringing this to our attention. I suspect you are correct and that this is a bug in the Paho library. We'll look into it.

[2022-04-20 12:59] SURAJTHEGREAT opened #990 "Client disconnects - and does not reconnect back , the caller of the thread does not connect back (though explicitly mentioned)"
# Context

- **OS and version used:** Ubuntu 18.04
- **Python version:** Python 3.6.9.
- **pip version:** pip 9.0.1 from /usr/lib/python3/dist-packages (python 3.6)
- **list of installed packages:**
azure-core==1.23.1
azure-iot-device==2.11.0
azure-storage-blob==12.9.0

## Description of the issue

Randomly I used to receive the below exception and it stucks there and client connectivity does not

[2022-04-21 06:23] pebneter commented on #990
It sounds like this is the same problem as I have described here: https://stackoverflow.com/questions/71767695/azure-iot-device-loosing-connection-to-transparent-edge-gateway-device
What I have noticed on to of this: Once such a disconnect error occurs, the edgeHub become unresponsive to new connection attempts. In those cases I have to restart the edgeHub module to restore functionality.

[2022-04-21 07:10] pebneter commented on #990
I can supply some logfiles from the edgeHub module that might be useful:
A bit of context: around 06:58:50 the last successful message was sent. At 06:58:53 you see the next attempt and the failure.

[code]

[2022-04-21 14:29] pebneter commented on #990
I have made an observation that I think is key to this issue.
I used the sample script here that sends one single message: https://github.com/Azure/azure-iot-sdk-python/blob/main/azure-iot-device/samples/simple_send_message.py
I can execute the script 3 times successfully, and then it stops working.  Hence my conclusion that the edge Hub has an issue with closing connections gracefully (or the Pyt

[2022-04-21 17:06] SURAJTHEGREAT commented on #990
@pebneter  - I have tried this similar code in my production env and received the random disconnects (the reason for the disconnect is not known) it does not happen regularly, hence the reason for raising the ticket.

However , I am also looking at other ways to send message to iothub using API  as in (https://docs.microsoft.com/en-us/rest/api/iothub/device/send-device-event) -but I am unable to s

[2022-04-21 23:06] cartertinney commented on #990
I think @pebneter is likely correct in his assessment on the cause. I'll reach out to Edge and see what we can do about this.

[2022-04-21 23:55] cartertinney commented on #988
@amit12cool

I suspect the issue is probably with trying to use an IP address rather than a alphabetical hostname. Can you specify exactly what format you are providing the hostname in?

[2022-04-21 23:57] cartertinney commented on #984
We don't have any news at this time. I apologize for not being able to say any more than that.

[2022-04-22 00:57] cartertinney commented on #989
@zoopp

Looking into this further, it suggests there's something going on with your SSL configuration that might be the issue.

1) What type of authentication are you using with your IoTHub Client? Are you using any additional features? (cipher suites, proxy, etc.)

2) Does your device support TLS v 1.2?

[2022-04-22 06:25] SURAJTHEGREAT commented on #990
@cartertinney  - Just to confirm that the issue I am facing is simple device python 3.6 code running on Linux and not an IoT Edge module running in a container.

[2022-04-22 18:10] cartertinney commented on #990
@SURAJTHEGREAT

In that case, can you give me a more detailed log of your issue? You can do so by adding the following lines to your application:

[code]

This will help me try and understand what's going on.

Additionally, with regard to why bypassing the client isn't working, it's because you are trying to send a Message object. If using requests, you would need to put the message payload as the

[2022-04-22 18:26] cartertinney commented on #990
@pebneter I'm trying to look into this that you mentioned here, but I'm a bit confused. You're using Edge you say, but the sample is not an Edge sample. Can you clarify this reproduction, and I will forward it to the Edge team?

[2022-04-23 02:40] SURAJTHEGREAT commented on #990
@cartertinney - I have raised a ticket with MS Azure Team for the same is checked by an engineer and have shared logs with them for investigation. I am happy to share the logs with you as well on monday.Can we have a call for the same?

For the API , as per the documentation do I send my custom property with header as iotapp-hub-<myprop> and its value? and mypayload as string.

[2022-04-23 07:38] pebneter commented on #990
@cartertinney For clarification: I'm running the script on leaf devices and sending the data through a transparent edge gateway.

[2022-04-26 07:03] zoopp commented on #989
Hi @cartertinney, I don't believe that this is the case. The device does support TLS 1.2 and I'm not using any additional features. Right now I default to using the following options when creating the device client:

[code]

The environment in which I run the application is based on the official [python:3.10-slim](https://hub.docker.com/_/python) container image with very little modifications apar

[2022-04-27 08:49] robbinvandamme opened #991 "SSL: CERTIFICATE_VERIFY_FAILED when build with pyinstaller + latest dependencies"
# Context

- **OS and version used:** EmbeddedLinx kernel 5.10.65 armv7l GNU/Linux
- **Python version:** python3.7
- **pip version:** 19.0.3
- **list of installed packages:**:
altgraph==0.17.2
azure-iot-device==2.11.0
certifi==2021.10.8
charset-normalizer==2.0.12
deprecation==2.1.0
idna==3.3
importlib-metadata==4.11.3
janus==1.0.0
packaging==21.3
paho-mqtt==1.6.1
pyinstaller==5.0
**pyinstaller-hoo

[2022-04-28 22:50] cartertinney commented on #990
@SURAJTHEGREAT

You would use the property `iothub-app-{your property name} header with some kind of string value to correspond, yes.

I believe I see an IcM that corresponds with your issue, although I don't see any logs there.

@pebneter

Would you mind opening a new GitHub issue? It appears as though you are experiencing a different issue, and I'd like to separate the discussions. Please post a

[2022-04-29 07:19] SURAJTHEGREAT commented on #990
@cartertinney  -Thanks , sending property iothub-app-{your property name} header with string worked.
 Have shared the logs with sgeorge@microsoftsupport.com and assinha@microsoftsupport.com, it will be really great if you can speak with them to understand the issue and logs,

[2022-04-29 09:19] Mikkolehtimaki commented on #991
I get a similar error when connecting to a (transparent) gateway running IoT Edge Runtime 1.2. Everything works if I connect to runtime 1.1 hub.

Here's my stacktrace:

[code]

The certificates are fine and I can verify them using openssl.

[2022-04-29 09:24] Mikkolehtimaki commented on #988
What version of Edge Runtime is your gateway running? I see hostname errors with Edge Runtime 1.2 whereas 1.1 works.

[2022-04-29 12:19] pebneter commented on #990
@cartertinney Ok, I will create a new issue and steps to reproduce.

[2022-05-02 14:31] robbinvandamme commented on #548
@BertKleewein do you know how they handled this in the c-sdk?

[2022-05-03 07:21] pebneter opened #993 "Connecting to EdgeHub fails after several successful messages"
- **OS and version used:** Windows 11, 21H2 (OS Build 22000.493)
- **Python version:** Python 3.10.2
- **pip version:** pip 22.0.4
- **list of installed packages:**
[code]
- **cloned repo:** (https://github.com/Azure/azure-iot-sdk-python/blob/main/azure-iot-device/samples/simple_send_message.py)

# Context
- Azure IoT Hub
- Azure IoT Edge device
- - Ubuntu 20.04.4 LTS
- - IoT Edge version 1.2.9
-

[2022-05-03 23:10] cartertinney commented on #991
@robbinvandamme

I've taken a look into the issue with PyInstaller - it appears the change they made is correct - what was happening before was that PyInstaller was (incorrectly) always using the `certifi` certificates, even when it wasn't supposed to. The correct behavior is to use the default system certificates rather than the ones in `certifi`.

My guess is that if your application no longer w

[2022-05-04 00:17] cartertinney commented on #988
@amit12cool

Any follow ups to the above questions from me? I also second the question regarding Edge Runtime 1.2 vs 1.1. We will have to close this issue due to inactivity if we do not hear from you soon.

[2022-05-04 00:18] cartertinney commented on #984
We have removed this from the README

[2022-05-04 00:18] #984 closed

[2022-05-04 00:22] amit12cool commented on #988
Yes, edge runtime 1.1 works. Thanks

[2022-05-04 00:22] #988 closed

[2022-05-04 00:44] cartertinney commented on #993
@pebneter

Can you post your script you're running that would generate those logs? Also, which version of EdgeHub are you running? 1.0, 1.1 or 1.2?

[2022-05-04 07:54] robbinvandamme commented on #991
@cartertinney
I tried your sample code to load the certificates on:
* our embedded target
* a stock beaglebone
* an ubuntu20 laptop
* an ubuntu22 laptop
All with the same result, an empty list.

I also create an executable for ARM and x86.
The x86 one works on my laptop with the latest pip packages.
The ARM one works on a stock beaglebone, but not on our embedded target.
On our embedded target I c

[2022-05-04 08:25] pebneter commented on #993
Runtime version is 1.2.9
The script is from here: https://github.com/Azure/azure-iot-sdk-python/blob/main/azure-iot-device/samples/simple_send_message.py.
Just set the logging level to debug, otherwise no change.

[2022-05-04 08:57] robbinvandamme commented on #991
@cartertinney
I printed the default ca certs from inside the sdk mqtt_transport and even that returns an empty list.
But connection to IoTHub is working since its on my laptop.

![image](https://user-images.githubusercontent.com/13780546/166650484-d34fa89a-2789-4757-b010-a68605fdcb96.png)

So can you give me some more info about how the sdk uses or handles the certificates?

On my embedded device,

[2022-05-04 13:06] marcosatti opened #994 "Unnecessary multiple downloads of twin data when setting on_twin_desired_properties_patch_received"
# Context

Windows 11
Python 3.10.4
[code]

We are using the async client.

## Description of the issue

We are on a resource constraint network (very low speed & metered connection), so using as minimal internet as possible is one of our goals making our products. I've noticed that upon setting the `on_twin_desired_properties_patch_received` handler on the client, when initially connecting it wil

[2022-05-04 15:03] robbinvandamme commented on #991
@cartertinney I found the problem.

I was missing a symlink /usr/lib/ssl/certs that points to /etc/ssl/certs where the certificates are installed.
After adding that, connection with IoTHub using latest pyinstaller was ok.

So when using the latest pyinstaller, the certifi certs are not used anymore by default and it looks at the system certificates.
If we want to use the certifi cacert.pem, it we

[2022-05-04 19:54] robbinvandamme commented on #991
@cartertinney
After some small tests I also think requests always uses the certifi certs by default. Because if I remove the /tmp/_MEIGGpP4m/certifi/cacert.pem while the application (build with pyinstaller) is running, it fails with error that it doesn't find it anymore.

If I run it without creating a pyinstaller package, it uses: ~/venv/lib/python3.8/site-packages/certifi/cacert.pem

Your SDK or

[2022-05-05 00:00] cartertinney commented on #991
Yes, that's what I was saying. The `requests` library, by default, will use `certifi` certs. However, our `azure-iot-device` library does not. This behavior of using the system store certs is universal across languages of the Azure IoT Device SDK. `requests` is currently a dependency of our SDK, but is only used for a very small number of tasks, and ideally may eventually be removed. Additionally

[2022-05-05 07:03] robbinvandamme commented on #991
@cartertinney this part is not clear to me:
"Additionally where it is used in our SDK, it is configured to use the system store rather than certifi"

I created a venv and installed your sdk.
That comes with "./venv_cert_test/lib/python3.7/site-packages/certifi/cacert.pem".
If I remove that cacert.pem and try my sample app or in fact just do "from azure.iot.device.aio import IoTHubDeviceClient", it

[2022-05-06 18:27] cartertinney commented on #993
@pebneter
Could you try using EdgeHub 1.1? We've seen reports recently of issues with using 1.2 - still not sure why that might be, we're investigating, but in the meantime, could you try that and let us know if that resolves the issue?

[2022-05-09 11:27] #991 closed

[2022-05-11 14:53] robarnes opened #996 "failed reconnect behavior after connectivity outage"
# Context

- OS : Raspbian 5.15.32-v7+ on PiZero2W
- Python 3.9.2
- pip 20.3.4 from /usr/lib/python3/dist-packages/pip (python 3.9)
- packages installed:
Package                             Version
----------------------------------- ---------
azure-core                          1.21.1
azure-iot-device                    2.9.0
azure-iot-hub                       2.6.0
azure-storage-blob

[2022-05-11 18:43] robarnes commented on #996
Disregard the system unresponsive comments.  On recreating the issue, it seems to be there remove VSCode session that causes that behavior when I bring down the wifi connectivity.  Issue still stands on how to why all the connectionFailedErrors at the end of log.

[2022-05-12 07:20] zoopp commented on #989
Just a small update: over time I came across multiple instances of this error and looking back through my commit history I have seen that only just "recently" I have updated from v2.10.0 to v2.11.0. I've reverted back to v2.10.0 a couple of days ago and so far I did not see this issue anymore.

[2022-05-12 20:22] cartertinney commented on #989
@zoopp This is an interesting data point - let us know if that changes. I can't think of anything that changed between 2.10 and 2.11 that would result in this behavior, but if that's true, it's very helpful.

[2022-05-12 22:24] cartertinney commented on #994
We have successfully been able to reproduce this issue, and are now working on a fix. Thank you very much for the sample code - it helped a lot.

To be clear, one full twin retrieval is the expected behavior upon re-establishing a connection. However, it happening twice is incorrect, and that is the aspect we will be fixing.

[2022-05-13 14:22] pebneter commented on #993
Ok, I will try with 1.1.

[2022-05-16 17:53] cartertinney commented on #996
@robarnes

This seems to be the same issue as #989, but we have not yet been able to reproduce this on our end.

Can you be specific about exactly the steps you can take to produce this issue?

[2022-05-17 12:01] pebneter commented on #993
I setup a new edge device using the runtime 1.1 and used it in the exact same setup as before the verion 1.2.9.

So far I have not been able to reproduce the error with this version. So this is a strong hint it is a bug in the runtime 1.2.x.
I re-routed some other machines that run longer to use the 1.1 runtime device. I will report later how that evolves.

[2022-05-17 12:16] zoopp commented on #989
Ah, I unfortunately just came across this issue again with v2.10.0 so it looks like this wasn't introduced in-between 2.10 and 2.11. @cartertinney can you think of anything that I could to do to gather additional information for you for the next time I see this issue?

[2022-05-17 16:52] cartertinney commented on #993
Excellent. Thank you very much @pebneter. We will work on attempting to get to the bottom of why this issue is appearing in 1.2, but for now I would suggest sticking with 1.1. We will post an update here when we know more.

[2022-05-18 09:01] pebneter commented on #993
A device connected to the Edge with runtime 1.1 has been running fine for 24 hours with no signs of issues.

[2022-05-18 22:05] microsoft-github-policy-service[bot] opened #1000 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-20 06:49] dset0x opened #1001 "KeyError when deleting pending response ID in on_send_request_done"
Hello,

# Context

- **OS and version used:** Raspbian Buster
- **Python version:** Python 3.7.3
- **pip version:** 22.0.4
- **azure-iot-sdk-version version:** 2.11.0

## Description of the issue

I see this issue crop up now and then. It happens infrequently enough that enabling debug is not sustainable at the moment.

[code]

## Code sample exhibiting the issue

[code]

[2022-05-20 15:20] SURAJTHEGREAT commented on #990
@cartertinney  - Is there any update on this

Since the SDK was throwing an unhandled exception – for the sake of business continuity we are streaming messages via the  REST API .

Ideally we are making this POST call every 10 seconds or so , which you might be aware is not the right approach.

Could you please suggest some alternative better approaches.?

[2022-05-20 18:05] cartertinney commented on #1001
Thanks for reporting this, we'll begin looking into it

[2022-05-20 18:39] #1000 closed

[2022-05-23 22:04] #947 closed

[2022-05-23 22:05] cartertinney commented on #947
Fixed in #955, will be included in next major release

[2022-05-24 01:28] chewcw commented on #996
This issue is occasionally happened on just one of my IoT Edge devices, sometimes I have to restart it manually, but this time it didn't work even I restarted it.
[code]

[2022-05-24 06:58] 98christianp commented on #947
Hey @cartertinney, just an update from my side. I was using version 5.8.0a1 of azure-eventhub. Changing to version 5.7.0 solved my issues. Thanks for the update :)

[2022-05-24 20:24] cartertinney commented on #990
@SURAJTHEGREAT

What is wrong about sending POSTs every 10 seconds?

[2022-05-24 21:53] cartertinney commented on #990
@SURAJTHEGREAT

In regards to the errors you're seeing when using the client, it seems that they are coming from a failure to verify certificates - is it possible that you are not using the correct CA certificate, or that your system certificate store is not correctly configured? Perhaps a certificate has expired? Based on the error you've been seeing, it seems the issue is with certificate valida

[2022-05-24 21:59] cartertinney commented on #993
@pebneter, checking in, are you still functioning okay on 1.1?

[2022-05-24 22:09] cartertinney commented on #989
@zoopp

Are you connecting directly to an IoTHub? Or are you using EdgeHub (or something else) as well?

[2022-05-25 05:58] pebneter commented on #993
@cartertinney Yes has been working flawlessly since downgrading to 1.1

[2022-05-26 05:06] SURAJTHEGREAT commented on #990
@cartertinney  - Answer to this question

_"What is wrong with sending POSTs every 10 seconds?"_ - Is it ok to overload IOTHUB  with a load of messages?
Also, I would like to understand internally how the SDK handles the request ?

What are the steps that happen at the backend once I invoke SDK.send_streaming_data(msg)

For the query :

Probably the certificate has expired?  After making the logic

[2022-06-08 13:34] MrVhek opened #1009 "create_from_edge_environment does not send messages to IoT Hub"
Hello,
I've been facing a weird issue using:
iotedge 1.2.10
edgeAgent/edgeHub 1.2.10.55800403
azure-iot-device 2.11.0

When I create the client module using create_from_edge_environment function within my IoT Edge Module, the module is able to correctly push and pull twin, but any message sent is never received on the hub.
If I use the from_connection_string and use a connection string within the

[2022-06-08 14:40] anthonyvercolano commented on #990
@SURAJTHEGREAT -  My apologies for the delay.  Carter was suddenly called away out of country.  Should be returning quite shortly.

The Python SDK device side client does NOT generally ever use the HTTP protocol.  For telemetry/event operations it utilizes a protocol named MQTT.  If you desire, there is an OASIS spec for MQTT (3.1).  It's somewhat short reading.  MQTT is fairly pervasive in the Io

[2022-06-08 18:48] anthonyvercolano commented on #1009
@MrVhek have u raised this issue in the Edge repo?

[2022-06-08 18:51] anthonyvercolano commented on #1009
To get more debug logs add:

import logging
logging.basicConfig(level=logging.DEBUG)

To this at the beginning of your application

[2022-06-08 18:59] cartertinney commented on #990
@SURAJTHEGREAT

Apologies for my delay in response, I am now back.

I think a few things need to be clarified:

1) The REST-based solution you have been using via HTTP IoTHub APIs in the meantime is not how our SDK works internally. As Tony mentioned above, our SDK operates over the MQTT protocol rather than HTTP, however the IoTHub has APIs for both.

2) It is not an issue to issue many requests

[2022-06-08 20:24] cartertinney commented on #996
@chewcw

Likely unrelated, but I wanted to know which version of Edge you are are using? Is it 1.1 or 1.2? If it is 1.2, does this problem still occur if you switch back to 1.1?

[2022-06-09 10:24] MrVhek commented on #1009
Not yet, not sure if this can be related to your SDK or to Azure IoT Edge directly ?

Thanks, I've added it but don't see more python logs than those that I posted above.
I need to see if I can have more logs on Azure side.

[2022-06-09 11:32] chewcw commented on #996
I use v1.1.

[2022-06-09 16:08] cartertinney commented on #996
Thanks, just checking. We'll leave this issue open until the underlying problem is addressed, we're working on it.

[2022-06-10 05:24] SURAJTHEGREAT commented on #990
@cartertinney  - Thanks for the reply and detailed description. Much appreciated.

In the affected site, we could observe the certificates are available in the default location: ```/usr/lib/ssl/certs```  .Can you please provide me the exact certificate to look for in the location.

[2022-06-14 10:45] raowaqas72 commented on #1009
i am facing same problem

[2022-06-14 16:08] cartertinney commented on #1009
@MrVhek can you try reverting to IoT Edge 1.1? There are known issues with using Edge 1.2 with the SDK.

[2022-06-14 16:12] MrVhek commented on #1009
Sorry for the late reply, I finally found the issue, it was related to the routing of send_message.

![image](https://user-images.githubusercontent.com/16084117/173624991-1634d1e1-3e48-495e-95c1-13256074f6c0.png)

Be sure to not have an output after your module name (here GWApp or ToolsApp).

[2022-06-14 16:12] #1009 closed

[2022-06-14 16:45] lev-i commented on #1001
This is related to the same problem as [994](https://github.com/Azure/azure-iot-sdk-python/issues/994), where multiple downloads of twin data result from on_twin_desired_properties_patch_received. This results in the KeyError seen here, and explains why the code sample reliably reproduces the bug.

[2022-06-20 07:16] SURAJTHEGREAT commented on #990
@cartertinney  - Thanks for the reply .  We were not able to identify a specific pattern / exact circumstances under which this disconnect problem occurs. This is very random

Additionally for the logs (there are two logging syntax are introduced)

One logging syntax to look at the library logs. (commented as # to  see library logs)
And another logging syntax is application specific used to look a

[2022-06-21 21:45] zeeshan-mehdi commented on #332
pip install --upgrade certifi
open /Applications/Python\ 3.9/Install\ Certificates.command

worked for me. i had python 3.9 installed.

[2022-06-22 17:21] #994 closed

[2022-06-27 16:51] cartertinney commented on #989
Closing due to inactivity. We are monitoring the Paho GitHub issue however.

[2022-06-27 16:51] #989 closed

[2022-07-05 04:30] SURAJTHEGREAT commented on #990
@cartertinney  - Yes the problem solves by shutting down the IoTHubDeviceClient and instantiating new one.
Additionally for the logs , I am waiting for approval from customer to make changes at their end.

[2022-07-08 12:06] robbinvandamme commented on #996
@cartertinney we recently also had this issue.

I've only seen this issue in one of the +-150 locations we have an iot-device running.
On that specific location where I've seen the issue, we have multiple iot-devices in that network.
All devices had the same issue at the same time.

First we see them drop the connection and a few minutes later it goes back to "connected", but i don't think it's re

[2022-07-14 07:24] milindyadav01 commented on #626
How was this solved any update on this? Facing same issue here.

[2022-07-23 05:00] DavidGrob-MS opened #1026 "ErrorCode:AuthorizationPermissionMismatch get_storage_info_for_blob SAS token missing (t) URI symbol for Index tags permission"
# Context

- **OS and version used:** Ubuntu 18.04
- **Python version:** 3.7.13
- **pip version:** 22.0.4

## Description of the issue

IoT hub file upload doesn't allow setting blob index tags. azure.iot.device.IoTHubDeviceClient.get_storage_info_for_blob(blob_name) returns a SAS URL with read (r) and write (w)  URI symbol permissions which allows uploading blob data and setting metadata tags, bu

[2022-07-25 22:07] BertKleewein commented on #990
@SURAJTHEGREAT - I think the TlsExchangeAuthError that's causing this needs to be treated as a retryable exception by the azure-iot-device library. I sent a workaround to sgeorge in the ICM that you can try.  I am leery to post the workaround in a public place until you can confirm that it resolves your issue.

[2022-07-26 03:30] stanleyoz opened #1027 "TLS transition support [Technical Question]"
Please advise if the current azure-iot-device install covers the upcoming DigiCert Global G2 root certificate transition? When was the support updated to the depository (so we can advise our device users accordingly). Thanks.

[2022-07-26 06:15] SURAJTHEGREAT commented on #990
Thanks for the update @BertKleewein .

But could you please provide me some clarity under what scenario’s this function has be called ?

They can call this function at any time
1.	Do I need to  call it every 30mins or  hourly once (like a cron scheduler)?
2.	Or look for a specific exception , catch it and then call the function?

How does this function address the issue?

[2022-07-26 07:28] shivapower1985 opened #1028 "RuntimeError: asyncio.run() cannot be called from a running event loop in simple send message example"
I was trying to check a device connection in IoT hub where I followed following steps,

1. created resource group and hub name, created device and set the IOTHUB_DEVICE_CONNECTION_STRING as a environmental variable in my CLI.
2. I am using python 3.9.7
3. I run the simple send message example as shown in -- https://github.com/Azure/azure-iot-sdk-python/tree/main/azure-iot-device/samples
4. I get t

[2022-07-27 19:52] #990 closed

[2022-07-28 10:35] stanleyoz commented on #1027
Can someone from the IoT SDK team advise? main concern is how far back the package that will not support the new CA Root certificate?

[2022-07-28 15:04] anthonyvercolano commented on #1027
Working on it.  Getting a security PM to address.  (I think it mostly depends on if your trusted cert database is relatively up to date.)

[2022-07-28 16:31] RamIoTMalhotra commented on #1027
Hi @stanleyoz the SDK depends on the underlying operating system to retrieve trusted roots. I'd check the certificate store for the G2 root to confirm if the root is indeed present. (This is quite a popular root in many common trust bundles so you should have it if you've updated in the last year, but I'd still validate with a few devices to make sure). Also check out https://aka.ms/iot-ca-updates

[2022-07-29 02:20] stanleyoz commented on #1027
Thanks for the push mate

[2022-07-29 02:21] stanleyoz commented on #1027
Hi Ramio. Fantastic! That support page is well documented and will do the job ... we will get on it. Thank you.

[2022-08-01 03:36] #1027 closed

[2022-08-04 17:07] cartertinney commented on #1026
@DavidGrob-MS Apologies for the delay in response - I'm going to look into why this is happening and will report back

[2022-08-04 20:20] lev-i commented on #1028
@shivapower1985

This seems to be a common error message when using anaconda, where jupyter is already running an event loop.

Do you need to use async? If not, I'd recommend trying one of the sync samples [here](https://github.com/Azure/azure-iot-sdk-python/tree/main/samples/sync-samples), such as send_message.py.

If you do need to use async, just let us know and we can go from there. Modifying

[2022-08-08 20:33] ikumar222 opened #1032 "Python File Upload to Blob Error"
# Context

- **macOS Big Sur 11.2.2
- **Python 3.8.2
- **pip 22.2.2
- **azure-storage-blob                     12.13.1
- **azure-iothub-provisioningserviceclient 1.2.0
- **azure-iot-device                       2.11.0
- **azure-core                             1.24.2

## Description of the issue

I have copied the code from upload_to_blob.py [azure-iot-sdk-python] (samples/async-hub-scenarios).

I

[2022-08-08 21:51] anthonyvercolano commented on #1032
I'm not to familiar with specfic python sdk error logs but it looks like:
DEBUG:urllib3.connectionpool:https://.azure-devices.net:443 "POST /devices/ /files?api-version=2019-10-01 HTTP/1.1" 400 187

is missing the host name.

[2022-08-08 22:04] ikumar222 commented on #1032
I deleted the host name for privacy, but it is there. I have been able to connect to the host using telnet (443 & 8883) and send_message.py.

[2022-08-08 22:04] ikumar222 commented on #1032
I deleted the host name for privacy, but it is there. I have been able to connect to the host using telnet (443 & 8883) and send_message.py.

[2022-08-10 00:57] renakim opened #1033 "Error occured with IoT Hub F1 tier for provision symmetric key group sample."
# Context

- **OS and version used:** Windows 10
- **Python version:** 3.9.11
- **pip version:** 22.2
- **list of installed packages:** azure-iot-device==2.11.0
- **cloned repo:** azure-iot-sdk-python (60535b5554f9da409fc26c162b54a3d230004e4e)

## Description of the issue

I'm using the below resources.
* IoT Hub: F1, S1 tier
* DPS: S1

When I test a provisioning sample(`provision_symmetric_key_gr

[2022-08-10 15:34] cartertinney commented on #1026
@DavidGrob-MS

I have confirmed that this is a known issue with the IoTHub service, not on the device SDK.

[2022-08-10 16:00] DavidGrob-MS commented on #1026
@cartertinney

Thanks so much, feel free to close the bug.

[2022-08-10 16:02] #1026 closed

[2022-08-10 20:46] olivakar commented on #1033
What are the differences between the 2 hubs that you are using ?

[2022-08-10 22:59] renakim commented on #1033
I mentioned it in the text. One is the F1 tier and one is the S1 tier. The DPS used for provisioning is the S1 tier.
![image](https://user-images.githubusercontent.com/29771876/184037438-14e99bc0-0fbd-4168-b4fb-95d7f4de900f.png)

[2022-08-11 03:03] ikumar222 commented on #1032
I got this error when I used the IoT Hub free tier and I even tried it on a Raspberry Pi. However, I tried it with the basic tier 1 IoT Hub and I no longer get the error and it works fine.

[2022-08-11 19:10] olivakar commented on #1033
I tried the sample with an associated F1 tier IoT Hub without any issues.
Can you share your DPS name and registration id in a safer way via email?

[2022-08-11 23:58] renakim commented on #1033
Yes, I will share the information.
Based on what you said, it seems to be a DPS problem, so I tested it with another DPS and it worked fine.
Could I use an email address in your profile?

[2022-08-12 09:34] lev-i commented on #1028
@shivapower1985

I was able to set up an anaconda environment to run various samples in the SDK. I also ran them in a Jupyter Notebook. If you're still running into issues, please let me know.

There's a package available for conda that patches asyncio to allow nested event loops [here](https://anaconda.org/conda-forge/nest-asyncio/). I was able to run the samples without it, but it might fix the

[2022-08-12 22:29] olivakar commented on #1033
yes you can use the email address on my profile

[2022-08-14 15:58] yogaavanade opened #1034 "Do we have python code sample for device provision using enrollment group?"
Can you help me with the python code snippets for devision provision using enrollment group ?

[2022-08-15 14:27] cartertinney commented on #1034
There shouldn't be a difference between provisioning a device that was enrolled via an Individual Enrollment or an Enrollment Group.

Either way, you're going to provision the same

[code]

[2022-08-15 14:33] #1032 closed

[2022-08-15 15:55] cartertinney commented on #996
@robinvandamme

My apologies for the (extremely) late reply, somehow this slipped through. Are you using Edge, or just simply devices directly communicating with IoTHub?

[2022-08-15 18:47] cartertinney commented on #996
@robarnes @chewcw @robbinvandamme

Are any of you using a proxy by chance? Additionally, what version of OpenSSL are you using (

[2022-08-16 01:50] yogaavanade commented on #1034
@cartertinney
**I tried with the same. By it fails with the below error**
FYKI - I have given enrollment group in place of the registration_id and symmetric key taken from the enrollment group.

====
Traceback (most recent call last):
  File "\Miniconda3\envs\myenv\lib\site-packages\azure\iot\device\provisioning\aio\async_provisioning_device_client.py", line 29, in handle_result
    return await c

[2022-08-16 10:06] robbinvandamme commented on #996
@cartertinney
We are using libssl.so.1.1 in our application.
Can't tell for sure if there is a proxy or not, it's always the client his network we are connected to.

But I would be surprised there is a proxy at the location I talked about above.

I've also seen strange/similar iot-hub-device-client behavior at another client who had a standard home network.
Also then I had the feeling it was relat

[2022-08-16 15:06] cartertinney commented on #1034
@yogaavanade

The issue is likely that you are giving enrollment group in place of registration id. You should be providing the device IDs.

See this sample for an example:
https://github.com/Azure/azure-iot-sdk-python/blob/main/samples/sync-samples/provision_symmetric_key_group.py

[2022-08-16 15:39] kamedano opened #1035 "Fail to connect by "create_from_connection_string" ."
I try to connect to iothub by the following method, but failed in "KeyError: 'DeviceId'"
[code]

Error message is below
[code]

Refference:
https://docs.microsoft.com/en-us/python/api/azure-iot-device/azure.iot.device.iothubdeviceclient?view=azure-python#azure-iot-device-iothubdeviceclient-create-from-sastoken

[2022-08-16 18:04] cartertinney commented on #1035
@kamedano

Did you actually replace "{Connection String}" with your connection string? This error indicates your connection string has no device id in it.

[2022-08-16 18:34] cartertinney commented on #993
Closing since 1.1 workaround is working (for now)

[2022-08-16 18:34] #993 closed

[2022-08-16 19:02] olivakar commented on #1034
@yogaavanade
The enrollment group id is never required for the group sample anywhere. If you have 1 or multiple devices in 1 enrollment group, it should always be the registration id of the individual devices which is often similar to device id.

As for the symmetric key, the symmetric key of the group (or master key) is also never needed. You need to compute the device symmetric key and use those

[2022-08-16 19:07] lev-i commented on #1028
Closing due to inactivity. If you're still experiencing this issue just let us know and we can re-open this.

[2022-08-16 19:07] #1028 closed

[2022-08-17 01:09] yogaavanade commented on #1034
@olivakar
Thanks, that is really helpful. It worked at last. I computed the key for the device using the helper function provided and then tried running the same script.

Much appreciated.

[2022-08-17 05:19] #1035 closed

[2022-08-17 05:20] kamedano commented on #1035
I was referring to the wrong ConnectionString

[2022-08-17 06:19] pebneter commented on #993
The issue is for me still very relevant, because we want to move to version 1.3 of edgeHub.
I did tests with a version 1.3, and the issue was still present.

[2022-08-17 14:47] #1034 closed

[2022-08-18 00:04] olivakar commented on #1033
I checked the service logs and the only reason that your group sample might have failed with that specific DPS was due to the token validation failing. This is the exact message I saw in one of the logs.
`"message": SymmetricKeyAttestation SasToken validation failed as no matching enrollmentGroup was found for registration id <SOMETHING>, `

[2022-08-18 23:19] renakim commented on #1033
The cause of the problem was that the deleted hub was set up on the DPS Linked IoT Hub.
I re-established the connection and tested it and it works.
@olivakar Thank you for your help.

[2022-08-18 23:19] #1033 closed

[2022-08-19 16:54] olivakar commented on #1033
To clarify the above error for token validation failing was not the cause. This was in the logs of a **working** DPS with F1 IoT Hub. The DPS that **did not work** was a different one and the message in the logs was
`An error occurred while sending the request. ---> System.Net.WebException: The remote name could not be resolved: 'SOMETHING.azure-devices.net'` which points to it being that the hub

[2022-08-22 11:48] simebg opened #1037 "Thread leakage and unhandled exception due to constant disconnects"
# Context

- **OS and version used:** Ubuntu 22.04, Docker (python:3.10-slim-buster)
- **Python version:** CPython 3.10.5
- **pip version:** 22.2.2
- **list of installed packages:**
[code]
- **cloned repo:** N/A

## Description of the issue

Since 18-08-2022, the IoTHub started intermittently returning 500 (Internal Server Error) when using the file upload functionality, with file notifications. A

[2022-08-22 16:08] cartertinney commented on #1037
@simebg

One thing in particular immediately jumps out as potentially problematic here, which is that you never shut down the client, and instead appear to interrupt the application upon any failure. We highly recommend invoking the `.shutdown()` method when you are finished with a client, even if your application will be exiting in order to ensure the proper closure of sockets, etc.

This could p

[2022-08-22 16:52] simebg commented on #1037
@cartertinney

Thank you for getting back!

I checked the original code which produced the errors and logs I attached and there is a difference compared to the example code. On graceful shutdown, I don't call `.shutdown()`, however I do call `.disconnect()`. Is the former preferred over the latter?

Judging by the exception stack frame and having a quick read of the library code which raises the e

[2022-08-23 07:53] simebg commented on #1037
@cartertinney

Thank you for your help! I made changes to use `.shutdown()` on graceful exit and shutdown and recreate the client (after waiting some time for the application to calm down) using `.on_background_exception`. Hopefully this should mitigate the issues.

[2022-08-23 11:37] simebg commented on #1037
Had another occurrence of the same exception, however this time it was due to connection timeout instead of reconnects. Just as before, the HTTP server stopped responding.

The example code I gave at the beginning is still running without any issues. The following log line is from the code that doesn't use `.shutdown()` or `.on_background_exception` (as I haven't managed to deploy it yet), and it'

[2022-08-25 14:19] cartertinney commented on #1037
@simebg

To be clear, I wouldn't recommend calling shutdown any time there's a background exception. Plenty of background exceptions are not fatal.

We just released version 2.12.0 of the client yesterday, which provides numerous fixes for connection stability and logging improvements. While I don't think it's necessarily going to solve the problem, it would be helpful for us in our investigation

[2022-08-25 14:34] cartertinney commented on #996
@robbinvandamme

Since you are the only person who seems to still be experiencing this problem, would you mind opening a new GitHub issue that is focused on your situation and logs? We also just released version 2.12.0 of the azure-iot-device package, which has numerous stability and logging fixes. I can't say it's going to fix your issue, but it will at least remove some potential confounds as we

[2022-08-25 16:47] robbinvandamme commented on #996
Ok I'll update the devices with the latest version one of the upcomming months. If we still run into connection issue's i'll open a new ticket.

[2022-08-25 16:50] #996 closed

[2022-08-29 06:48] simebg commented on #1037
@cartertinney

With the new version (2.12.0), it appears that the upload functionality is much more stable. With the exception of the occasional timeout exceptions, I haven't seen any other issues in the monitoring tools. I disabled the restart functionality on the background thread exception handler.

I do have a question regarding this though. Is there a list of fatal exceptions in the documenta

[2022-08-29 18:11] cartertinney commented on #1037
@simebg

I would say that there isn't exactly a way to map errors to being fatal or non-fatal - it's more contextual. There are errors which are usually recoverable that in certain contexts indicate some kind of more serious failure has occurred - generally when you see the same error over and over again, like you see here. At this point in time the background exception handler is mostly just for

[2022-08-29 18:11] #1037 closed

[2022-09-22 22:53] gauravIoTEdge commented on #993
@pebneter - I'd recommend you moving to 1.4: https://github.com/Azure/azure-iotedge/releases/tag/1.4.0

@cartertinney - 1.1 is almost at the End of Life. The workaround isn't enough.

@jlian for visibility.

[2022-09-28 12:12] lucarv commented on #993
You need to reopen this issue. Upgrading the platform to 1.4 will not solve the problem. I suspect that with the changes introduced in 1.2 (with the new identity service) something has corrupted the re-authentication flow between a python module and edgeHub.

@gauravIoTEdge and @jlian for comments please.

[2022-09-28 15:33] gauravIoTEdge commented on #993
Well, I agree we need to to get to the bottom of this.

Just to be clear though - my suggestion of upgrading to 1.4 [rather than 1.3] was a general one because that is our LTS support version.

[2022-09-28 16:31] gauravIoTEdge commented on #993
@pebneter - please open this issue on the iotedge repo: https://github.com/Azure/iotedge

We'll take a look.

[2022-09-30 13:07] pebneter commented on #993
It might take a few days, but I will test with 1.4 and create one it the problem is still present.

[2022-10-06 08:42] pebneter commented on #993
Hi there, so I made some tests with edge 1.4 and the situation has not improved.
I can easily break the connectivity by starting/stopping my client script a couple of times. Doing the same with 1.1 does not trigger any issue.
I will not create a new ticket immediately, but follow the open issues on https://github.com/Azure/iotedge

[2022-10-11 06:14] petoor opened #1065 "Unable to add blob tags via iot blob upload"
Hi.

As the title states, I am unable to add blob tags to blobs uploaded via the iot hub.

Following your guide : https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/iot-hub/iot-hub-python-python-file-upload.md
it should be as simple as
[code]

However this yields a
`<Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation usin

[2022-10-11 07:47] lucarv commented on #993
@pebneter @varunpuranik @gauravIoTEdge What is the status of this issue? It is actually super easy to reproduce and I am surprised it has not been detected/fixed before, since we are already on edge 1.4 and this has been broken since 1.2

A module written in Python (latest, but I have tested with earlier versions too) will fail to renew the SAS token. If you want to reproduce, just create a module

[2022-10-11 10:44] marosrojis opened #1066 "Use DPS with TPM in Python"
I would like to ask you if is there any reason why you don't support provisioning with TPM in Python?

![image](https://user-images.githubusercontent.com/10144964/195067257-5ceead97-73bf-451a-8578-676f9a5d7704.png)

We are working on an IoT solution (30k+ IoT devices). Every device has a TPM. We would like to use Device Provisioning Service to establish a connection with the IoT hub. Because we ca

[2022-10-11 16:33] timtay-microsoft commented on #1065
This is likely tied to [this issue](https://github.com/Azure/azure-iot-sdk-csharp/issues/2359), FYI @cartertinney

[2022-10-11 16:37] anthonyvercolano commented on #1066
@marosrojis The short answer on this is that there is a body of code that implements a transition of arguments from python to C.  The c code is what works with the tpm.  This transition layer was never available for python.  It is for node, c# and java.  It is not likely to be available any time soon.

[2022-10-12 06:44] petoor commented on #1065
@lev-i Thanks, we do indeed need this feature so just knowing that Microsoft has it prioritized in a sprint would be very helpful.

[2022-10-12 13:20] Saljack commented on #1066
Does it mean that there is not way how to use TPM with Python? Why is it not possible to implement it in Python? It is pretty weird that other implementations supports it. Is the reason that Python library supports only MQTT? Is there any workaround? I thought call C library or call directly REST API from Python and get some token but I cannot find any information about any token and TPM. I found

[2022-10-17 20:17] lev-i commented on #1065
@petoor
Other customers running into the same issue had a workaround. They aren't using metadata, so they put the tags in the metadata and then copied the tags across in a Blob OnChange function.

Would that workaround be feasible for you, at least for the time being?

[2022-10-18 21:21] ryanwinter commented on #1066
Hi @Saljack,

Would you be willing to jump on a call and talk more on your scenario?

If so, can you post your email address here and I can get in touch.

Thanks
Ryan

[2022-10-19 13:42] Saljack commented on #1066
@ryanwinter Yes I am willing to call with you. But I would appreciate it if it was described in documentation. The REST API od DPS is again accessible (there was 404 for few days). And I found there  a `TpmRegistrationResult` which has an `authenticationKey` with description `Encrypted authentication key.` which is not helpful. I assume it is encrypted by SRK and then EK public keys. But why is it

[2022-10-19 20:46] ryanwinter commented on #1066
You can read more on the TPM attestation process for DPS [here](https://learn.microsoft.com/en-us/azure/iot-dps/concepts-tpm-attestation). Yes the authenticationKey is returned by the DPS register call and is encrypted with the provided SRK and EK.

[2022-10-27 19:57] lev-i commented on #1065
@petoor
I'm closing this out for now. Please feel free to re-open it if you'd like.

There is the above workaround, as long as you aren't using metadata. If you are, do be aware that the Gateway team is currently working on a fix, however I wouldn't expect that to be released until after the current planning period.

[2022-10-27 19:57] #1065 closed

[2022-10-28 04:20] petoor commented on #1065
Hi @lev-i .

Im glad they are working on a fix.

For anyone else browsing this issue : Our fix is to have an azure function with a blob trigger, that takes the metadata and adds that as tags. It works, it is not very complex, but of course it would be a better solution if it was not there at all.

[2022-11-10 03:09] camcuoi opened #1077 "Raspberry pi as iot device can not connect to IoT edge as gateway"
I am trying to send message from Raspberry Pi as iot device to iot hub through linux vm as iot edge gateway . The iot edge gateway uses self signed certificate. Although I have added root CA certificate to iot device, I always get error that it can not verify certificate. Please help advise how I can disable certificate verification.
Code: https://github.com/Azure/azure-iot-sdk-python/blob/main/sa

[2022-11-18 17:32] PeteDouma commented on #990
I watch as my device got this and has been in this loop for days.

`Nov 17 16:00:11 gardyn GRD-SVC-IOT[534]: 2022-11-17 16:00:11,191:azure.iot.device.common.pipeline.pipeline_stages_base:INFO:ReconnectStage(ConnectOperation): State changes LOGICALLY_DISCONNECTED->LOGICALLY_CONNECTED.  Adding to wait list and sending new connect op down:pipeline_stages_base.py:_run_op:956
Nov 17 16:00:11 gardyn GRD

[2022-11-22 15:28] Cavaler opened #1081 "Cannot process direct call with empty payload"
In Azure portal, when issuing a Direct Call to a module, Payload is described as:
"Optional data to pass to the method. May be a single value or a JSON **object/array."**
Since it is **optional**, I assume it may be missing / empty.

However, issuing such a call to module using Python SDK, results in an exception before control reaches module code:

WARNING - <azure.iot.device.iothub.pipeline.pipe

[2022-11-23 04:20] camcuoi commented on #1077
need CA