[2019-10-17 08:38] plpplp commented on #355
It does work if we do not use enrollment groups but individual enrollments along with symmetric keys. Enrollment groups with x.509 attestation method does also work.

The problem is that we need to use symmetric keys because the EdgeHub somehow can not authenticate x509 leave certs.

What I do not understand is, if the method `create_from_symmetric_key` would support enrollment groups, how would i

[2019-10-17 11:08] bukarev commented on #301
@BertKleewein I'm gonna reopen this issue, but maybe I just don't understand how to use what has been improved in the package.
Here's what I'm getting now after I updated the package to the latest version.
`Unexpected error in <azure.iot.device.common.pipeline.pipeline_stages_mqtt.MQTTTransportStage object at 0x757b6b50>._execute_op() call
Traceback (most recent call last):
  File "/usr/local/lib/

[2019-10-17 11:12] bukarev opened #356 "Device client still drops connection"
This is a continuation of the issue #301 reported earlier.

Maybe I just don't understand how to use what has been improved in the package.
Here's what I'm getting now after I updated the package to the latest version.
`Unexpected error in <azure.iot.device.common.pipeline.pipeline_stages_mqtt.MQTTTransportStage object at 0x757b6b50>._execute_op() call
Traceback (most recent call last):
  File "/u

[2019-10-17 23:38] olivakar commented on #355
The provisioning sample in the name of `register_symmetric_key` is meant for symmetric key registration of an individual enrollment.

I assume you are looking for a group enrollment.

[2019-10-18 05:31] plpplp commented on #355
Yes I do. Is there an example on group enrollments or can you point me in a direction (documentation, a other sample)?

[2019-10-18 17:26] olivakar commented on #355
For group enrollment the symmetric key present in the enrollment record represents the master key.
A device key needs to be derived from this master key.

You may find this link helpful.

https://docs.microsoft.com/en-us/azure/iot-dps/how-to-legacy-device-symm-key#derive-a-device-key

[2019-10-19 16:02] MiguelCHR opened #363 "Not authorized error"
Hi, i have a few devices that are connected for a while then they disconnect with the following exception:

`19.10.19 09:51:32 (-0600)  core  azure.iot.device.common.transport_exceptions.ConnectionDroppedError: None
19.10.19 09:53:34 (-0600)  core  ERROR:azure.iot.device.common.pipeline.pipeline_stages_mqtt:MQTTTransportStage: _on_mqtt_connection_failure called: Connection Refused: not authorised.

[2019-10-20 16:44] njbuch commented on #325
Is this being adressed in the v12 preview? As I am not seeing a difference.

[2019-10-21 20:43] cartertinney commented on #363
It appears your credentials are becoming invalid, thus leading to a dropped connection. Are you using the latest version of the Device Library (2.0.0-preview.12), or some other version?

[2019-10-21 21:39] jebrando commented on #356
@bukarev The SDK should reconnect automatically if there is a disruption, I have a few question so we can get a handle on the error that you received:

1. Did you start out with a sample or is this your own code

2. How long was the client connected before you received the errors?

3. During this time did the device have any network disruption or anything else that may have caused the error?

[2019-10-21 22:29] MiguelCHR commented on #363
Yes it seems i have the latest installed:

`
root@5999e77030cc:/usr/src/app# pip3 install azure-iot-device
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Requirement already satisfied: azure-iot-device in /usr/local/lib/python3.7/dist-packages (2.0.0rc11)
Requirement already satisfied: requests<3.0.0,>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from azure-iot-d

[2019-10-22 09:48] czgtest opened #366 "DLL load failed : The specified module could not be found."
Repro on Windows10
Python: 3.8.0 and 3.7.0

Run python code :  python -u "d:\f\Untitled-2.py"
Get the error:  DLL load failed while importing iothub_client: The specified module could not be found.

here is the step::
1. install latest python 3.8.0
![image](https://user-images.githubusercontent.com/35018765/67274545-3a120300-f4f3-11e9-99ab-f5ed8dbb5401.png)
2. install Azure IoT Hub Toolkit in VS C

[2019-10-22 11:18] bukarev commented on #356
@jebrando here are the answers:
1. I started with a sample while this SDK was in preview mode, and since then my code might have morphed. I'm happy to provide the code's skeleton.
2. The time to disconnection ranges from 1 to 5 minutes.
3. All other networked devices work fine, and I don't lose connection to the RaspberryPi on which this SDK is running, so I conclude there are no network interrupt

[2019-10-22 12:43] abouroubi commented on #342
Hello,

I'm having this error too, any ideas where it comes from ?

[2019-10-22 13:38] oerpli commented on #366
I have a similar error - not sure if it is the same though:

[code]

(not sure if the last line is related - I copied the whole thing from the Windows Event Log)

Here's a subset of my `conda list` that may be relevant:
[code]

[2019-10-22 15:33] abouroubi opened #367 "IoT Edge Module message never received by hub"
Hello,

I updated my IoT Edge Module to use the version 2 of the SDK, everything seems to work fine, but I'm not recieving the messages on the IoT Edge Hub part.

Here is my route (default one used with v1):

`
"MyModuleToIoTHub": "FROM /messages/modules/MyModule/outputs/* INTO $upstream"
`

Here are the logs:
[code]

Does the default route get updated on the v2 of the python SDK ?

[2019-10-22 16:47] jebrando commented on #356
@bukarev Thanks for the information, I'm trying to get a repro here on my RaspberryPi, but I'm not successfully reproducing the same issue, I've let my run overnight.  On my pi I have python 3.7.3 and I started with the receive_twin_desired_properties_patch.py sample.

Can you start with this sample, either the [sync](https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/sampl

[2019-10-22 18:23] cartertinney commented on #363
While it looks like you're still on 2.0.0-preview.11 rather than .12 (you can update with `pip install azure-iot-device --upgrade`), I'm not entirely sure that the upgrade will help you.

@BertKleewein any idea what could be causing this? Is this just a need for connection retry? It seems that something else might be wrong if an connection is dropped due to authorization issues.

[2019-10-22 18:54] MiguelCHR commented on #363
Ok in any case i am updating to 2.0.0-preview.12 for all my IoT devices.

[2019-10-22 22:29] jebrando commented on #366
@czgtest Our v1 device client has been deprecated, we've replaced it with a pure python v2 which provides a lot better experience.  If you could move to the new SDK you won't see this issue.

[2019-10-23 00:00] olivakar commented on #355
I have also added 2 samples that may help you. Please find them here.

https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/advanced-hub-scenarios/register_symmetric_key_group.py

https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/legacy-samples/register_symmetric_key_group.py

Hope this helps.

[2019-10-23 10:27] oerpli commented on #366
I thought I had the same problem (see StackTrace above) but it turned out that it was something unrelated.

My problem was related to how I started up my application, as my PowerShell used the conda environment correctly, whereas my Windows Service did not.

Fixing it was done with adding the necessary stuff to PATH.

(Though I used the v2 of the SDK)

[2019-10-23 11:07] HoLue opened #370 "receive_message.py: Exception ProtocolClientError: Out of memory"
Hello!

I tried
`azure-iot-sdk-python-master\azure-iot-device\samples\advanced-hub-scenarios\receive_message.py
`
on a Windows 10 machine. It starts,
`Press Q to quit`
but when I dend a message the following output appears in the terminal:
[code]
I tried 2 different ways to send the messge with the same result.
First way on windows 10 machine using SimulatedDevice.py from https://github.com/Azure-

[2019-10-23 11:17] HoLue opened #371 "BackEndApplication.py: ImportError: DLL load failed"
Hello!

I tried
azure-iot-samples-python-master\iot-hub\Quickstarts\back-end-application\BackEndApplication.py
on a Windows 10 machine. The following error occurs:
[code]

What can I do? Please help!

**Actually I want to implement a communication between Cloud (IoT hub) and the device in python. Any way to get this worked will be great!!**

[2019-10-23 21:47] MiguelCHR commented on #363
UPDATE: I had the same error again with the 2.0.0-preview.12, version, anything else that i can try?

Thanks again

[2019-10-23 22:47] Alberto-Vega opened #373 "Service example assumes same number of devices when it is not always the case"
Hi team moving this issue from https://github.com/MicrosoftDocs/azure-docs/issues/40863 opened by @jmonticelli

I was able to reproduce and the issue is with the method get_statistics() of the class IoTHubRegistryManager, it doesn't update the property totalDeviceCount.

After deleting a device then running this code the device count won't decrease.

In customer words:
_The Python guide suggests t

[2019-10-24 18:38] olivakar commented on #371
This sample above is trying to use the version 1 of the python SDK. This is because of a dependency of the SDK on an external library called boost that only works with specific versions of python.

We have been working to release the version 2 of the python SDK. We have formally deprecated V1 at this time, in order to focus on the V2 implementation. There are already couple of features that are fu

[2019-10-24 21:29] olivakar commented on #370
I have ran the [receive_message.py](https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/advanced-hub-scenarios/receive_message.py) sample in the `advanced-hub-scenarios` and it works fine. This is the scenario of a C2D (cloud to device) message. The output of a run with 2 C2D (cloud to device) messages that were sent to the device is shown below.

[code]
**For this s

[2019-10-24 22:43] HoLue commented on #370
Thanks for your answer!!

The samples SimulatedDevice.py and simple_telemetry.py worked.
And I misunderstood the receive_message.py. When I send a message via Cloud Shell
`az iot device c2d-message send --device-id <your device id> --hub-name <your IoT Hub name> --data <your message here>`
I can receive the message - great! Nevertheless I am astonished that when I send a message from that device v

[2019-10-24 22:55] HoLue commented on #371
Thanks for your answer!

Is there - without the dockerfiles - a possibility to react on a message from a device (function app? Trigered how?) by sending back an answer?

What is the time horizon for the 'much better service client experience'? A week? A month? A year?

[2019-10-24 23:40] olivakar commented on #370
For any feature meant for device the V2 samples are all here in this repo itself.  Please have a look at the [this samples folder](https://github.com/Azure/azure-iot-sdk-python/tree/master/azure-iot-device/samples).
To be more specific , the sync scenarios are here [legacy scenarios](https://github.com/Azure/azure-iot-sdk-python/tree/master/azure-iot-device/samples/legacy-samples)
The async scenar

[2019-10-25 00:05] HoLue commented on #370
Thanks!
Please lt me divide like you:

Thanks! (Device features)

==============================================================
Send Messages to Device (C2D)
Well IoT Explorer is a way (thanks, I tried it).

But how can I implement the following scenario:
D2C: send some values
These values should be processed in a funcion app and the result should be send back to the device (C2D) e.g. to do somet

[2019-10-25 14:08] Aaron-KBI commented on #370
I am encountering the same exact out of memory error using my own code to send messages to my IoT Hub.
On the same IoT Hub, using my same code, and with two different IoT Hub enabled devices, one device can connect and send messages successfully, while the may (or may not) throw this error. There are days a device connects and sends messages successfully, and days it will not. With no changes to t

[2019-10-25 18:31] Aaron-KBI commented on #370
I've figured it out. It was on my end. I had a background script connecting to my IoT Hub that was using the same IoT hub device as the script I was testing with. Running my script with the same device caused both of them to hit this out of memory error.

[2019-10-25 19:45] abouroubi commented on #367
I bypassed the issue by using `client.send_message_to_output(message, "MyModuleToIoTHub")`instead of `client.send_message(message)`.

This workaround worked for me, but the main issue is still present, when using only `client.send_message()`the IoT Hub never receives the messages sent.

[2019-10-25 23:25] olivakar commented on #371
What you are looking for are the Cloud-to-device messaging from backend app and Direct Methods operations by using backend app.  And If you look at the [features for the service client ](https://github.com/Azure/azure-iot-sdk-python#iothub-service-library-azure-iot-hub) you can see neither of these are present in the V2 of the SDK. But these are present in V1 and the best way to get them working i

[2019-10-25 23:26] olivakar commented on #370
https://github.com/Azure/azure-iot-sdk-python/issues/371#issuecomment-546543027

[2019-10-26 10:34] HoLue commented on #371
@ olivakar
Thanks!

May you tell me something about the rough timeline of V2 for Cloud-to-device messaging? I would prefer using V2....

[2019-10-26 13:04] bukarev commented on #356
After some investigation I've got a reason to believe that my program freezes because of another component, specifically, bluepy package (and the latter likely failing because my raspberryPi gets too hot over time). Closing the issue for now, sorry for the hassle.

[2019-10-26 13:04] #356 closed

[2019-10-26 13:04] az-iot-builder-01 commented on #356
@bukarev, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-28 07:29] HoLue commented on #371
@ olivakar
One more question - concerning the docker images - which docker should I take for a Azure serverless Function?

[2019-10-28 18:02] secretsquirell opened #374 "Using Advanced hub scenarios in SDK can not connect to IoT Edge device"
I'm using the register_x509.py sample in the advanced-hub-scenarios directory under the samples. I'm attempting to register a leaf device under my Edge device (running as a transparent gateway). I have had no issues using the certificates to register directly to IoT Hub.

I have set my PROVISIONING_HOST to be the hostname of my edge device. The SSL session appears to successfuly connect. However I

[2019-10-28 18:41] secretsquirell commented on #374
Some additional input.  looking at the docker container logs gives
`3> 2019-10-28 18:40:19.717 +00:00 [ERR] - Unable to generate identity for clientId rpi and username 0ne0008A64E/registrations/rpi/api-version=2019-03-31&ClientVersion=py-azure-iot-device%2F2.0.0-preview.12
<6> 2019-10-28 18:40:19.718 +00:00 [INF] - ClientNotAuthenticated, Client ID: rpi; Username: 0ne0008A64E/registrations/rpi/api

[2019-10-28 19:55] vipeller commented on #374
Hi,

just to make sure that I understand well your scenario: what you would like to achieve is that for provisioning, instead of calling the azure hosted provisioning service directly (e.g. calling "global.azure-devices-provisioning.net"), you would like to use the SDK connecting to your edge device (that is why your specified PROVISIONING_HOST as your edge device) and register your leaf device th

[2019-10-28 20:25] secretsquirell commented on #374
Yes that is correct (although I'm not certain that is supporteD)..  But I am taking a step back, and i disconnected the DPS, and am trying to use the IoTHubDeviceClient to connect to my edge device).  Basically I'd like to get my leaf device connected properly to my edge device with x509 certs.

[2019-10-28 20:25] secretsquirell commented on #374
note if there is a better place to go ask such questions please let me know

[2019-10-28 21:08] kkdawkins commented on #374
Hi @secretsquirell  -

Using Edge as a proxy for which the leaf devices will use to reach out is not a supported scenario. The correct flow here is to have the leaf devices themselves talk directly to DPS to provision, and then use that certificate to talk to the Edge device.

[2019-10-28 21:22] secretsquirell commented on #374
Ok.   lets assume that I don't want to use DPS.  I simply want to connect a device (which i created in iothub and made a child of my edge device.  The code I'm using is
`import os
import asyncio
from azure.iot.device import X509
from azure.iot.device.aio import ProvisioningDeviceClient,IoTHubDeviceClient

provisioning_host = os.getenv("PROVISIONING_HOST")
id_scope = os.getenv("PROVISIONING_IDSCOPE

[2019-10-28 21:26] secretsquirell commented on #374
i changed the trusted CA cert in the edge config, and this code seems to work fine now
`import os
import asyncio
from azure.iot.device import X509
from azure.iot.device.aio import ProvisioningDeviceClient,IoTHubDeviceClient

provisioning_host = os.getenv("PROVISIONING_HOST")
id_scope = os.getenv("PROVISIONING_IDSCOPE")
registration_id = os.getenv("DPS_X509_REGISTRATION_ID")

async def main():

[2019-10-28 21:34] secretsquirell commented on #374
however when I try and run the sample send_message_x509.py I get the same error condition.

[2019-10-28 22:48] BertKleewein commented on #374
@kkdawkins - are you saying that it should be possible to use x509 auth to connect a leaf device to iothub using edgehub as a proxy?  I'm having a hard time wrapping my head around how this would work.  I've only used edge as a gateway for leaf devices with symmetric key and _server-side_ SSL.  If you're using x509 auth for your leaf device, that means you're using _client-side_ SSL.  Is this even

[2019-10-28 23:00] olivakar commented on #371
The choice of the file depends on what python version you want and which operating system you have.

[2019-10-29 00:02] secretsquirell commented on #374
Why would I not be able to connect my leaf device to my edge using x509.  T have traced the network connection and the ssl handshake with the edge as the ssl server works fine.  What seems to be failing is the authentication at the mqtt layer.   The edgeHub container logs bear this out,  they show a failure to establish an identity for the device.   Using a shared symmetric key is imo less robust

[2019-10-29 00:36] vipeller commented on #374
@BertKleewein the two x509 related client authentication is the thumbprint and CA-based. In the first case the hash of the certificate is assigned to the device, in the second a root ca. Edge is able to ask this configuration from IoT Hub (e.g. the cert thumbprint for the device).
When the device connects to edge, edge will request for client authentication (it sends the certificate request msg at

[2019-10-29 00:37] vipeller commented on #374
@secretsquirell if you open the certificate you are using with the device, and check its thumbprint, can you compare it with the configuration at the azure portal for the device?

[2019-10-29 07:56] HoLue commented on #371
@ olivakar
Sorry, that I don't understand.... When I want to use a Azure serverless function: Which docker file should I choose? Or does it depend on my development system? That's windows 10 and there are no docker files for windows 10....

[2019-10-29 12:33] secretsquirell commented on #374
@vipeller    I am using a CA based certificate, not the thumbprint.  I followed the MS instructions using the certGen.sh script.
I have the following certificate chain for the certificate that i'm using on the device
azure-iot-test-only.root.ca -> azure-iot-test-only-intermediate-cert -> iot-edge-device-identity-piiot

I have successfully connected the device using these certs using DPS (i've disc

[2019-10-29 13:18] secretsquirell commented on #374
I went back and recreated everything from scratch.  Followed [https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md](url)
for the creation of the test CA cert, added the CA certificate to the Hub.

Created my device cert with
`certGen.sh create_device_certificate piiot`

Added the device piiot to the hub as being authenticated using a CA certificate.  W

[2019-10-29 13:21] secretsquirell commented on #374
I re-configured back to CA, and this time I specified the full chain cert for the device an that worked fine.  So i'm at a point where I can send messages from my device directly to my hub.

[2019-10-29 15:31] josiahlaivins opened #375 "AMQP Supported Anymore?"
We have found that the MQTT packet size is too small for the messages we need to send. Working with the new `IoTHubModuleClient` has made things easy, however we need to change the protocol being used.

Interestingly there seems to have been AMQP support as seen in #178 , however this was for Python 2.7 and the Transport provider does not seem to be present anymore.

We see that there is a `MQTTTr

[2019-10-29 17:04] vipeller commented on #374
@secretsquirell Sorry, but I am a bit lost where we are now, can we recap:

we are talking about "edge-device" and "downstream-device", and three configuration steps:
a) configure "edge-device", so it can connect to iot-hub
b) configure "downstream-device", so iot-hub can authenticate it
c) configure "downstream-device", so it will know "edge-device"

I suppose you never had problem with a).
from

[2019-10-29 18:38] secretsquirell commented on #374
Yes a) and b) worked.   For C i'm not specifying a connection string.  I'm using the IotHubDeviceClient.Create_from_x509_certificate method.  and simply setting the HOSTNAME environment variable to be the hostname of my edge device.

After mucking with the certificates on the Edge device and on the downstream device, i got it to work.  I'm not exactly sure what I did,  i ended up generating new ed

[2019-10-29 18:38] #374 closed

[2019-10-29 18:38] az-iot-builder-01 commented on #374
@secretsquirell, @vipeller, @kkdawkins, @BertKleewein, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-30 00:44] YoDaMa commented on #375
Hey @josiahlaivins

We will not support AMQP in V2 of the Python SDK. In addition to that we are deprecating V1 of the Python SDK.

If you want to use the Python SDK, make sure you are using V2, which is on pip as `azure-iot-device`.

More information on the Device SDK is in the readme:
https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/README.md

[2019-10-30 16:38] josiahlaivins commented on #375
Thanks for the reply @YoDaMa

We are sending base64encoded images. Currently we can only send one image per message, which can make response times too slow if we are processing a lot of images. We would like to send batches of images, however the MQTT max size is too small (it seems) because 2 images in JSON causes out of memory errors (?). 256 mb does seem large enough though...

Sending a single

[2019-10-31 17:29] YoDaMa commented on #375
@josiahlaivins Here's my suggestion, wait until we get uploadToBlob completed. We're actively working on implementing it. That'll connect to Azure Storage, and is more suitable to handling 150mb of data, and can do parallel uploads.

[2019-10-31 17:48] josiahlaivins commented on #375
@YoDaMa We were considering blob storage also. I neglected to mention this is messaging between containers on the same device. Messages are nicer than volumes since we want to keep containers as decoupled as possible / can attach extra information.

Do you think, for "messaging between docker containers", it is possible to use a local blob storage docker container to handle this?

[2019-10-31 18:15] YoDaMa commented on #375
That, I don't know enough about to give you a proper answer. Let me see if I can talk to someone in Azure Storage who would know more.

[2019-11-04 09:19] livneros commented on #328
Can you explain how did you solve this problem?

[2019-11-04 09:45] livneros opened #382 "Unable to connect and receive_twin_desired_properties_patch"
Hi, I'm using a simple code based on this functionality:
[code]
While yesterday it worked perfectly, today im suddenly getting this (common) error:
[code]
Any ideas?

[2019-11-04 18:54] #288 closed

[2019-11-04 18:54] az-iot-builder-01 commented on #288
@haimiko, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-11-04 18:59] jebrando commented on #373
@Alberto-Vega-MSFT We've brought this up with the service team and it is being looked into.  I shall update when we hear something.

[2019-11-04 21:52] #370 closed

[2019-11-04 21:52] az-iot-builder-01 commented on #370
@HoLue, @Aaron-KBI, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-11-04 21:54] #355 closed

[2019-11-04 21:54] az-iot-builder-01 commented on #355
@plpplp, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-11-05 19:00] OYTIS opened #385 "Registering without registration ID"
In C SDK it is possible to register a device knowing only global_prov_uri and ID scope (see e.g. https://github.com/Azure/azure-iot-sdk-c/blob/master/provisioning_client/samples/prov_dev_client_ll_sample/prov_dev_client_ll_sample.c).

Now in the registration samples for python DPS registration ID is also passed (see e.g. https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/sa

[2019-11-07 04:56] capfish commented on #268
I was having this same issue also with 10.15, 3.7, and 2019_01_03 and these are the steps that I took to get it working, many of it was inspired from this link https://stackoverflow.com/questions/49625315/httpapi-error-when-creating-device-identity-with-local-python-on-azure-iot-hub

- If you don't already install [brew](https://brew.sh/).
- Install boost and curl

        brew install boost-pytho

[2019-11-07 09:27] HoLue commented on #371
@ olivakar May you tell me something about the rough timeline of V2 for Cloud-to-device messaging? I would prefer using V2....

[2019-11-07 18:19] MichaelDenczek commented on #124
Testing with C code, the issue also occurs with the iothub_devicemethod_sample and possibly others.  The iothubowner work-around does allow the applications to run successfully.

The SDK should be updated to support service shared access keys or the samples should have their documentation updated to indicate the iothubowner requirement.

[2019-11-08 00:09] olivakar commented on #385
As of now using the V2 SDK it is not possible to provision without knowing the registration id.

Extraction from the certificate is a possibility but this is definitely an enhancement that we have to do a feasibility analysis of.

[2019-11-08 04:33] neha-s-deshpande commented on #291
hi, I was able to resolve the issue.
The key name for authentication is still hardcoded in python sdk in file iothub_messaging_ll.c
I followed this link
[(https://github.com/Azure/azure-iot-sdk-c/commit/21a13bfa722227b0a950ffcd9e6965f500879850)](url)
and made changes accordingly. Now it is working fine.

but if the code is like:
auth_hndl = IoTHubServiceClientAuth(CONNECTION_STRING)
iothub_messagi

[2019-11-08 19:07] BertKleewein commented on #382
Lately I've been seeing intermittent connection failures due to SSL handshake issues.  If so, Pull #389 should address this (and, theoretically, other ConnectionDroppedError cases).  One way to know for sure is to set the logging level to DEBUG and look at the stack that gets logged right after "disconnected with result code:".

[2019-11-08 19:13] BertKleewein commented on #367
I'm not an expert on routes, but I believe the route you have above will only route send_message_to_output calls because of the "/outputs/" in the path.  If you want to route send_message calls, I think you need to use "FROM /messages/modules/MyModule/* INTO $upstream"

[2019-11-08 19:19] BertKleewein commented on #363
This may not be related, and I see a slightly different flow through the code, but I've seen intermittent SSL handshake errors that could theoretically end up as auth errors.  If this is the problem, #389 should fix this. One thing that would help debugging is to set logging level to DEBUG and share the entire log (it will be long).  That will give additional context that should help solve the iss

[2019-11-08 20:17] BertKleewein commented on #342
I have 2 ideas on this.

First, #389 may fix this if the resolution failure is really temporary as the log indicates.  I'm doubtful that this will fix it, but it's possible.

The second, and more likely, possibility is that you need to tweak your DNS resolver to make it work.  This is because the connection from your module to edgeHub relies on your container being able to resolve the name of your

[2019-11-13 21:27] georgegoglodze commented on #128
Same problem here

[2019-11-13 23:08] jackt-moran commented on #342
I found the source of the issue and it doesn't have to do with this library. Sorry about the wild goose chase. It has to do with how I configured my custom Edge Runtime module.

The problem was the "NetworkingConfig" section in my deployment manifest:
`
{
    "avroProducer": {
      "version": "0.0.12",
      "type": "docker",
      "status": "running",
      "restartPolicy": "always",
      "sett

[2019-11-14 11:22] kingkashyap commented on #128
Even I am facing the same issue, I have installed "boost" modules using:
sudo apt-get install libboost-all-dev

which have installed many files.....but the error persists
also i have installed
sudo apt-get install libcurl3

my current version of libboost is 1.65.1.0.ubuntu1
found this by using the command

dpkg -s libboost-dev | grep 'Version'

This is the error what i get:

Traceback (most recent

[2019-11-15 16:51] weeotch opened #393 "Is IoTHubDeviceClient threadsafe?"
I'm trying to use the python 2.7 compatible SDK to enable communication over all of the IoT Hub channels at once:

- Receiving cloud to device messages
- Receiving direct method invocations and sending a response
- Responding to device twin updates
- Sending device to cloud messages
- Sending device twin updates

What I'm running into is that each of these channels requires polling for messages an

[2019-11-15 18:07] jackt-moran commented on #342
As far as I'm concerned this issue can be closed.

[2019-11-15 21:27] #342 closed

[2019-11-15 21:27] az-iot-builder-01 commented on #342
@jackt-moran, @abouroubi, @BertKleewein, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-11-18 20:05] jaypaddy opened #396 "Accessing Payload message in receive_method_request(method_name="XXXX")"
Not sure what i should do to access the message payload coming through receive_method_request.

The line print("Payload:" + method_request.data ), seems to hang and hence the direct method fails to send message from Azure Portal. When i remove the statement print("Payload:" + method_request.data ), everything works correct. However i still don;'t know how to get access to the payload  coming throu

[2019-11-19 14:08] misd92 commented on #16
Hi @zolvarga ,

I am trying to use "iothub_client" for my Azure IoT Edge module. Are these new libraries an alternate for the previous iothub_client? I am assuming that the modules specified here are to communicate with Azure IoT Hub directly instead of Edge runtime. If so how can I avoid the issue of Import error in Edge modules?

[2019-11-22 07:56] LouanDuToitS3 commented on #303
Hi, any update on this, I am now facing a situation where I can no longer use the V1 client due to a requirement for Python 3.6+, and therefore want to go with the V2 API. My latest tests using preview 13 still has an issue where comms between edge modules start failing silently due to not being connected to edgeHub.

[2019-11-25 08:02] oerpli opened #399 "Disconnect without reconnect in rc13"
Up until v2.0rc12 I sometimes had the issue with the (spurious) OutOfMemory error related to connection problems.
Since updating to rc13 last week, I did not find those issues anymore, but instead had the following:

[code]

From then on, the connection seemed to be dead with no more messages being sent.
Should this exception be handled by the user (me) or should the reconnect be done by the SDK?

[2019-11-25 14:50] BertKleewein commented on #303
I'm pinging the team on this.  In the meantime, are you able to privately share logs with me?  I'm curious to know if I can figure out how it's silently failing.

[2019-11-25 14:52] LouanDuToitS3 commented on #303
@BertKleewein , will do, give me a couple of days to see what I can get.

[2019-11-25 14:56] BertKleewein commented on #399
Hi @oerpli

The reconnection should happen automatically, Are you able to privately share full logs with me?

Setting the logging level to INFO or even DEBUG would help.  I really only need to see the _on_mqtt_disconnected message onward.  There is a piece of code called the ReconnectStage which should detect this condition and reconnect.  It sound like this reconnection code isn't being triggered

[2019-11-25 15:00] BertKleewein commented on #382
Hi @livneros ,
Can you please try your scenario with our rc13 release and report your results?
https://pypi.org/project/azure-iot-device/2.0.0rc13/

[2019-11-25 15:03] oerpli commented on #399
I would like to share more, but that's all I have at the moment.
I logged my application with logging level INFO, but after my excerpt all remaining log was from my code.

I restarted the process today and changed the logging level to DEBUG - I will add more, if there is something in the log then.

[2019-11-25 15:13] LouanDuToitS3 commented on #303
@BertKleewein , I had a quick search for some of the logs, and below is a small dump of two of the logs.

Log 1 things remained broken with no connection and no way for me to know there is an error.
Log 2 the connection recovered, and all is well. I still had no knowledge of the issue, but it's fine because it recovered on it's own.

[code]

[2019-11-25 16:01] livneros commented on #382
@BertKleewein
Thanks for your help!
I tried to run it as you said and those are the results (attached as a screenshot as well):
[2019-11-25 15:58:36,127] - ERROR: MQTTTransportStage: _on_mqtt_disconnect called: Paho returned rc==1 caused by None
[2019-11-25 15:58:36,130] - ERROR: Exception caught in background thread.  Unable to handle.
[2019-11-25 15:58:36,131] - ERROR: ['azure.iot.device.common.

[2019-11-25 17:22] BertKleewein commented on #382
That's a good point.  Those are really warnings because our SDK _should_ be recovering and reconnecting.  I'm looking for a component further on called the ReconnectStage.  This should be noticing that the connection dropped and it should reconnect.

[2019-11-25 22:07] San42 opened #401 "Checking if there is a connection"
Hi, so I am looking for a function which checks if there is a connection established to the azure iothub server? Maybe returns a boolean or 0/1.  Currently I am using client = IoTHubDeviceClient.create_from_connection_string(CONNECTION_STRING) and then client.connect(). Thanks!

[2019-11-26 13:43] oerpli commented on #399
Just noticed that the logging level of 3rd party code (the SDK) was set to WARNING when the bug above occurred. So not sure whether the IoT SDK emitted any more messages.

Since yesterday it's running with DEBUG but there haven't been any issues yet. I will post an update as soon as I know more.

[2019-11-26 17:01] MiguelCHR commented on #363
Hi i haven't seen this error since the 2.0.0-preview.13 release, thanks for the support

[2019-11-26 20:53] BertKleewein commented on #312
@njbuch - The IoTHub feature set lets you send a C2D message to a an IoTHub _device_.  It does not let you send a C2D message to an IoTHub (or IoTEdge) _module_.  The most direct route to get information from the cloud to an IoTEdge module is to use a direct method or a module twin desired property.

[2019-11-27 07:05] njbuch commented on #312
@BertKleewein - Thanks for clarifying this, but I dont understand why there is no replacement for that design-decision in the world of IotEdge technologies. Software components should be well structured and needs to be able to live on the device, independently of the other modules and what else might be running the device. In the device-model the module needs to have device specific configuration

[2019-11-27 07:05] #312 closed

[2019-11-27 07:05] az-iot-builder-01 commented on #312
@BertKleewein, @njbuch, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-11-27 16:40] MiguelCHR commented on #399
Hi, i am having the same issue i will also try to catch something with debug

[2019-11-28 09:18] mounir-futurefacts commented on #399
Experiencing the same error after my WebSocket api had a connection error:

[code]

The code hangs and after keyboardinterrupt (hours later) we can see in which code segment:

[code]

[2019-11-28 13:43] mounir-futurefacts commented on #399
A more detailed log this time:

[code]

[2019-11-29 13:13] mounir-futurefacts commented on #399
I keep encountering this error every few hours when running a script that sends device to cloud messages (250 devices, sequentially). Here is the full DEBUG level error log. I really need this to work on production level soon, so would love to hear an update or maybe some workaround. Thanks

[code]

[2019-12-02 20:24] BertKleewein commented on #399
@mounir-futurefacts - I think I see the problem here (and a hole in our testing).

[code]

Your first send_message call was causing the client to connect automatically, and that's the way it's supposed to work, but that code path wasn't setting the flag that triggered the automatic reconnect logic.

You should be able to work around this by calling connect() on the client object before you start s

[2019-12-02 22:11] jflynn129 opened #404 "Question: Using azure-iot-sdk-python with a serial connection (UART) to a modem"
I would like to use Python to connect to an IoT Hub for data reporting.  Looking at the Samples that are provided it looks pretty straight forward, but the examples are running on (in my case) Linux and appear to be using the standard eth interface for communication with Azure IoTHub.  For me to use with my target, I need to have it communicate using a serial port and AT commands.  I was planning

[2019-12-03 05:15] junsaw opened #406 "Route Message from IoT Device Module"
Hey All,

I am trying to determine what is the best process for capturing and/or routing messages from an Azure IoT Device Module to the Azure IoT Hub.

Any help will be much appreciated.

Thanks Alot

Regards
Junior

[2019-12-03 08:42] mounir-futurefacts commented on #399
@BertKleewein - thanks, this seems to be the problem indeed. I have not tested it with a single call to the connect() method, but since I updated my code yesterday to manually connect and reconnect every x messages it is now running for 24hrs straight with no problems.

You probably want to update the quickstarts (at least the simulated device quickstart which I used as a starting point for my pro

[2019-12-03 23:33] MiguelCHR commented on #399
I saw the problem again using the connect() only on my __init__, do i need to connect() again after the error occurs or on each of the calls to the send_message?

Thanks in advance

[2019-12-04 08:03] mounir-futurefacts commented on #399
Hi Miguel,

I am not calling connect() before each send_message call, but rather call disconnect() after each batch of messages (every minute) and then connect again before sending a new batch. You might try something like this for your own solution, where you preventively (dis)-connect after a batch of messages.

Mounir Hader

+31 613307367<tel:+31%20613307367> • mounir.hader@futurefacts.nl<mailt

[2019-12-04 10:09] oerpli commented on #399
Is this an issue that should be handled by the user (of the SDK) or by the SDK itself?
In case of the latter - is there a timeline when it will be done?

[2019-12-04 14:22] BertKleewein commented on #399
@oerpli - this _hould be done by the SDK.  Calling connect from the client is just a workaround and  only needs to be called one single time.  If you're not seeing a line in the log (level INFO) that says `ReconnectStage: disconnected, but not virtually connected.  Not triggering reconnect timer.` then your issue has a different cause.

[2019-12-06 21:31] radoye opened #411 "sending c2d impossible in Python?"
What is the preferred/suggested way to send c2d from Python at the moment?

v2 does not support c2d sending?
v1-deprecated is broken; I get behavior similar to #291
In our case `open_complete_callback` is never executed. I cannot send or close properly!

We're using

  * Python 3.7
  * Ubuntu 18.04 (libboost1.65)

fresh checkout & build of v1-deprecated branch

[code]

Any pointers to docs/setup t

[2019-12-06 22:44] Alberto-Vega-MSFT commented on #404
For more info see the post on MSDN for the same question: https://social.msdn.microsoft.com/Forums/en-US/a394ac52-d37f-482e-9bdd-7d5338a7c067/connecting-to-iot-hub-using-python-and-a-uart-transport?forum=azureiothub

[2019-12-09 17:22] #404 closed

[2019-12-09 17:22] az-iot-builder-01 commented on #404
@jflynn129, @Alberto-Vega-MSFT, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-12-10 05:03] Alberto-Vega-MSFT commented on #404
@jflynn129 I apologize for the delay. I see that you closed this issue but I am not sure if you were able to resolve it?

[2019-12-11 15:48] jflynn129 commented on #404
No, I saw where you pointed me to the MSDN post so was expecting to hear back on that one rather than this.

[2019-12-12 19:57] jebrando commented on #401
@San42 Yes, this is a gap in the current SDK.  We will be looking into this right after GA and will keep this item open for tracking.

[2019-12-12 20:32] BertKleewein commented on #406
Hi @junsaw,

The most basic way to send messages is to use the send_message method.  I would recommend starting with this quickstart: https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-python.

If this doesn't answer your question, could you provide more detail please?  If you don't want to post confidential information on your scenarios, we could certainly take this conversa

[2019-12-12 20:54] jebrando commented on #411
@radoye Your evaluation of the python SDK in sending C2D messages is correct.

The v2 does not support c2d sending because of technical challenges that we're working to fix, but it will take time to get all the pieces together.
V1 has some inherent difficulties with the underlying C-SDK which you're seeing.

The question I have is before you build the v1 did you pull try pulling the latest C-SDK,

[2019-12-12 20:57] BertKleewein commented on #393
Hi @weeotch, the SDK should be completely threadsafe.  You shouldn't have any reason to lock around the object.  If you do need to lock, that's a bug.

Regarding your scenario, there are two different ways to do this, and both are acceptable.  The first is to spin up one thread per channel as you describe above.  The other is to poll each channel in turn using block=False and an an optional timeou

[2019-12-12 21:07] radoye commented on #411
@jebrando Thanks for confirming.

This is what I have in my Dockerfile

[code]

Current workaround:
  * Java SDK + service wrapper
  * [Py4J](https://www.py4j.org/) server to expose the service wrapper
  * Python client

A bit heavy to get c2d, no? :)

[2019-12-12 23:33] jebrando commented on #411
@radoye, @BertKleewein gave me something that may be a sample to unblock you while we get the C2D messages in the v2 SDK:

https://github.com/Azure/iot-sdks-e2e-fx/blob/master/test-runner/adapters/direct_azure_rest/amqp_service_client.py

This code will send a C2D message to a device.  Let us know if this works for you.

[2019-12-16 06:54] radoye commented on #411
@jebrando thanks, that works!

[2019-12-16 06:54] #411 closed

[2019-12-16 06:54] az-iot-builder-01 commented on #411
@radoye, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-12-16 21:31] jflynn129 opened #417 "ImportError: ..../site-packages/iothub_service_client/iothub_service_client.so: invalid ELF header"
I am trying to run the example from https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-python-python-c2d and when i do, it replys:
[code]
Can you offer any help on what the actual issue is here? I've tried re-installing but with no positive results.

I tried running pip install with -v and it reports many elements are "not compatible with this Python", e.g.:

[code]

Any suggestions?

PS. I am

[2019-12-16 21:45] jflynn129 commented on #417
Additional info: When I tried installing (as mentioned https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-control-device-python), it reports a 404 error:

[code]

Maybe this library was missed in an update?

[2019-12-16 22:47] jflynn129 commented on #417
Full PIP install log. It says that it was successfully installed, but it wasn't apparently...

[code]

[2019-12-16 23:46] olivakar commented on #396
I am not exactly sure why the line will hang but the `MethodRequest` object in the azure-iot-sdk-python has no attribute called `data`. The attribute you may be looking for is payload.

[2019-12-17 15:28] jflynn129 commented on #417
@jebrando I see you added the v1-deprecated tag which may explain the problem, but not hot to fix it. I suspect there may be a different Quick Start example somewhere that does work but it isn't clear from the repository readme or documentation where that is or how to use.  If you have to install the depreciated v1 solution can it co-exist with the current solution or do you have to uninstall the

[2019-12-17 15:48] jflynn129 commented on #417
@jebrando Also curious why a v1-deprecated error would manifest itself as a 'packages/iothub_service_client/iothub_service_client.so: invalid ELF header' error (I'm not sure what the ELF header conveys about the '.so' file).

import iothub_service_client # directory /home/xilinx/.local/lib/python2.7/site-packages/iothub_service_client
# /home/xilinx/.local/lib/python2.7/site-packages/iothub_servic

[2019-12-17 18:20] njbuch opened #421 "First 2.0.0 spin with Direct Message to Module on Edge - not working"
Took the brand new 2.0.0 for a spin (I was really looking forward to that) and it looks promising, but still no success:

[code]

Is the output, when running [https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/async-edge-scenarios/invoke_method_on_module.py]( https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/async-edge-scenarios/invo

[2019-12-17 18:37] jebrando commented on #148
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK.  We will be closing the v1 SDK issues whose features are covered by the v2 release.  Feel free to open an new issue if you find an issue with the v2 SDK.

Thank you for your patronage

[2019-12-17 18:37] #148 closed

[2019-12-17 18:37] az-iot-builder-01 commented on #148
@bulletlink, @jackt-moran, @uitdam, @Cnidarias, @LouanDuToitS3, @BertKleewein, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-12-17 19:16] YoDaMa commented on #421
Hey @njbuch let’s figure out what’s wrong! When you are invoking the method on the target device or module, is the client set up to respond to your specific method invoke parameters? A 504 timeout to me might hint at that. If you could post some anonymized debug logs of the run here too that would be helpful in addition to the stack trace already provided.

[2019-12-17 19:43] cartertinney commented on #417
It appears you are trying to install and use a sample for the V1 library. The V1 library is deprecated, and no longer supported due to technical issues. As of today we have released a version 2.0.0 of both the Device libraries and the Service libraries. However, some of the documentation for usage scenarios has lagged behind.

We are working to update all samples and documentation for V2 as soon a

[2019-12-17 19:49] jflynn129 commented on #417
Ok, thank you for the update. Any idea when the documentation will be caught up? I think that the inconsistency between the docs and code is what confused me the most.

[2019-12-17 20:04] njbuch commented on #421
Thanks!

I have other modules running on the device, and they are in C# and are receiving direct method calls nicely. There is also some C# code running in the same module that can receive direct method calls.

I am running the code linked in the OP out of the box to check that it works, except I have correct the device-name and module-name. So I am calling the "doSomethingInteresting" on the devi

[2019-12-17 21:37] YoDaMa commented on #421
For the logging, add the following lines to your sample code at the very top:

[code]

And, just for due diligence, when you're adjusting the code, you're adding in your respective device_id and module_id, and editing the fake_method_params object so that the methodName is a method that you have enabled on the C# module that is receiving method calls presently? I assume the answer is yes, but want

[2019-12-17 22:28] Alberto-Vega-MSFT commented on #404
@jflynn129 I reached out internally and we do not have a sample using a serial port to connect over MQTT. I was pointed to Paho but does not seem to have an easy to support this configuration. As a starting point for exploration, the code that opens the socket is here:
https://github.com/eclipse/paho.mqtt.python/blob/1eec03edf39128e461e6729694cf5d7c1959e5e4/src/paho/mqtt/client.py#L3508

[2019-12-17 22:44] njbuch commented on #421
Argh. I misunderstood the purpose. I need code that listen to a method Call inside a module. Sorry. My mistake.

[2019-12-17 22:44] #421 closed

[2019-12-17 22:45] az-iot-builder-01 commented on #421
@YoDaMa, @njbuch, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-12-17 23:58] capfish opened #423 "IoTHubRegistryManager.query_iot_hub throws msrest.exceptions.DeserializationError"
Using the azure-iot-hub 2.0.0 on MacOS 10.14.6 with Python 3.6.4 I ran into the above issue details below.

Steps to reproduce:
[code]

Result:
[code]

Expected Result:
A QueryResult containing the devices in the IoTHub.

If I run the following:
[code]
So something is wrong with the deserializer that the `ServiceOperations` class uses when it is deserializing a "QueryResult"

[2019-12-18 01:43] capfish commented on #423
Ah it looks like this [line](https://github.com/Azure/azure-iot-sdk-python/blob/766bb1ac95cee271d278ff49e5b03a9b81a79b20/azure-iot-hub/azure/iot/hub/protocol/operations/service_operations.py#L614) is culprit.  I think it should be
[code]
as all queries will return a list.  This gives me the expected output when run manually in a terminal.  It says that the code is auto-generated, I am not quite su

[2019-12-18 15:38] jebrando commented on #154
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK.  We will be closing the v1 SDK issues whose features are covered by the v2 release.  Feel free to open an new issue if you find an issue with the v2 SDK.

Thank you for your patronage

[2019-12-18 15:38] #154 closed

[2019-12-18 15:38] az-iot-builder-01 commented on #154
@mattdodge, @harmv, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-12-18 15:38] jebrando commented on #165
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK.  We will be closing the v1 SDK issues whose features are covered by the v2 release.  Feel free to open an new issue if you find an issue with the v2 SDK.

Thank you for your patronage

[2019-12-18 15:38] #165 closed

[2019-12-18 15:38] az-iot-builder-01 commented on #165
@vbadri, @baharw, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-12-18 15:39] jebrando commented on #170
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK.  We will be closing the v1 SDK issues whose features are covered by the v2 release.  Feel free to open an new issue if you find an issue with the v2 SDK.

Thank you for your patronage

[2019-12-18 15:39] #170 closed

[2019-12-18 15:39] az-iot-builder-01 commented on #170
@KundhanSoothsayer, @Obad94, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-12-18 15:44] jebrando commented on #178
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK.  We will be closing the v1 SDK issues whose features are covered by the v2 release.  Feel free to open an new issue if you find an issue with the v2 SDK.

Thank you for your patronage

[2019-12-18 15:44] #178 closed

[2019-12-18 15:44] az-iot-builder-01 commented on #178
@alex007sirois, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-12-18 15:44] jebrando commented on #180
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK.  We will be closing the v1 SDK issues whose features are covered by the v2 release.  Feel free to open an new issue if you find an issue with the v2 SDK.

Thank you for your patronage

[2019-12-18 15:44] #180 closed

[2019-12-18 15:44] az-iot-builder-01 commented on #180
@alex007sirois, @nymix, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-12-18 15:44] jebrando commented on #181
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK.  We will be closing the v1 SDK issues whose features are covered by the v2 release.  Feel free to open an new issue if you find an issue with the v2 SDK.

Thank you for your patronage

[2019-12-18 15:44] #181 closed

[2019-12-18 15:45] az-iot-builder-01 commented on #181
@alex007sirois, @Ram9293, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-12-18 18:37] cartertinney commented on #417
We don't currently have a specific date, but we are actively working with our partners to ensure they're updated as soon as possible.

[2019-12-18 20:05] cartertinney commented on #423
We have replicated and identified the problem, and are working to fix it as soon as possible

[2019-12-19 14:04] LouanDuToitS3 commented on #399
@BertKleewein  - Hi, after running fine for 48 hours with the released V2 I got:
[code]
So for me this issue persist....

[2019-12-21 18:13] radoye opened #429 "multicast c2d?"
When I have multiple listeners waiting for c2d message only one of them receives. Is this by design or due to something I'm doing wrong?

Is there a way to multicast, i.e. deliver to all listeners? Replaying last N messages for every listener would also be OK (the way service SDK works when reading messages from iothub).

We use IoTHub c2d messages to coordinate cloud/edge FSMs. We run multiple se

[2019-12-23 23:31] cartertinney commented on #429
This is by design, as each call to  `.receive_message()` will return the latest message, much like a FIFO queue. As such, once a message is returned, it is no longer available to be returned elsewhere.

In order to trigger multiple effects upon receiving a C2D message we recommend a pattern such as the following:

[code]

If this is insufficient, please let us know more about your scenario, and we

[2019-12-25 08:04] radoye commented on #429
@cartertinney Thank you for confirming.

[2019-12-25 08:04] az-iot-builder-01 commented on #429
@radoye, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-12-25 11:38] njbuch commented on #325
I am closing this issue, reverting to other methods that are less elegant but works. Was not able to find options to exposing direct methods in the newest release as of today.

[2019-12-25 11:38] #325 closed

[2019-12-25 11:38] az-iot-builder-01 commented on #325
@njbuch, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-12-30 05:51] maheshcv commented on #401
I would be interested when this feature is ready

[2020-01-02 19:24] jebrando commented on #182
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 19:24] #182 closed

[2020-01-02 19:24] az-iot-builder-01 commented on #182
@Bnjmn83, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-02 19:24] jebrando commented on #201
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 19:24] #201 closed

[2020-01-02 19:24] az-iot-builder-01 commented on #201
@naveen3p, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-02 19:24] jebrando commented on #202
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 19:24] #202 closed

[2020-01-02 19:24] az-iot-builder-01 commented on #202
@andrewschmidt-a, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-02 19:30] jebrando commented on #205
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 19:30] #205 closed

[2020-01-02 19:30] az-iot-builder-01 commented on #205
@cfoisy-osisoft, @kiran007francis, @Petermarcu, @jscott3201, @matthewcarlisle, @JoelBennett, @SalmaMamdouhSalem, @maranov, @ilayn, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R

[2020-01-02 19:30] jebrando commented on #216
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 19:30] #216 closed

[2020-01-02 19:31] jebrando commented on #223
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 19:31] #223 closed

[2020-01-02 19:31] az-iot-builder-01 commented on #223
@jspaith, @kwarodom, @neha-s-deshpande, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-02 19:31] jebrando commented on #235
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 19:31] #235 closed

[2020-01-02 19:31] az-iot-builder-01 commented on #235
@brycepg, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-02 19:32] jebrando commented on #244
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 19:32] #244 closed

[2020-01-02 19:32] az-iot-builder-01 commented on #244
@MaWa19, @sense2k8, @darthkurak, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-02 19:32] jebrando commented on #247
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 19:32] #247 closed

[2020-01-02 19:33] az-iot-builder-01 commented on #247
@KundhanSoothsayer, @massand, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-02 19:33] jebrando commented on #263
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 19:33] #263 closed

[2020-01-02 19:33] az-iot-builder-01 commented on #263
@erdemontas, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-02 19:33] jebrando commented on #268
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 19:33] #268 closed

[2020-01-02 19:33] az-iot-builder-01 commented on #268
@mibarg, @capfish, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-02 20:49] jebrando commented on #270
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 20:49] #270 closed

[2020-01-02 20:49] az-iot-builder-01 commented on #270
@czgtest, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-02 20:49] jebrando commented on #272
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 20:49] #272 closed

[2020-01-02 20:49] az-iot-builder-01 commented on #272
@protatremy, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-02 20:50] jebrando commented on #273
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 20:50] #273 closed

[2020-01-02 20:50] az-iot-builder-01 commented on #273
@esidebo, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-02 20:50] jebrando commented on #282
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 20:50] #282 closed

[2020-01-02 20:50] az-iot-builder-01 commented on #282
@loarabia, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-02 20:51] jebrando commented on #284
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 20:51] #284 closed

[2020-01-02 20:51] az-iot-builder-01 commented on #284
@amoljadhavmobiliya, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-02 20:52] jebrando commented on #366
With the Python v2 reaching General Availability we are recommending users move away from the v1 SDK. 
We will be closing the v1 SDK issues whose features are covered by the v2 release. 
Feel free to open an new issue if you find an issue with the v2 SDK.
 
Thank you for your patronage

[2020-01-02 20:52] #366 closed

[2020-01-02 20:52] az-iot-builder-01 commented on #366
@czgtest, @oerpli, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-04 16:51] junsaw commented on #406
Hey @BertKleewein,

Thanks for the reply, I do apologize for the delay in my response, I noticed I am using the Python V1 library let me first transition to V2 and see if the problem still exists.

Will post an update in the coming days.

Regards
Junior

[2020-01-06 04:13] junsaw commented on #406
Hey @BertKleewein

I updated my code to use the newer version of the Azure IoT Python module **(V2)** and I am now able to see messages sent from a device module to my IoT Hub.  This issue is now resolved.

Thanks for the follow up once again.

Junior

[2020-01-06 04:13] #406 closed

[2020-01-06 04:14] az-iot-builder-01 commented on #406
@BertKleewein, @junsaw, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-06 21:37] jpagliaccio commented on #311
I am getting the same errors as of 1/6/2020 with Python 3.6 using the 2 examples in the azure-iot-device/samples/sync-samples.

[2020-01-07 23:15] radoye commented on #429
It seems that the Service SDK can have only one reader process, as well. Can you confirm please? When I try to open multiple python instances using the same service connection string, the last one seems to win, and only that one receives the message stream.

The pattern proposed above can still be used, but it's subject to a single python interpreter and forces coordination between multiple listen

[2020-01-07 23:43] cartertinney commented on #429
Could you be specific about which API you're referring to in the service library?

[2020-01-09 16:00] Kyrylo-Iarosh commented on #399
Hi guys,

Also observed this issue several times during our custom module development.
[code]

Unfortunately (or luckily), cannot reproduce it now with  debug log level. Issue happens quite unpredictable and not on a regular basis. I will share logs when observe it again.

[2020-01-09 16:03] oerpli commented on #399
As a quick update: I added the `.connect()` and haven't had a single issue since the last restart (around mid December).

[2020-01-13 17:33] BertKleewein commented on #393
@weeotch - can you confirm that this answers your question?

[2020-01-13 17:35] BertKleewein commented on #303
closing as a duplicate of #401

[2020-01-13 17:35] #303 closed

[2020-01-13 17:35] az-iot-builder-01 commented on #303
@LouanDuToitS3, @BertKleewein, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-13 23:30] msjaber commented on #399
This is weird. Whenever I try to run `receive_direct_method.py`, it keeps disconnecting every few seconds.

Here's the log if it helps:

[code]

[2020-01-14 14:33] BertKleewein commented on #363
Thanks for the feedback.  Please let me know if this comes back.

[2020-01-14 14:33] #363 closed

[2020-01-14 14:33] az-iot-builder-01 commented on #363
@MiguelCHR, @BertKleewein, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-14 14:54] BertKleewein commented on #311
@jpagliaccio -

Can you confirm what version of azure-iot-device you're running.  The messages above imply that you're using v2.0.0-preview.12.  Can you  update to the released v2.0.0 *(or newer) library please.

If this is a problem with the v2.0.0 library, are there any problems beyond the error output?  The library is written to recover from dropped connections.  This output you pasted appears

[2020-01-14 17:01] BertKleewein commented on #399
@msjaber - From this log, I see the disconnects and I see the library reconnecting.  It looks like the python library is behaving as it should given what it can control.  If the library sees the connection drop, it tries to reconnect.

I don't see anything in that log showing a _cause_ for the frequent disconnects.  It looks like the library is reconnecting successfully but something else is causi

[2020-01-17 01:05] radoye commented on #429
@cartertinney I'm sorry for the late reply. This ended up on the second page.

At the time I was talking about the `iothub` API. It seems like it can have multiple listeners, but a limited number of those?

[2020-01-17 01:15] radoye opened #436 "Multiple d2c senders"
Opening multiple connections to cloud using Device SDK results in very chatty logs.

azure.iot.device.constant.VERSION `2.0.0`

Doing this in multiple python interpreters
[code]

results in
[code]

Is there a reason **not to** have multiple d2c sender processes per device?

[2020-01-17 21:53] olivakar commented on #436
So you have the exact same connection string but have multiple senders ?

[2020-01-17 21:55] cartertinney commented on #429
I'm still unclear as to the exact method and library you are referring to. Perhaps a sample would help?

[2020-01-17 21:56] radoye commented on #436
@olivakar Yes (because these are multiple services living on the same device).

[2020-01-17 22:23] cartertinney commented on #436
There is a 1:1 relationship between connection strings and clients. You cannot run multiple clients simultaneously with the same connection string because a client represents a device, and you cannot have two of the same device.

If you are looking for multiple services to run on the same physical device, consider the use of modules and the Module client.

Information about modules can be found he

[2020-01-20 07:52] LouanDuToitS3 opened #440 "No pypi packages for 2.0.1"
Hi,

When will azure-iot-device V2.0.1 be available on Pypi?

[Check Pypi](https://pypi.org/search/?q=azure-iot-device)

[2020-01-20 08:24] robbinvandamme opened #441 "Device to cloud messages V2.0.0 send_message issue"
I have some questions about the python azure client sdk (V2.0.0) and his send_message() call.
Protocol used is mqtt (default).

1. Should iot_hub_device_client.send_message() raise some kind of exception when it's not able to send the message due to no internet connection? According to the docs "help(IoTHubDeviceClient)" it should. But I'm not seeing that, it seems like its "stuck" forever on the

[2020-01-20 12:06] LouanDuToitS3 commented on #399
Unfortunately this does not resolve the issue for me. The module remains disconnected, which leads me to believe that the SDK itself still believes it is connected. Therefore even if a method is made available to query the status of the connection a "connected" response will probably be returned.

[2020-01-20 16:38] robbinvandamme commented on #441
I have the same kind of problem using the IoTHubDeviceClient.connect() call.
When you create an IoTHubDeviceClient with an incorrect connection string and then call connect().
It keeps retrying, and it doesn't raise the exception stated in the documentation of the connect() call.

`async def init():
    # Connect IoTHubDeviceClient
    try:
        LOG.info("before connect" * 10)
        await iot

[2020-01-21 19:41] olivakar commented on #441
For the first scenario, without an internet connection exception is raised as shown in the console/terminal below. But the connection is retried and so is sending the messages. This is the expected behavior. These IoT devices are used in many scenarios where connection is not consistent,  and we would like the ability to to retry sending the message after internet/connection comes back up.

[code]

[2020-01-21 21:16] lokijota commented on #399
Same here. Added the connect() call and just get sequences of the following:

MQTTTransportStage: _on_mqtt_disconnect called: Paho returned rc==1 caused by None
MQTTTransportStage: disconnection was unexpected
Exception caught in background thread.  Unable to handle.
['azure.iot.device.common.transport_exceptions.ConnectionDroppedError: None caused by Paho returned rc==1 caused by None\n']
failed

[2020-01-21 21:18] lokijota commented on #382
How do I set the logging level to DEBUG?

[2020-01-21 21:45] olivakar commented on #440
are you waiting for some specific feature ?

[2020-01-21 23:52] BertKleewein commented on #441
@robbinvandamme - You found 3 different bugs here and @olivakar and I are sorting through them and trying to figure out the next steps.

For 1, the client is behaving correctly according to the way the code is written, but I don't think it's behaving the way users would expect.  What we have is a library that retries when the message fails to send.  We're missing a way for the library to give up a

[2020-01-22 06:13] LouanDuToitS3 commented on #440
No, not waiting for any specific feature, rather fixes (#401, #399). And obviously, to test for stability and compatibility.

[2020-01-22 08:30] robbinvandamme commented on #441
@BertKleewein glad to hear these bugs are being tackeled.

1. It would indeed be useful to let the users set a retry policy and if it fails to send the message within the policy, raise an exception towards the user. Now @olivakar says the exception is raised, and it might be raised in the sdk, but it's propagating towards the user who is calling "await iot_hub_device_client.send_message(msg)"? In

[2020-01-22 09:59] robbinvandamme commented on #440
@olivakar I'm waiting for a feature -> iot_device.is_connected().
That's in there right? In V2.0.1.

[2020-01-22 12:50] BertKleewein commented on #401
Completed with commit #427

[2020-01-22 12:50] #401 closed

[2020-01-22 12:50] az-iot-builder-01 commented on #401
@San42, @maheshcv, @BertKleewein, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-22 13:26] maheshcv commented on #401
Thank you Bert. Appreciate you implementing this. This will help improve the efficiency of the solution for communicating between Azure IoT Client and Azure IoT hub. Thanks much!!

[2020-01-22 19:34] jebrando commented on #396
@jaypaddy If you are still experiencing an issue please reopen this issue

[2020-01-22 19:34] #396 closed

[2020-01-22 19:34] az-iot-builder-01 commented on #396
@jaypaddy, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-23 04:21] hubez opened #444 "pip version 20.0.1 fails to install azure-iothub-device-client (says it's not found)"
pip version 20.0.1 (latest version) fails to find azure-iothub-device-client==1.4.6

pip version 19.3.1 works.

I expected pip version 20.0.1 to still be able to find and install this.

v2.0.0 is fine, but it's still alpha state so we're still relying on v1.4.6. Our workaround so far is to version lock pip to 19.3.1.

**Reproduce:**
Easily reproduced with this Dockerfile:

Execute below with `dock

[2020-01-23 13:26] BertKleewein commented on #382
@lokijota, to set a default level (DEBUG, INFO, WARNING, or ERROR):
[code]

or, for an individual component:
[code]

[2020-01-23 13:43] BertKleewein commented on #399
@LouanDuToitS3 -  this may be true, but in my experience, it's more likely that the SDK knows that it's disconnected, but the logic to automatically reconnect is not working correctly.

[2020-01-23 13:49] BertKleewein commented on #399
```failed to receive on socket: [Errno 104] Connection reset by peer```

@lokijota - There are many reasons why this message might come up.  Since you're seeing this repeatedly, it tells me that the SDK keeps trying to reconnect and something upstream (the iothub server possibly) keeps disconnecting you.  Most recently, I'm looking at a case where using send_message to send a too-big message (256

[2020-01-23 13:49] LouanDuToitS3 commented on #399
But then, would calling connect() not resolve the issue, because it does not.

[2020-01-23 13:52] BertKleewein commented on #399
@LouanDuToitS3: Good point.  Can you send me the debug output you get after you call connect?  This could help figure out the cause.  Also, for what it's worth, I'm trying to figure out why the 2.0.1 release isn't on pypi.

[2020-01-23 13:53] lokijota commented on #399
This is fixed from my end. I was sending contents of CSV files and by mistake a pretty large one was left in the folder - causing the send_message to fail. A better error message would have been helpful, in any case. //hint, hint :-)

[2020-01-23 16:05] LouanDuToitS3 commented on #399
@BertKleewein Give me a couple of days, I will shift some priorities, and get what I can. I run the code with "info" level debug only, so will enable "debug" level. Problem is we send 100's of messages a minute, so the logs gets very big, very quickly.

[2020-01-23 19:40] olivakar commented on #444
Do you wish to use pip version > 20 specifically ?

[2020-01-24 09:05] shivamordanny commented on #444
i am facing the same issue, request the same

[2020-01-24 20:52] olivakar commented on #444
What feature are you trying to use ?

The V1 library is deprecated, and no longer supported due to technical issues. We have released a version 2.0.0 of both the Device libraries and the Service libraries. It is not in alpha state.

Please only use V2 clients, as they are the only ones we will be continuing to support.

`pip install azure-iot-hub` OR `pip install azure-iot-device`

You can look th

[2020-01-25 16:34] hubez commented on #444
I'm fine with version locking pip to 19.3.1 for v1.  I'd rather see your energy go towards v2, since it's not feature equivalent to v1 yet. Thanks.

[2020-01-25 16:34] #444 closed

[2020-01-25 16:34] az-iot-builder-01 commented on #444
@shivamordanny, @hubez, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-27 00:15] openedhardware opened #445 "azure.iot.device.common.transport_exceptions.ConnectionDroppedError: None caused by Paho returned rc==1 caused by None"
SDK Version: 2.0.0 like this:
[code]

I have just used the sample sender/receiver examples here:
https://github.com/Azure/azure-iot-sdk-python-preview/blob/master/azure-iot-device/samples/legacy-samples/send_message_to_output.py
https://github.com/Azure/azure-iot-sdk-python-preview/blob/master/azure-iot-device/samples/legacy-samples/receive_message_on_input.py

But my scripts output several error

[2020-01-27 13:25] robbinvandamme commented on #441
@BertKleewein is this something that will be fixed in the next release? Or when can we expect this?

[2020-01-27 22:15] jebrando commented on #375
@josiahlaivins We believe that "messaging between docker containers" is doable using local storage, but it may be a little complicated.  I'm closing this issue now, but if you have any further questions feel free to open another issue or reopen this one.

[2020-01-27 22:15] #375 closed

[2020-01-27 22:16] az-iot-builder-01 commented on #375
@YoDaMa, @josiahlaivins, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-01-27 22:33] olivakar commented on #445
For the sender sample , were you able to actually send messages but saw errors on terminal ?
Or were you unable to send messages due to the errors ?

[2020-01-27 22:41] openedhardware commented on #445
@olivakar
I couldn't see any error message from the sender function.

These errors are displayed randomly on sender & receiver...

[2020-01-27 22:47] olivakar commented on #445
so again to be absolutely sure in both scenarios (Sender and Receiver) you were able to send messages and receive messages ?

[2020-01-27 22:51] openedhardware commented on #445
Sender was executed without any error message except the random errors above.
The receiver was waiting for the incoming message, but didn't receive anything and displayed random errors above again.

[2020-01-27 23:24] openedhardware commented on #445
@olivakar
Please check this video file.
https://my.pcloud.com/publink/show?code=XZ0ww2kZ6cMBCQhTtlfsaN86jl6KTjtDAPJX

Note that `sender.py` & `receiver.py` were exected on the **same** module.

[2020-01-28 20:45] BertKleewein commented on #441
@robbinvandamme - I don't have an ETA, but I am actively working on it.

I'm able to reproduce your issues, but not exactly.  I can see from the log that you're using SymmetricKey auth.  When you say that you have an incorrect password. do you mean that you have in incorrect symmetric key?

When I try to repro, I get one of two behaviors:
1. If my symmetric key is completely invalid (not a base64-

[2020-01-28 20:58] BertKleewein commented on #445
@openedhardware - when you say you were executing on the same module, do you mean that both processes were running at the same time?

I'm also a little confused about your description because a comment above says that you set the networking mode on your docker container to "host" , but your screenshots above show you running the code from a bash prompt that doesn't appear to be inside a docker con

[2020-01-28 21:02] openedhardware commented on #445
@BertKleewein
Yes, both were executed on the **same module** for sure.

Nah, I had executed them from a bash on an IoT Edge **module**.
Just tried `docker ps` to get the ID of my module, and switched to that module by `docker exec -it <id> bash`

Cheers.

[2020-01-28 22:22] BertKleewein commented on #445
@openedhardware - Thank you for the video.  That really helps.  The problem that you're seeing is caused by the way you're using the single module identity.

An IoT Edge Module can only be used by a single process at a time.  When you call create_from_environment() or create_from_connection_string(), you're preparing a new network connection for your module.  When you call connect() or send_event(

[2020-01-28 22:27] openedhardware commented on #445
@BertKleewein
Thanks for your detailed explanation!

Alright, I am going to follow your instructions now and will get back to you soon.

Cheers.

[2020-01-29 00:20] openedhardware commented on #445
@BertKleewein

Hmm, I still cannot send/receive messages between modules... 😕

I had commented out my python script in the `Dockerfile.arm32v7` and added `sleep` function to test manually on bash:
[code]
Having a couple of modules running this `CMD [ "sleep", "infinity"]` command(deployed and pulled), I SSH'ed into these modules and tried to send/receive with the sample scripts above...
Of course,

[2020-01-29 00:48] BertKleewein commented on #445
Yes, you have to declare a route to send/receive between modules.  If you want to send from module1 to module2, you might use this rule to connect the module1 output named "toModule2" to the module2 input named "fromModule1".
[code]
You set the routes in the Azure portal by clicking the "Set Modules" button and going to the "Routes" page.

[2020-01-29 13:10] robbinvandamme commented on #441
@BertKleewein I generated a wrong connection string (by accident), the **secret** in the example below was wrong. When I used the generated connection string to connect to the IoTHub, I got the logs attached above.
Connect() didn't raise an exception I could catch, if it did, I would know something was wrong with the connection string. In this case, it just keeps retrying, because the secret for t

[2020-01-29 14:48] robbinvandamme opened #448 "Connect() when system time is not (yet) set, corrupts IoTHubDeviceClient? V2.0.0"
Steps to reproduce:

- set system time to 31/03/1987
- try to connect to IoTHub --> (Results in a "await connect()" that keeps retrying and never returns or never raises an exception.)
- set system time correct --> ("CredentialError" gets raised on the next retry. Here I expected that the "await connect()" would succeed?)
- call connect again on the same IoTHubClientDevice object --> (fails again

[2020-01-29 16:58] mustafakasap opened #449 "Version"
azure.iot.device.VERSION not working.

[2020-01-30 00:31] olivakar commented on #448
- set system time to 31/03/1987
- try to connect to IoTHub --> (Results in a "await connect()" that keeps retrying and never returns or never raises an exception.)

_For this connect, it actually retries as we are getting ssl certificate verify failed error from mqtt broker which is correct as the system time is behind. We may need to specifically look at this type of error to decide between retry

[2020-01-30 06:21] olivakar commented on #449
How are you trying to access it ?

[2020-01-30 06:49] mustafakasap commented on #449
like in the Azure Machine Learning Python SDK:

# Check AzureML SDK installation
import azureml.core

try:
    # display the core SDK version number
    print('Azure ML SDK Version: {0}'.format(**azureml.core.VERSION**))
except:
    print('Azure ML SDK not available.')

[2020-01-30 08:34] robbinvandamme commented on #448
@olivakar
I don't have a problem with the fact that it is retrying. But the "await connect()" blocks forever, is that expected behavior? And when system time gets set correct, retrying stops and an exception is raised. Instead of the exception, I expected the connect() to succeed.

After the first connect(), that raised the exception when the system time got set correct, I tried to call connect()

[2020-01-30 11:00] Milan991 opened #451 "How to get status of await client.send_message(data)"
In v1 version of azure-iot-sdk-python there was a callback for status of send message command. I'm unable to find a way to get status after send_message in v2.

Is there a way to do it in v2?

[2020-01-30 18:53] olivakar commented on #448
- set system time correct --> ("CredentialError" gets raised on the next retry. Here I expected that the "await connect()" would succeed?)

_The first SSL error eventually gets converted into an Unauthorized error. I am still trying to figure out the reason for this conversion. But once we start getting Unauthorized  error, we actually raise an exception (**CredentialError**). Hence when the syste

[2020-01-30 19:13] olivakar commented on #449
Our package is `azure.iot.device`

The best way to import is `from azure.iot.device.constant import VERSION`
OR `from azure.iot.device import constant` and then use `constant.VERSION`

[2020-01-30 19:51] olivakar commented on #448
There are 2 errors getting raised here.

1. The first one is a socket error (certificate failed) which is due to the mismatched times of the client and server.  We are thinking of raising an exception here when we get socket error caused from TLS exchange errors.

2. When the time eventually gets corrected and the connection is retried , it is still retried with a bad sas token which was previousl

[2020-01-31 00:05] olivakar commented on #451
When the call to `device_client.send_message()` finishes it means we have successfully transmitted the message.

[2020-01-31 01:07] mustafakasap commented on #449
That is the reason I wrote "like" the machine learning SDK and gave a sample.

I thought all Azure SDKs have the same experience. What ML SDK provides, something like very standard Python lib feature, i.e. cv.__version__  or np.__version__ (as in numpy and opencv libs...)

anyway , thanks
from azure.iot.device.constant import VERSION
works fine

[2020-01-31 01:34] Milan991 commented on #451
@olivakar Does that means if message is not sent my program would be blocked in send message routine? If yes, how to prevent this blockage? Before in v1 there was callback for this.

[2020-01-31 12:36] robbinvandamme commented on #448
@olivakar This will be an issue for many IoTDevices. Do we need to implement something that monitors the IoTHubClientDevice object to check if it is still connected or that it is able to setup a connection and if it fails, create a new object or manually try to reconnect?

I thought we could call "await connect()" and then an error is immediately raised when something critical is detected (an inva

[2020-01-31 14:26] sebader opened #452 "Remove Preview notice from pypi.org page"
https://pypi.org/project/azure-iot-device/ still says "SDK is in preview". Should be removed now that it's GA.

![image](https://user-images.githubusercontent.com/11445087/73546690-f017b200-443d-11ea-88f7-3fe3bced17d3.png)

[2020-02-01 14:32] tamlol commented on #126
on raspbian stretch
- install libboost-python1.62.0 package with apt-get install libboost-python1.62.0
- pip3 install azure-iothub-device-client
- python3 test.py

raspbian buster
- copy libboost_python and libcurl from raspbian stretch to /usr/lib/arm-linux-gnueabihf on raspbian-buster. and It work for me.

[2020-02-02 21:58] tosi2020 opened #454 "mqtttransportstage: _on_mqtt_disconnect called: Paho returned rc==0 caused by None"
HI

I tried this python code on a raspberry pi 4, , when I send a message from vs code, the message is recieved at my raspberry, I get the output below but after some seconds also the error message:
Anyone knows how to solve this ?  (( had hoped that the program should wait for ever for messages)

OUTPUT:
--------------------------------------------------
Starting the IoT Hub Python sample...
IoTH

[2020-02-03 19:10] olivakar commented on #451
The [sample ](https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/async-hub-scenarios/send_message.py )we have,  has been designed so that multiple send message tasks can be done concurrently. So if one message is blocked , the others necessarily should not be.

If by any means a specific message is blocked , the second `await asyncio.gather` would not return.
But if

[2020-02-03 20:42] jebrando commented on #452
@sebader Thanks for the heads up.  We will get this taken care of.

[2020-02-04 06:31] olivakar commented on #448
Connection generally succeeds in the retry loop when the disconnection has taken place due internet being off and would succeed if internet comes on.

However in this specific scenario, since the times mismatch the original authentication token is not valid. Hence the connection does not succeed even if the time becomes correct as the authentication is always refused.

In the current implementatio

[2020-02-04 19:09] elliotchaim commented on #399
I am also having this issue. 3x Python modules on the same device all experienced this issue around the same time, which was after around 3 days of being Up. I'm using IoT Edge for what its worth. Error from the logs of one of these modules below:

[code]

From reading this thread, I found this PR for samples: https://github.com/Azure-Samples/azure-iot-samples-python/pull/18

Noticed that in the P

[2020-02-05 06:23] olivakar commented on #452
The new release should have taken care of this.

[2020-02-05 09:32] #452 closed

[2020-02-05 09:33] az-iot-builder-01 commented on #452
@sebader, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-02-05 12:00] Milan991 commented on #451
@olivakar Is there a way to get to the callback which return PUBACK? It would be great if I can do that and to get number of message like from the log below:

Received PUBACK (Mid: 4534)

[2020-02-05 16:35] david-davis commented on #454
I am also getting this same error, however
[code]
It happens only about once every 24 hours while running overnight tests on an
IoTHubDeviceClient which synchronously calls send_message() on a separate
producer-consumer thread. The message rate is about 2 per second.

The issue occurs on RPI Raspbian 10 *and* Windows 10 both running Py 3.7.3+,
azure-iot-device 2.0.0, paho-mqtt 1.5.0.

Does anyone

[2020-02-05 18:14] jebrando commented on #393
@weeotch If you have any more question please feel free to open a new issue.

[2020-02-05 18:14] #393 closed

[2020-02-05 18:14] az-iot-builder-01 commented on #393
@weeotch, @BertKleewein, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-02-05 18:14] olivakar commented on #440
v2.01 has been released with connected property

[2020-02-05 18:14] #440 closed

[2020-02-05 18:14] az-iot-builder-01 commented on #440
@LouanDuToitS3, @robbinvandamme, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-02-05 18:16] #449 closed

[2020-02-05 18:16] az-iot-builder-01 commented on #449
@mustafakasap, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-02-05 19:20] jebrando commented on #373
@Alberto-Vega This functionality is now fixed in the service and appears to be working with the latest SDK release.  The Statistics API is reporting correctly after a delete and after an addition.  If you have any more issues please feel free to reopen this issue or open a new issue.

[2020-02-05 19:20] #373 closed

[2020-02-05 19:20] az-iot-builder-01 commented on #373
@Alberto-Vega, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-02-05 19:45] david-davis commented on #454
Found a fix in issue #399, with updated example code [call connect() method to prevent reconnect errors #18
](https://github.com/Azure-Samples/azure-iot-samples-python/pull/18)

[2020-02-05 23:22] zolvarga commented on #423
The fix is checked in and it is included in the release v2.0.2 (https://pypi.org/project/azure-iot-hub/)

[2020-02-06 09:41] damienklotz77 opened #458 "[Azure IoT Python SDK V2] Availability feature Cloud-to-device messaging"
Hi,

I plan to use version V2 of "Azure IoT Python SDK".

Following Git Hub page :
https://github.com/Azure/azure-iot-sdk-python
feature "Cloud-to-device messaging" is currently in status "feature planned but not yet supported".

When this feature will be supported ?

Regards,

Damien KLOTZ

[2020-02-06 17:06] zolvarga commented on #423
Resolved

[2020-02-06 17:06] #423 closed

[2020-02-06 17:07] az-iot-builder-01 commented on #423
@capfish, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-02-10 15:51] jebrando commented on #458
@damienklotz77 We are working on being a resolution to this issue.  There are a few technical hurdles that we need to solve for this.  I will keep this issue up to date on when this feature is available.

[2020-02-10 16:13] LouanDuToitS3 commented on #399
Hi @BertKleewein , still getting exactly this issue with v2.0.1. I tried to run the pipeline with debug level logging. The problem is that it is too verbose. I send at least 30 messages per second via device messaging, and it normally takes a good couple of hours for the issue to occur.

In the code I check the "connected" property of the client before sending, and if not connected I call connect.

[2020-02-10 17:48] jebrando commented on #371
@HoLue We are currently working on this issue and will report back on this as soon as we have a firm resolution.

[2020-02-10 17:55] jebrando commented on #417
@jflynn129 We are looking to add this functionality.  There are a few technical hurdles that we need to get over to get this done.  This will all be tracked under Issue #458.  We will close this issue and refer to that issue.  If you have any questions please update questions there.

[2020-02-10 17:55] #417 closed

[2020-02-10 17:55] az-iot-builder-01 commented on #417
@jflynn129, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-02-10 17:59] jebrando commented on #371
@HoLue We will be tracking the availability of the C2D messaging under item #458.  We will close this issue and refer to that issue for any updates.  Feel free to ask questions under that issue.

[2020-02-10 17:59] #371 closed

[2020-02-10 17:59] az-iot-builder-01 commented on #371
@HoLue, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-02-11 06:33] HoLue commented on #458
@jebrando Is there any rough timeline when it will be available?

[2020-02-12 13:31] tony979 opened #462 "transport.connect raised error with send_message_to_output.py"
Package https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/sync-samples/send_message_to_output.py to IoT Edge Module, and get the error below:

[code]

[2020-02-13 14:00] jackt-moran opened #463 "Send Message Async Crashing"
Hi,
I am experiencing a crash with IoT Edge modules using the `receive_message_on_input` function. I initially thought it was in long running scenarios but I've experienced the issue in about 10 minutes too. Here is a pared down version of the code I'm using with a basic attempt at error catching:

[code]

Empirically, after 10 minutes up to 24 hours of running smoothly the following stack trace i

[2020-02-14 00:53] jebrando commented on #458
@HoLue I have a PR to add this now.  This will have to go through our check in process, but I envision that by next week this will be in and then a release will happen shortly after that.  If any issues arise I will report back on this thread.

[2020-02-14 10:22] damienklotz77 commented on #458
Thank you for the information. I'm looking forward to it.

[2020-02-17 22:15] jackt-moran commented on #463
After further investigation the error is actually coming from

[code]

 I tried timing out on the `await moduleClient.receive_message_on_input("Test")` and `await moduleClient.send_message_to_output(msg, "Test")` calls as a workaround to recover from the failure with the following:

[code]

and

[code]

Eventually the following is output:

[code]

and execution then hangs forever on `await moduleC

[2020-02-18 12:56] elyancorrea commented on #128
Same problem.
Python: 3.6.9

I've did all solutions.

[2020-02-19 18:43] BertKleewein commented on #441
The fix for this issue is currently in review: https://github.com/Azure/azure-iot-sdk-python/pull/460

[2020-02-19 18:52] BertKleewein commented on #454
@tosi2020 - We're getting many false positives from this error, but the SDK is designed to recover from random disconnection.  We've changed the code (post 2.0.1) to record this at a lower logging level.
It's unclear from your description if any functionality is broken or if you're just concerned because you saw the error output.   If the client stops receiving messages at this point, that may be

[2020-02-19 18:54] BertKleewein commented on #462
Hi @tony979, we've been getting quite a few false positives about this error because the SDK is designed to recover from it.  Do you see any other broken functionality besides this exception being logged?

[2020-02-20 07:12] LouanDuToitS3 commented on #454
@BertKleewein Just to add some info. I have noticed that during the "disconnected" state that edgeHub logs "[WRN] - Module xxx/yyy is not connected" (where xxx/yyy is my edge device and the docker module name). Now in edgeHub v1.0.8.4 and before I used to get this continuesly, and the module will stay disconnected until I manually restart it. But sine v1.0.8.5 of edgeHub I see this being resolved

[2020-02-24 11:24] tony979 commented on #462
Found the root cause. It's similar to https://github.com/Azure/iotedge/issues/9. The sample is working fine with CONFIG_EXT4_FS_SECURITY enabled

[2020-02-24 11:24] #462 closed

[2020-02-24 11:24] az-iot-builder-01 commented on #462
@BertKleewein, @tony979, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-02-24 23:04] Rumpkie opened #468 "Documentation Link Issues"
Samples links in the Readme.md files are broken.

links to the samples library are broken
https://github.com/Azure/azure-iot-sdk-python/tree/master/azure-iot-device/samples

https://github.com/Azure/azure-iot-sdk-python/tree/master/azure-iot-device
Samples repository link is broken
advanced-hub-scenarios
advanced-edge-scenarios

To name a  few, please look at the links, I think the directories hav

[2020-02-25 16:02] sam-findler opened #469 "Where is Upload to Blob?"
File upload is one of the key features of iothub, and not only is it not implemented in this client (so far as I can tell), it is not even mentioned on the list of features.  Are there plans to support blob uploading in this client, and if so, when?

[2020-02-27 23:19] jebrando commented on #469
@sam-findler Upload to Blob is indeed implemented in Python.  We have a sample showing how to do it [here](https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/async-hub-scenarios/upload_to_blob.py).  Let us know if you have any questions or concerns with this.

[2020-02-27 23:19] #469 closed

[2020-02-27 23:54] jebrando commented on #458
Cloud-to-device messaging is now supported in the SDK.  You can view the sample [here](https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-hub/samples/iothub_registry_manager_c2d_sample.py).  If you have any question please open an issue.

[2020-02-27 23:54] #458 closed

[2020-02-27 23:54] az-iot-builder-01 commented on #458
@HoLue, @damienklotz77, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-02-27 23:56] jebrando commented on #291
The Python SDK now supports Cloud-to-device messaging. You can view the sample here. If you have any question please open an issue.

[2020-02-27 23:56] #291 closed

[2020-02-27 23:56] az-iot-builder-01 commented on #291
@neha-s-deshpande, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-02-28 18:44] olivakar commented on #451
There is currently no way to access the callback. We have shifted away from a callback model which was more relevant for Python 2 and tried to move towards the Python 3 async/await model

[2020-02-28 18:44] #451 closed

[2020-02-28 18:44] az-iot-builder-01 commented on #451
@Milan991, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-02-28 19:08] olivakar commented on #448
There is a new release which should fail the connect in case of the above error.

[2020-02-28 19:09] olivakar commented on #441
There is a new release which should fail the connect in case of the above error.

[2020-02-28 19:35] #448 closed

[2020-02-28 19:35] az-iot-builder-01 commented on #448
@robbinvandamme, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-02-28 19:35] #441 closed

[2020-02-28 19:35] az-iot-builder-01 commented on #441
@robbinvandamme, @BertKleewein, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-02-28 23:22] jebrando commented on #468
@Rumpkie I updated the ReadMe to include a new feature and removed some links.  I'm a little confused at which exact links are broken, but I removed a few that didn't belong.  If you see any more issues, please let me know.

[2020-03-01 05:25] BertKleewein commented on #454
@LouanDuToitS3 - I found a race condition in the code which could explain this.  If the SAS token gets renewed while the client is disconnected, after Paho sends a PINGREQ and before it times out for not receiving a PINGRESP, then the client will be disconnected but the Azure library will assume that it is still connected.  It's very unlikely, but I was able to repro it at least once.   I am worki

[2020-03-01 05:30] LouanDuToitS3 commented on #454
@BertKleewein Excellent, well done on finding it, looking forward to the fix, thanks.

[2020-03-02 21:43] MiguelCHR opened #473 "ConnectionFailedError(None) caused by gaierror(-3, 'Temporary failure in name resolution')"
Hi i am having this problem, this is for azure-iot-device 2.1.0

Any ideas? thanks in advance

[code]

AB#7366699

[2020-03-02 21:46] josiahlaivins opened #474 "Custom Metrics: Creation / Sending"
Is there an easy way to send custom metrics to Azure using an IoTHubClient?

I am referencing [Custom Metrics](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-custom-overview). Right now it seems extremely complicated to do this. Plus, most of the information in a metric looks very redundant and could be taken care of by a hub client.

Use Cases:
The primary example is record

[2020-03-03 10:08] HoLue opened #475 "How to send properties (key/value) with send_c2d_message"
According to
https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-hub/samples/iothub_registry_manager_c2d_sample.py
[code]

I want to send additional properties (key-value pair) as it is possible in Azure Portal (send message to device).

BTW, receiving is prepared e.g. in the example
https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/async-hub-scenar

[2020-03-03 21:07] #468 closed

[2020-03-03 21:07] az-iot-builder-01 commented on #468
@Rumpkie, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-03-03 23:18] zolvarga commented on #475
@HoLue I will create a sample for updating the properties and update this thread with it.

[2020-03-04 08:33] jackiecatchcatch opened #477 "How to get the IOT Edge device status by python sdk?"
After connecting to IOT Edge , Runtime Response tag shows OK.
But when i use get_device in IoTHubRegistryManager,  'connection_state' shows 'Disconnected'

[2020-03-04 11:30] jtfidje opened #478 "[Question] How to connect to IoT Hub using SharedAccessSignature"
I've been provided a SharedAccessSignature, but can't seem to figure out how to connect to their IoT Hub using it - could you please give an example of how to do it?

The format of the SharedAccessSignature I've been given:
[code]

AB#7366697

[2020-03-04 17:44] BertKleewein commented on #473
@MiguelCHR  - can you tell us a little more about your environment.  Are you running inside a docker container?  If so, what is the base image?  If not, what OS are you using?  Are you trying to connect to IotHub or IotEdge?  If you have a connection string, what happens when you try to ping or tracert the HostName from your connection string?

[2020-03-04 20:33] MiguelCHR commented on #473
Hi:
**Are you running inside a docker container?**
Yes

 **If so, what is the base image?**
[https://hub.docker.com/r/balenalib/fincm3-python](url)
[https://github.com/balena-io-library/base-images/tree/master/balena-base-images/python/fincm3/](url)

**Are you trying to connect to IotHub or IotEdge?**
IoTHub

**If you have a connection string, what happens when you try to ping or tracert the HostN

[2020-03-04 22:32] BertKleewein commented on #473
Can you be more specific on your base image?  I see images in there built on alpine, debian, fedora, and ubuntu.  I'm asking because I've seen intermittent failures from the dns resolver that alpine uses and I've never been impressed by it.  More specifically, there are issues with the nslookup from busybox 1.28 which is used in Alpine 3.9.  https://github.com/docker/libnetwork/issues/2371.  I can

[2020-03-04 23:58] MiguelCHR commented on #473
We currently using Debian, thanks

[2020-03-07 05:19] jebrando commented on #478
@jtfidje We had to remove that functionality right before GA due to an inability to signal the user that they need to renew the SAS token.  We are working on figuring  a way to re-enable this and will alert you when we have the functionality enabled.  Sorry for the inconvenience.

[2020-03-09 02:29] MikeWilcoxMicrosoft opened #483 "ModuleNotFoundError: No module named 'azure.iot' ?"
Env: Ubuntu with  python 3.8
$ pip3 list  | grep -i azure
azure (4.0.0)

Symptom:
++ python3 ./simple_send_message.py
Traceback (most recent call last):
  File "./simple_send_message.py", line 3, in <module>
    from azure.iot.device.aio import IoTHubDeviceClient
ModuleNotFoundError: No module named 'azure.iot'

[2020-03-09 02:53] MikeWilcoxMicrosoft commented on #483
resolved user error :)
My brain is completely scrambled with the plethora of pip and python version tried, but this seems to work

$ pip3 --version
pip 9.0.1 from /usr/lib/python3/dist-packages (python 3.6)
$ python -V
Python 3.8.0

$ pip3 install azure-iot-device
$ python  ./simple_send_message.py

[2020-03-09 02:53] #483 closed

[2020-03-09 02:53] az-iot-builder-01 commented on #483
@MikeWilcoxMicrosoft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-03-09 02:53] MikeWilcoxMicrosoft commented on #483
whew

[2020-03-09 19:14] jebrando commented on #477
@jackiecatchcatch The connection_state is a very slow moving status.  Can you describe your use case where you're not seeing this value change?

[2020-03-10 02:53] jackiecatchcatch commented on #477
I create an IOT edge in my hub and connect my device with it.
After they have connected, IoT Edge Runtime Response in portal shows 200-OK.
I want to get this information from python.
So i use sample code in azure-iot-hub(iothub_registry_manager_sample.py)
to get the information.
After running the code, the connection_state in that sample code get the wrong status.
or maybe i used the wrong functio

[2020-03-10 19:16] elhorton commented on #436
marking closed based on the response to the question. If you are experiencing challenges with the use of modules, please open a fresh issue with the details. Thanks!

[2020-03-10 19:16] #436 closed

[2020-03-10 19:16] az-iot-builder-01 commented on #436
@radoye, @elhorton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-03-10 19:23] elhorton commented on #429
marking closed based on inactivity, if this is still an issue or point of confusion please open a new issue outlining your scenario so we can help accordingly!

[2020-03-10 19:23] #429 closed

[2020-03-10 19:58] elhorton commented on #385
closing this issue based on inactivity. Thank you for contributing this feedback! We've added provisioning a device without registration ID to a list of features to be considered moving forward.

[2020-03-10 19:58] #385 closed

[2020-03-10 19:58] az-iot-builder-01 commented on #385
@OYTIS, @elhorton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-03-10 20:09] elhorton commented on #367
closing based on inactivity. If this is still a persisting issue, please open a fresh issue with your scenario details so we can help accordingly (whether it be a bug or a potential enhancement to be considered). Thanks!

[2020-03-10 20:09] #367 closed

[2020-03-10 20:09] az-iot-builder-01 commented on #367
@abouroubi, @BertKleewein, @elhorton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-03-17 17:23] elhorton commented on #474
Hi @josiahlevins, thanks for reaching out. Our team is not familiar with custom metrics (although, based on this scenario, this may be something we should consider as a future enhancement). We haven't explicitly integrated this into the hub module client from the SDK side. So a few things to get us started in helping here:

1) Could you give a high level outline of your scenario and solution right

[2020-03-17 22:20] jebrando commented on #286
@taak77 the latest service SDK now supports assigning a child property through the device_scope property when you create a device.  We are creating a sample for this, but in the mean time you can give it a try.  If you have any issue with this please feel free to open a new issue.

[2020-03-17 22:20] #286 closed

[2020-03-17 22:20] az-iot-builder-01 commented on #286
@taak77, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-03-18 10:08] viharigandrakota opened #497 "Multiple module twin callbacks being called from cloud."
Deployed [OpenVINO: Ready-to-Deploy AI Vision Module](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/intel-6134848.openvino-ai-vision-module?tab=Overview) from Azure Marketplace as an IoT Edge module.
Once deployed, updated the module twin properties with the URL of the model from customvision.ai
Ran the model for overnight and observed multiple module twin call backs happening from

[2020-03-18 13:25] patrickue opened #498 "Memory leak when sending telemetry every 10sec"
I'm using IoTHubModuleClient to send telemetry to an Azure IoTHub and noticed a constant increase of memory usage over time.
I'm sending a bunch of telemetry every 10s (around 10-15 items).

in init:
`self.client = IoTHubModuleClient.create_from_connection_string(connection_string)`
in the regular reporting of telemetry:
`self.client.patch_twin_reported_properties(payload)`

I detected a memory us

[2020-03-19 20:39] olivakar commented on #498
Will it be possible to see your sample completely ?
Please delete any connection strings or keys that you may have.

[2020-03-19 20:50] elhorton opened #501 "test"
test auto tag

[2020-03-19 20:51] #501 closed

[2020-03-20 10:21] meshell opened #503 "whitespace in message custom_properties raises MQTT ValueError"
[code]

[2020-03-20 12:00] mtin opened #504 "ConnectionFailedError('Connection Refused: broker unavailable.') - how to recover?"
Hi,

using azure-iot-device 2.1.0 I sometimes get device disconnects from which the client does not recover.

Other devices (connected to the same IoT-hub) continue to stream data. There are quite some network outages.

How should this be handled?

[code]

AB#7366709

[2020-03-22 19:29] MiguelCHR commented on #473
Hi any update in this error? we are currently having a lot of devices on the field with this issue, thanks in advance

[2020-03-23 10:25] kaleankush93 opened #507 "Facing Socket timeout issue while sending data using module_client.send_message_to_output"
I am getting below socket timeout error while sending data  to IoT Edge Runtime--->IoT Hub using module_client.send_message_to_output.

transport.connect raised error
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/azure/iot/device/common/mqtt_transport.py", line 340, in connect
    host=self._hostname, port=8883, keepalive=DEFAULT_KEEPALIVE
  File "/usr/local/lib

[2020-03-23 10:25] kaleankush93 commented on #507
++ @BertKleewein

[2020-03-23 13:47] BertKleewein commented on #473
Our library should only be considering this a fatal error if this is the first connection to IoTHub for the current run of the executable.  it assumes that a failed connection is a configuration issue until the it can connect once.  Once the library connects successfully, it assumes that the configuration is valid and that the failure is transient.  If the error is fatal (connecting for the first

[2020-03-23 13:51] BertKleewein commented on #507
@kaleankush93, I am currently looking at several related failures.  Can I ask if this is causing the send_message_to_output call to raise an exception?  This particular failure should cause the Azure IoT library to retry the connection (assuming the library has successfully connected at least once in the past).

[2020-03-23 13:57] kaleankush93 commented on #507
@BertKleewein Thanks for replying!
Yes you are correct. This is causing send_message_to_output call to raise an exception. Till Friday it was working fine. I was getting the messages to IoTHub through this module deployed on the linux device. This issue has appeared today itself. I saw several threads going on.

What could possibly be wrong here?

[2020-03-23 16:06] jebrando commented on #503
@meshell Can you give some a code snippet showing what you were trying to do.  Thank you.

[2020-03-23 16:57] darobs commented on #477
Hello @jackiecatchcatch,

One of the issues you may be running into is that the IoT Edge runtime does not connect to the device itself, only to the modules on the device. One way to see if the IoT Edge runtine is connected is to look at the "$edgeAgent" module status.

[2020-03-23 17:38] darobs commented on #477
I brought this up to the team, and even getting $edgeAgent status may not be 100% reliable.  The current recommendation is to use the [ping direct method](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-edgeagent-direct-method#ping).

[2020-03-23 23:56] MiguelCHR commented on #473
We fix this error by restarting the device, this error never happen at the first connection it happens when the device if online and reporting for some time, at least this is for our case.

Yes the exception is raised by an API

Thanks!

[2020-03-24 10:54] patrickue commented on #498
Sure!

In IIotHub.py, class IoTHubManager:
[code]

same class:
[code]

Class `Observer`
iothub is object of `IoTHubManager`
[code]

same class, collecting data to be put in the payload Queue to IoTHub.
[code]

[2020-03-24 14:15] awshole opened #509 "Specifying DeviceCapabilities (e.g., IoT Edge) with create_device_with_sas()"
With the depricated SDK, it was possible to create an IoT Edge device by specifying DeviceCapabilities when invoking something like:
[code]

How do we include DeviceProperties now that we create devices with SAS using something like:

[code]

I'm aware of creating the device properties via:
[code]

Thanks for the help! This is critical for our provisioning automation with Edge devices, and I'd pre

[2020-03-24 15:07] RickBadKan opened #510 "[Question] [Twin] Update reported properties after reconnection."
# Context
- **OS and version used:** Windows 10
- **Python version:** Python 2.7.17
- **pip version:** pip 20.0.2
- **SDK version:** V2 with threads/synchronous applications.

# Description of the issue:
Hi,

I have a question regarding the management of the versioning between the desired properties and the reported properties. Let's assume that while my device/module was disconnected, I made more

[2020-03-24 20:16] elhorton commented on #497
Hi @viharigandrakota, thanks for reaching out. Think we need some more info to help out here. With this info it's hard to say if what you're seeing is a result of the Intel module, Edge service, or something in this Python SDK, so I don't know how to best route this issue yet. Also good to note that it looks like the module makes use of the v1 SDK. Could you please start by filling out this additi

[2020-03-24 20:39] olivakar commented on #498
do u have the code portion where you are creating the client and connecting ?

[2020-03-25 08:32] patrickue commented on #498
Here it is:

connection is: `"HostName=XYZ.azure-devices.net;DeviceId=RASPBERRY_XYZ_PILOT1;SharedAccessKey=XYZ"`

[code]

[2020-03-25 09:58] meshell commented on #503
Simply do something like this:
`new_message = Message("Hello world")
new_message.custom_properties['topic'] = "major topic | minor topic"`

[2020-03-25 16:21] jebrando commented on #504
@mtin Can you give us a snippet of the sample that you're using to product this error.

[2020-03-25 16:29] jebrando commented on #475
@HoLue We have added properties to the send_c2d_message to the master branch.  We are planning a pip release in a week so you can get it then.

[2020-03-25 17:07] zolvarga commented on #509
@awshole

To create a module on IoTEdge please use the creation API's for modules:
create_module_with_sas
create_module_with_x509
create_module_with_certificate_authority

I hope this helps
Zoltan

[2020-03-25 17:11] awshole commented on #509
Thanks for the reply @zolvarga. However, I'm not wanting to create a module. I'm wanting to create an IoT device, specifically an Edge device. Does that make sense?

[2020-03-25 19:02] zolvarga commented on #509
@awshole

Yes, it does. I am looking at it and will get back to you.

Zoltan

[2020-03-25 19:51] olivakar commented on #498
Can you send the portion where you are creating an instance of `IoTHubManager` or rather `iothub` ?

And if you are creating the instance of `IoTHubManager` in the `init` of Observer class , then I would further like to see the portion where you are creating  the instance of `Observer`

[2020-03-25 22:51] zolvarga commented on #509
@awshole

I have checked in a fix to master branch. The fix will be in the next release.
Meanwhile please clone the repository and use it from there.

I created a sample for you here:
../azure-iot-hub/samples/iothub_registry_manager_edge_device_sample.py
Please take a look at it, there is a new optional boolean parameter in the create_device... APIs.
If it is True the created device  will be an Io

[2020-03-26 16:24] awshole commented on #509
@zolvarga Thank you! I will clone and conduct testing. Looking forward to the next release!

[2020-03-26 16:24] #509 closed

[2020-03-26 16:24] az-iot-builder-01 commented on #509
@awshole, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-03-26 22:20] #475 closed

[2020-03-26 22:20] az-iot-builder-01 commented on #475
@HoLue, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-03-27 03:42] jackiecatchcatch commented on #477
OK I got it

[2020-03-27 03:42] #477 closed

[2020-03-27 03:42] az-iot-builder-01 commented on #477
@jackiecatchcatch, @darobs, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-03-27 18:34] mtin commented on #504
sure!
[code]

[2020-03-27 20:03] jebrando commented on #503
@meshell We are working on a fix for this issue and should be ready soon.

[2020-03-29 10:51] robbinvandamme opened #517 "Unable to execute direct_method calls when first connect() gets called before device is known in the IoT-Hub"
# Context
- **OS and version used:** <VERSION> (Ubuntu 18)
- **Python version:** <VERSION> (3.7.5)
- **pip version:** <VERSION> (pip 9.0.1)
- **cloned repo:** <VERSION> (azure-iot-device==2.1.0)

# Description of the issue:
Unable to execute direct_method calls when first connect() gets called before device is known in the IoT-Hub.
Steps to reproduce:
- make sure the device it not added yet to the

[2020-03-30 03:04] JesseJ12345 commented on #332
I also met this problem, the info shows as follows,
Traceback (most recent call last):
  File "test.py", line 13, in <module>
    device_client.connect()
  File "<string>", line 1, in connect
  File "/var/user/lib/python3.7/site-packages/azure/iot/device/iothub/sync_clients.py", line 116, in connect
    handle_result(callback)
  File "/var/user/lib/python3.7/site-packages/azure/iot/device/iothub/s

[2020-03-30 08:44] samerdokas opened #518 "azure-iot-device 2.1.0 random IoTEdgeError causes permanent disconnect from IoT Hub"
# Context
- **OS and version used:** Ubuntu 18.04 as host, amd64/python:3.8.2 container
- **Python version:** 3.8.2
- **pip version:** 20.0.2
- **list of installed packages:**
azure-core          1.2.2
azure-iot-device    2.1.0
azure-storage-blob  12.2.0
certifi             2019.11.28
cffi                1.14.0
chardet             3.0.4
coloredlogs         14.0
cryptography        2.8
humanfriendl

[2020-03-30 14:25] lmussier opened #519 "Is there a mean to write desired properties via iothub sdk ?"
# Context
- **OS and version used: Ubuntu 18.04
- **Python version: 3.6.9
- **cloned repo:**  SDK installed via pip3, a876b5cd8c9cbd919d3a6ae0a00b7771e6c63d58

[code]

# Description of the issue:
Hi,

I'm searching for a way to ** write desired properties in twins**.
I'm able to listen to them from device sdk, i'l able to send c2d messages from the iothub sdk.
But I can't find a way to write desir

[2020-03-30 14:41] lmussier commented on #519
... I need fresh air :'(

https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-hub/samples/iothub_registry_manager_sample.py here is the twin update sample I was looking for...

[2020-03-30 14:41] #519 closed

[2020-03-30 14:41] az-iot-builder-01 commented on #519
@lmussier, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-03-31 06:52] robbinvandamme commented on #517
I also see the same unexpected behavior when:
- the primary key in the cloud is wrong
- connect() gets called
- primary key gets corrected in the cloud
- connect() gets called (ON THE SAME IOT-DEVICE-CLIENT OBJECT)
- connect() succeeds
- direct method calls are not working anymore

response I get from the azure portal:
{"message":"Device {\"Message\":\"{\\\"errorCode\\\":404103,\\\"trackingId\\\":

[2020-03-31 08:15] HoLue commented on #475
Thanks!

[2020-04-01 06:34] viharigandrakota commented on #497
Hi @elhorton ,
Thanks for coming back. and apologies for my delayed response.
Here is the info:
**OS and version used** : Ubuntu 16.04 on Host machine & docker container
**Python version** : 3.7
**pip version** : pip 19.3.1
**list of installed packages** :
asn1crypto                           0.24.0
azure-iot-provisioning-device-client 1.4.6
azure-iothub-device-client           1.4.6
azure-iothub-

[2020-04-01 21:25] elhorton commented on #497
Thanks @viharigandrakota , a couple pieces of info and some next steps for you.

We cannot further investigate for two reasons:

1) This module does not appear to be open source, so I'm unable to see if the Intel module is properly implementing the callback. It could be an issue with connection (where the module never gets an ACK so it keeps trying to send). I would encourage you to raise this que

[2020-04-02 06:11] psakamoori commented on #497
@elhorton Please help us understand more about "module makes use of our deprecated v1 library, which we are no longer supporting" which library are you mentioning. How to move/use latest version of library for this app? - We can test it with new version library and test multiple twin callbacks scenario

[2020-04-02 13:39] BertKleewein commented on #311
azure-iot-device 2.1.1 was released yesterday, which should fix many connection problems.  If any new connection issues are discovered, please open a new issue.

[2020-04-02 13:39] #311 closed

[2020-04-02 13:39] az-iot-builder-01 commented on #311
@BertKleewein, @njbuch, @josiahlaivins, @jpagliaccio, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-04-02 13:41] BertKleewein commented on #382
azure-iot-device 2.1.1 should resolve these issues.  Since the original issue which started this thread is very old, the information in here is no longer pertinent.  If you discover any connection issues after upgrading to 2.1.1, please open a new issue.

[2020-04-02 13:41] #382 closed

[2020-04-02 13:41] az-iot-builder-01 commented on #382
@BertKleewein, @livneros, @lokijota, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-04-02 13:43] BertKleewein commented on #399
2.1.1 has fixes for issues where client.connected was set incorrectly.  This issue should be resolved.  If you discover any new connection problems after upgrading to 2.1.1, please open a new issue.

[2020-04-02 13:43] #399 closed

[2020-04-02 13:43] az-iot-builder-01 commented on #399
@BertKleewein, @oerpli, @MiguelCHR, @mounir-futurefacts, @LouanDuToitS3, @Kyrylo-Iarosh, @msjaber, @lokijota, @elliotchaim, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQl

[2020-04-02 13:46] BertKleewein commented on #454
Fixed in 2.1.1.  If you see any new connection problems, please open a new issue.

[2020-04-02 13:46] #454 closed

[2020-04-02 13:46] az-iot-builder-01 commented on #454
@tosi2020, @david-davis, @BertKleewein, @LouanDuToitS3, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-04-02 13:49] BertKleewein commented on #473
This may be fixed in 2.1.1, but I'm going to review this specific issue a little further before I pronounce it fixed  I've made some fixes but there are more extreme fixes I could make.  Please let me know if this is resolved.

[2020-04-02 13:51] BertKleewein commented on #463
This may be fixed in 2.1.1.  I made many improvements in this area, but I'm not 100% sure I fixed this particular issue.  I will review this your issue further to see if there is anything in here that I missed.  Please let me know if this is resolved.

[2020-04-02 13:52] BertKleewein commented on #504
May be fixed in 2.1.1 which has significant improvements in this area, but I'm going to review your logs further.  Please let me know if this is resolved.

[2020-04-02 13:54] BertKleewein commented on #507
This may be fixed in 2.1.1 which has several fixes for connection failure issues.  I'm going to investigate a few things in this specific report further to see if I can improve the fix.  Please let me know if this is resolved.

[2020-04-02 14:38] BertKleewein commented on #518
This is a 404 talking to iotedged, which is the IoTEdge daemon running on your local machine

[code]
I would recommend checking to see if the `iotedged` process is still running when this happens.  You can also see the last 200 log entries from this process by using `sudo journalctl -u iotedge -n 200 -e`

[2020-04-02 14:38] #518 closed

[2020-04-02 14:38] az-iot-builder-01 commented on #518
@samerdokas, @BertKleewein, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-04-02 17:40] MiguelCHR commented on #473
Thanks Bert i will be updating all our devices to 2.1.1, I will let you guys know if anything else comes up

[2020-04-02 18:40] cartertinney commented on #503
This issue has been fixed as of azure-iot-device version 2.1.1

[2020-04-02 19:28] elhorton commented on #497
Yes, absolutely. We released a v2 Python SDK last year that is built with native python. The [previous version of this SDK](https://github.com/Azure/azure-iot-sdk-python/tree/v1-deprecated) was a layer over the C SDK, leading it to be unnatural for Python developers and error prone.

You should note that there are breaking changes between the API surfaces from v1 to v2, and this repo has a [migrat

[2020-04-02 22:58] #497 closed

[2020-04-02 22:58] az-iot-builder-01 commented on #497
@viharigandrakota, @psakamoori, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-04-03 08:56] patrickue commented on #498
Here is the creation of the IoTHubManager:

in main.py:
[code]

(also in main.py)
[code]
That's it. No loops around, just once in the constructor of our main class.

What are questions looking for? Possible "multi"-creation of the object?

[2020-04-03 08:57] patrickue commented on #498
Sorry for the delay, by the way: :( Strange times we're living in. 🤣

[2020-04-03 13:58] BertKleewein commented on #517
Nice!  I have a fix going into review.

[2020-04-03 15:08] jackt-moran commented on #463
@BertKleewein thanks for the update. I pushed out the library upgrade yesterday and so far everything's looking good. I'll update this thread if I encounter the issue again but until then I'm closing the issue.

[2020-04-03 15:08] #463 closed

[2020-04-03 15:09] az-iot-builder-01 commented on #463
@jackt-moran, @BertKleewein, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-04-05 05:51] kaleankush93 commented on #507
Hi @BertKleewein , Thank you! My issue got resolved after restarting the edge device.

[2020-04-05 05:51] #507 closed

[2020-04-05 05:51] az-iot-builder-01 commented on #507
@kaleankush93, @BertKleewein, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-04-06 21:24] bearrito opened #530 "Clarify package name in pip"
I see this in pypi - https://pypi.org/project/azure-iothub-device-client/

Is that the same as this project? This projects document https://pypi.org/project/azure-iothub-device-client/

points to

`pip install azure-iot-device`

[2020-04-07 10:38] mtin commented on #504
I got a little further, but still having troubles.

I realized I was swallowing exceptions from the azure iot client - so the `while` loop in my `publishing_async` coroutine would get canceled because of the iot client throwing an exception but I wouldn handle that.

[2020-04-07 14:45] LouanDuToitS3 opened #531 "azure-iot-device v2.1.1 module not connected ('Transport timeout on connection operation')"
Hi

I was initially very pleased with the release of v2.1.1 of the library, and it seemed that all the module to hub connectivity issues were a thing of the past. But then, unfortunately, after my pipeline has been running for 2 days I noticed that my one module is no longer receiving messages.

The module logs notes the following:
[code]

The module never recovered from this state, and I had to r

[2020-04-07 20:44] olivakar commented on #530
The correct pypi link for our Device Client Library is
https://pypi.org/project/azure-iot-device/

And the correct command is `pip install azure-iot-device`

The correct link for IoTHub Service Library the pypi link is
https://pypi.org/project/azure-iot-hub/

And the command is `pip install azure-iot-hub`

[2020-04-07 23:18] prbans opened #533 "Samples repository link broken https://pypi.org/project/azure-iot-device/"
Go here

https://pypi.org/project/azure-iot-device/

Look for this line:

Check out the samples repository for example code showing how the SDK can be used in a variety of scenarios, including:

Notice that the link https://pypi.org/project/azure-iot-device/azure-iot-device/samples is broken

[2020-04-08 17:11] lmazuel opened #534 "IoTHubDeviceClient connect()/disconnect(): Exception when used in function. (Synch method)"
@HoLue commented on [Tue Apr 07 2020](https://github.com/Azure/azure-sdk-for-python/issues/10727)

- **Package Name**:  azure.iot.device
- **Package Version**:  ?
- **Operating System**: Windows 10
- **Python Version**:  3.7.4

**Describe the bug**
Unsing the synch method, a simple connect() and disconnect() of a device client (IoTHubDeviceClient) gives an error if it is done in a function. (Witho

[2020-04-08 18:26] #503 closed

[2020-04-08 18:26] az-iot-builder-01 commented on #503
@meshell, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-04-08 18:27] jebrando commented on #533
@prbans Thanks for the info.  We'll get this updated on the next release.

[2020-04-08 22:23] olivakar commented on #534
Is there a specific reason that you wish to do everything inside a function ?

I have figured out the root cause of the issue. While there is no immediate solution to the problem I can provide you a different way of doing if that is suitable in your scenario.

If possible please construct the client outside the function and let the function handle only connect and disconnect and other functionalit

[2020-04-09 05:21] HoLue commented on #534
Well, this works. But may I ask what is done in the background? There seems to be some connection? Data transfer?

[2020-04-09 18:53] olivakar commented on #534
If you are referring to the error that you received, that is simply a handler that lets you know that the you are connected.

Please close the issue if this has helped you.

[2020-04-10 14:54] stevebus opened #539 "TLS handshake failing from module to edgeHub"
# Context

- **OS and version used:** Ubuntu 16.04
- **Python version:** amd64/python:3.7-slim-buster
- **pip version:** n/a
- **list of installed packages:** azure-iot-device~=2.1.1

both edgeHub and edgeAgent are version:  Version - 1.0.9.29532150

## Description of the issue

Using the fairly standard "boilerplate" python module template from VS Code, my module doesn't successfully connect to e

[2020-04-10 15:04] stevebus commented on #539
nevermind - stand down..  boilerplate C# module doesn't work either, so not specific to python..   closing.

[2020-04-10 15:04] #539 closed

[2020-04-10 15:04] az-iot-builder-01 commented on #539
@stevebus, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-04-13 17:45] BertKleewein commented on #510
I know this doesn't answer your question, but I just made a pull into master that will automatically fetch the twin after reconnecting, https://github.com/Azure/azure-iot-sdk-python/pull/522

[2020-04-13 18:02] BertKleewein commented on #510
Regarding $version, the $version for reported properties and the $version for desired properties are not related.  It is perfectly valid for one to increment multiple times without the other one changing.

Consider the example of a room thermostat,  The service might set a desired temperature of 72 degrees.  Since it can take several minutes to hours to heat a room, the thermostat might report the

[2020-04-14 05:44] HoLue commented on #534
I cannot close, can I? (lmazuel opened this issue 6 days ago)

[2020-04-14 07:14] olivakar commented on #534
ok we will close

[2020-04-14 07:15] #534 closed

[2020-04-14 07:15] az-iot-builder-01 commented on #534
@lmazuel, @HoLue, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-04-19 19:24] olivakar commented on #498
Could you send me the part part where you call this `bufferAndSendToTwin` ?

[2020-04-20 11:21] patrickue commented on #498
The method `bufferAndSendToTwin` is called by every sensor, endpoint or thread which wants to report something. So these are the (parent) classes which call it in their update:

[code]

[code]
[code]

[2020-04-21 07:48] elvirus839 opened #543 "Sample: provision_x509.py"
Hi guys, I have been trying to get the python sample "provision_x509.py" to connect through a group enrollment I created on my azure account, but I get the following error when trying to run  the code:

Traceback (most recent call last):
  File "C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python37_64\lib\site-packages\azure\iot\device\common\pipeline\pipeline_stages_base.py", line 102, i

[2020-04-22 09:41] protatremy commented on #272
The V2 fix the issue thanks

[2020-04-22 20:41] olivakar commented on #543
Hi, I tried the sample and it is working.

Could you tell me your certificate steps ?

-  like the one u verified
- the one u used to create the enrollment

What was your registration id in the sample equal to the common name of the device certificate that you had in group enrollment ?

[2020-04-23 07:51] elvirus839 commented on #543
Hi, to create the certificate I followed the steps in here: https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md.

- I think the registration id was "mydevice"

Also I tried the C# version of the sdk with the same certificate and it worked fine.

[2020-04-23 12:37] robbinvandamme commented on #517
@BertKleewein should this be fixed in 2.1.1?

[2020-04-23 13:12] robbinvandamme opened #548 "iot-hub-device-client unable to connect to IoT-Hub when switched from network"
# Context

- **OS and version used:** <VERSION> (ubuntu 18)
- **Python version:** <VERSION> (3.7.5)
- **pip version:** <VERSION> (pip 19.0.3)
- **cloned repo:** <VERSION> (azure-iot-device==2.1.1)

## Description of the issue

When switching from network while application is running and connected, connection to IoT-Hub fails on the new network.
Steps to reproduce:
- connect iot-hub-device-client v

[2020-04-23 17:24] RickBadKan commented on #510
Hello @BertKleewein and thank you for the response. Sorry for coming back to you only after some time.

About that, data consumption is very important for our application. So if the twin is fetched after every reconnection, our data usage is going to skyrocket if the device is placed somewhere with weak signal strength (i.e. so much reconnections). We bypassed this issue by fetching only the new d

[2020-04-23 18:54] olivakar commented on #543
What type of group enrollment did you create ?

- Ca certificate type
- Intermediate certificate type

[2020-04-24 08:17] elvirus839 commented on #543
Here are the details of my certificate:
![image](https://user-images.githubusercontent.com/5313106/80190538-c32a0400-8614-11ea-92f2-2ef4e9f74407.png)

[2020-04-25 11:03] robbinvandamme commented on #548
To be clear:
I'm 100% sure both networks have internet access.
I'm able to reproduce this 100% of the time, doesn't matter which network I start from.

[2020-04-26 20:10] olivakar commented on #543
In this scenario , the root CA certificate has gone through proof of possession.

So while running the device sample did you send the chain of the above device certificate appended by all the intermediate certificates till the root ?

[2020-04-27 13:05] elvirus839 commented on #543
Hey, I don't really get your question! sorry I am new to CA certificates. But what I added into the code was the content of mydevice-private.pem and mydevice-public.pem!

[2020-04-27 17:45] omersalam opened #552 "provision_x509.py"
i am getting this error while running this sketch

Unexpected error in <azure.iot.device.common.pipeline.pipeline_stages_mqtt.MQTTTransportStage object at 0x7f1982eb7e80>._run_op() call
Traceback (most recent call last):
  File "/home/omer/.local/lib/python3.6/site-packages/azure/iot/device/common/pipeline/pipeline_stages_base.py", line 102, in run_op
    self._run_op(op)
  File "/home/omer/.local

[2020-04-27 19:15] stevebus commented on #552
In helping omer - I get the same error as above...
- I created a root and device cert using the ./certGen.sh script from the SDK
- uploaded the root cert to DPS and went successfully through the verification process
- set the environment variables  (I changed a random character in my IDScope below to not leak my real scope ehre
declare -x PROVISIONING_HOST="http://global.azure-devices-provisioning

[2020-04-27 19:48] stevebus commented on #552
FYI - got this to work by removing the environment variables and hard-coding the values in the script..  somewhere the env var values are getting lost

(I also realized that the provisioning host does not need 'http://' on the front of it  (i.e. just 'global.azure-devices-provisioning.net')

[2020-04-27 21:22] olivakar commented on #543
There are couple of assumptions I am making here based on what you told me. Please let me know if I am incorrect in any of the these.

Since you created a `group_enrollment` with a `CA certificate` you must have gone through proof of possession of the root CA. Otherwise the root certificate is not shown on the drop down list while creating group enrollment. This verification is also a part of the

[2020-04-28 13:44] zoopp opened #553 "[Technical Question] Is there a way to generate connection status events as the state changes?"
I have a situation in which a set of actions must be run as soon as the state of the iot hub device connection changes and right now I don't see a clean way to achieve this. I know I can poll the state of the connection using the `connected` property but what I'm really after is a way to turn this into an event based approach.

By looking at
https://github.com/Azure/azure-iot-sdk-python/blob/maste

[2020-04-29 08:46] elvirus839 commented on #543
Hey, I got it to work, it turns out I had the content of the certificates instead of the path to the file in code. I was looking at [this](https://docs.microsoft.com/en-us/azure/iot-dps/tutorial-group-enrollments) tutorial in Java where they implemented that way, so I assumed it would be the same for python.
Thanks for the help.
Maybe its a good idea to have the error message be more informative.

[2020-04-29 08:46] #543 closed

[2020-04-29 08:46] az-iot-builder-01 commented on #543
@elvirus839, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-04-29 13:50] BertKleewein commented on #548
How are you switching networks?  Is this done by switching cables, bringing interfaces up and down, or by some other method?

[2020-04-29 13:57] BertKleewein commented on #517
I don't know what the version number will be, but it will be in the next release.  I'm trying to figure out when that will be.  Hopefully soon.

[2020-04-29 20:11] robbinvandamme commented on #548
@BertKleewein  Yes, switching cables.

[2020-04-30 00:54] olivakar commented on #552
@omersalam did the above fix your issue ?
Can this issue be closed then ?

[2020-04-30 02:09] nishad1092 opened #556 "How to remove the delay from Invoking module with sending message to listener"
Hi,
I have this code where, I'm using 2 edge modules,
1st module has Invoke_method_on_module and send_message_to_output where the module needs to get invoked and send a message,
2nd module needs to receive it using receive_message_on_input.

here is the portion of the code:

[code]

What I need:
I'm invoking the module with an API, and I want the entire process to be completed with 1 invoke (getti

[2020-05-01 02:02] elhorton commented on #474
Closing this due to inactivity, please reopen if there is an outstanding issue. Thank you!

[2020-05-01 02:02] #474 closed

[2020-05-01 02:03] az-iot-builder-01 commented on #474
@josiahlaivins, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-05-02 21:39] ralfr opened #558 "Cannot remove Device Twin property / key"
I am trying to remove a property (key) from a Device Twin:

`
reported_properties_patch = {"name": null}
await device_client.patch_twin_reported_properties(reported_properties_patch)
`

and receive the following error:

**```NameError: name 'null' is not defined```**

Any idea? What's the correct way to removing a key?

[2020-05-02 21:42] ralfr commented on #558
Found the solution myself. In Python I have to use `None` and not `null`.

[2020-05-04 16:48] #530 closed

[2020-05-04 16:48] az-iot-builder-01 commented on #530
@bearrito, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-05-04 16:50] elhorton commented on #558
thanks for the update, glad you found the solution! Closing this issue.

[2020-05-04 16:50] #558 closed

[2020-05-04 16:50] az-iot-builder-01 commented on #558
@ralfr, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-05-07 05:35] tanieee28 commented on #531
Hi,
did we had any solution for the above problem ??
I am facing the same issue with **azure-iot-device-sdk-python**

**Requirement:** I have written a python script using above sdk to send 180 json records in one minute.

**Problem:** the script runs smooth for some hours and send around 180 records, but at some time between it loses the connection to iot hub and hence, the record count sent to i

[2020-05-07 05:57] tanieee28 commented on #504
Hi,
did we had any solution for the above problem ??
I am facing the same issue with **azure-iot-device-sdk-python - 2.1.1**

**Requirement:** I have written a python script using above sdk to send 180 json records in one minute.

**Problem:** the script runs smooth for some hours and send around 180 records, but at some time between it loses the connection to iot hub and hence, the record count s

[2020-05-10 16:43] DonkDH opened #561 "Raspberry Pi Zero - Fails to connect."
# Context
Hardware: Running on a Raspberry Pi Zero W
OS: Raspbian Buster
Python Version: 3.7.3
Pip: 18.1
pip3 list
Package             Version
------------------- ---------
asn1crypto          0.24.0
azure-iot-device    2.1.0
certifi             2018.8.24
chardet             3.0.4
cryptography        2.6.1
entrypoints         0.3
idna                2.6
janus               0.5.0
keyring

[2020-05-11 09:46] GlanThorian opened #562 "[Technical Question] SSL certificate verify failed: unable to get local issuer certificate"
Hello,

First I want to state that I have already searched the related issues here and on the internet, also I read the related documentations, but of course it can be that I have missed some.

My goal is to communicate form a custom device, which has a SOM board on it running Linux (Debian Buster)
First I installed Azure IoT Device SDK on my computer (Windows10) and downloaded the iot-hib Quickst

[2020-05-11 16:03] reppners commented on #552
In case of executing in the shell don't forget to `export` the variable, e.g. `export PROVISIONING_HOST="global.azure-devices-provisioning.net"`

[2020-05-11 18:38] jebrando commented on #553
@zoopp We do not have this at this current time, but it sounds like a useful feature.  We will evaluate this and report back on this issue.

[2020-05-11 19:22] stevebus commented on #552
Not sure if he'll respond here, but I've been corresponding with omer separately and he got this to work.

[2020-05-11 23:21] olivakar commented on #562
I specifically used the Baltimore cert and the sample ran correctly for me.
Can you try out your sample using another cert that you supply and see if it works ?

If you do so, please establish the connection using

[code]

[2020-05-12 00:03] jebrando commented on #561
@DonkDH It looks from the message that the device doesn't have a connection to the internet.  Is the wireless connection on the board working?

[2020-05-12 02:37] nishad1092 commented on #556
Hi, Anyone got any idea about this please?

[2020-05-12 07:58] DonkDH commented on #561
I am able to sucessufully ping google.com and install new python SDKs with pip3 while I get this error. So it seems the internet is working, is there any ports I need to open on my router or something along those lines?

[2020-05-12 20:38] olivakar commented on #561
can u check for port 8883 ?

[2020-05-12 22:47] DonkDH commented on #561
I have set a port forwarding rule on my router and installed 'Uncomplicated Fire Wall' on the pi and set the port 8883 to be open.
But I am getting the same error message from the sample code.

Although I'm not sure how I can check that the fire wall settings are correct and the port forward has worked.

[2020-05-13 05:39] olivakar commented on #561
can u ping your pi from some other machine ?

[2020-05-13 18:10] mikechari commented on #473
Hi, we still getting this error on 2.1.1

[code]

It seems it is the same that was reported before, the devices are offline in the front end and online in the back end,

Still need to update to 2.1.2, it may fix this?

Thanks

[2020-05-13 18:25] cartertinney commented on #556
Our apologies for not getting to this sooner. We are currently unaware of the cause of the issue, but we are looking into it and hope to have some information in the near future.

[2020-05-13 18:31] BertKleewein commented on #556
Hi @nishad1092, I'm having trouble understanding your question.  What API is taking 8 seconds?  How are you "sending twice simultaneously".?  I don't see you invoking the method named "start" anywhere so I'm not sure how this is involved.

[2020-05-13 19:38] DonkDH commented on #561
I can ping it from my windows machine although I am not sure how to do that though a specific port.

[2020-05-14 03:54] nishad1092 commented on #556
Hi @cartertinney Thnz for the response, Sure, I'll be happy to get this resolved soon.

[2020-05-14 05:13] nishad1092 commented on #556
Hi @BertKleewein  Im using this api https://docs.microsoft.com/en-us/rest/api/iothub/digitaltwinmodel/service/invokedevicemodulemethod to invoke this module above mentioned, Since Im running this api through postman , I can send it "twice" right, So only when Im executing this api request twice or more, the response is given asap, otherwise for 1 request , response is delayed, I really im not gett

[2020-05-14 09:34] robbinvandamme commented on #548
@BertKleewein  Are you able to reproduce this?

[2020-05-14 20:39] #533 closed

[2020-05-14 20:39] az-iot-builder-01 commented on #533
@prbans, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-05-14 20:46] #552 closed

[2020-05-14 20:46] az-iot-builder-01 commented on #552
@omersalam, @stevebus, @reppners, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-05-14 20:58] BertKleewein commented on #531
@LouanDuToitS3  & @tanieee28 , I am working to track this down.  The "transport timeout" error indicates a problem in the Paho (MQTT) error, or below (possibly TLS, TCP, or the network socket itself).

What can you tell me abourt your operating environments?  What OS, what Python version, what kind of hardware, what kind of network connection, etc.

[2020-05-15 06:11] dme-development commented on #531
I am seeing exact the same behavior on a device we are currently working on. We use a IoTHubModuleClient, listening in a thread to receive a module message.

This is a device build with the Jetson Nano Developer Kit.

Operating System: Ubuntu 18.04.3 LTS
Kernel: Linux 4.9.140-tegra
Architecture: arm64

Python 3.7.7

Name: azure-iot-device
Version: 2.1.2

Name: paho-mqtt
Version: 1.5.0

Hope this i

[2020-05-15 10:46] GlanThorian commented on #562
Hello!

So I tried to set the baltimore certificate directly and it helped, thanks! The certificate is valid by the way.
For me the interesting thing is that it works differently on different platforms...
I am using a VAR-SOM-MX7.
Thanks for the help again!

[2020-05-15 20:12] MiguelCHR commented on #473
Also, not sure if this is the place to ask but we haven't found any documentation regarding the removal of logs, so how can we remove all the logs from the azure.iot.device library?

Thanks in advance

[2020-05-15 21:43] olivakar commented on #562
I will close the issue.

[2020-05-15 21:43] #562 closed

[2020-05-15 21:43] az-iot-builder-01 commented on #562
@GlanThorian, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-05-18 15:00] njbuch opened #570 "Missing module twin patch IoTEdge SDK"
I have used sample from here as primary inspiration: https://github.com/Azure/azure-iot-sdk-python-preview/blob/master/azure-iot-device/samples/advanced-hub-scenarios/receive_twin_desired_properties_patch.py

This is not implemented or included in the new SDK. Whats the recommended route forward for implementing use of module-twins from python in a module on IoTEdge?

AB#7366706

[2020-05-18 15:01] az-iot-builder-01 commented on #570
@njbuch, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-05-18 15:01] njbuch commented on #570
Mistake

[2020-05-18 15:05] njbuch commented on #570
Still a problem

[2020-05-18 15:08] njbuch commented on #510
The receive_twin_desired_properties_patch() method is not in the new SDK is that right?

[2020-05-18 15:15] RickBadKan commented on #510
You mean the v2.0? I don't know, I'm using the sync Python 2.X version for compatibility purposes. It's a blocking call that waits for a new patch of the desired properties from the cloud.

[2020-05-18 17:41] njbuch commented on #510
Hmm, good question. I based my code on this sample: [link](https://github.com/Azure/azure-iot-sdk-python-preview/blob/master/azure-iot-device/samples/advanced-hub-scenarios/receive_twin_desired_properties_patch.py) which is now archived.

I guess its version 2 of the SDK. But I have problems with the blocking call as it is not active after a few hours. I think its the problem mentioned above.

[2020-05-18 17:56] RickBadKan commented on #510
I didn't notice this blocking call not working even after long periods of time. I'm using some custom code and used the samples only to understand how it worked. Btw I'm using modules too and yet haven't gotten this problem.

The issue in this post isn't the blocking call not working after some time; it's more like a design question about how to properly manage the versioning process when the devi

[2020-05-19 16:17] njbuch commented on #570
Hmm, this is the error I am getting from the older SDK:
`ReauthorizeConnectionOperation: completing with error OperationCancelled('Transport timeout on connection operation',)
ConnectionLockStage(ReauthorizeConnectionOperation): op failed.  Unblocking queue with error: OperationCancelled('Transport timeout on connection operation',)
UpdateSasTokenOperation: completing with error OperationCancelled

[2020-05-21 13:54] patrickue commented on #498
Partial solve, new question:
I found out that the call to `self.client.patch_twin_reported_properties(payload)`
is blocking around 6-10 hours after startup. And then the queue is running full, but no payload is delivered (never being removed from the queue). Sorry for the naming of `memory leak` when it's actually the function blocking – forever.

@olivakar Ideas why `patch_twin_reported_propertie

[2020-05-23 21:54] njbuch opened #573 "receive_twin_desired_properties_patch on module - inconsistent behaviour"
# Context

- **OS and version used:** Linux an0206 4.19.97-v7l+ #1294 SMP Thu Jan 30 13:21:14 GMT 2020 armv7l GNU/Linux Raspian 10 Buster
- **Python version:** 3.5.3
- **pip version:** pip 9.0.1 from /usr/lib/python3/dist-packages (python 3.5)
- **list of installed packages:**
aniso8601 (8.0.0)
azure-iot-device (2.1.1)
certifi (2020.4.5.1)
chardet (3.0.4)
click (7.1.2)
Flask (1.1.2)
Flask-RESTful

[2020-05-25 05:27] njbuch commented on #573
Further to this, after a longer burn-in period I have spotted some info that might be helpful in the logs:

[code]

And

[code]
And these messages repeat with regular intervals while the different threads are running.

[2020-05-26 14:13] dschenzer commented on #531
@BertKleewein Did you had a chance to track down this issue?

[2020-05-26 20:53] kgalic commented on #570
I have the same problem, that this is not getting triggered/called. It keeps awaiting. Can anyone from the product group  help on this one?

[2020-05-26 20:57] BertKleewein commented on #531
@dschenzer, @tanieee28 , @LouanDuToitS3 , @dme-development  I believe I have a fix for this issue.  The attached wheel has a test fix which resolves some 'transport timeout' issues.  I am moving forward with getting a more robust fix into master.  In the mean time, I'd appreciate hearing if the attached wheel resolves your issues.

This fix was built from https://github.com/BertKleewein/azure-iot-

[2020-05-26 21:00] BertKleewein commented on #517
fixed in azure-iot-device 2.1.2 -- https://pypi.org/project/azure-iot-device/2.1.2/

[2020-05-26 21:18] njbuch commented on #573
Please note that the samples on this are using the deviceClient features, and my code are using the module-client - and assuming they are fundamentally similar.

[2020-05-26 21:19] njbuch commented on #573
Adding the this debugging, I am now seeing something more, the use of blocking calls for the direct_method features are also having inconsistent behavior, and are falling off after a while.

[2020-05-26 21:36] kgalic commented on #573
@njbuch did you manage to resolve this? I found an alternative by using module_client.get_twin() but this is something that requires different implementation handling.

[2020-05-27 14:16] dschenzer commented on #473
@BertKleewein my customer has the same issue:

Repeating the same test scenario (changing from network O2 to Telekom)

May 27 13:16:13: ERROR:transport.connect raised error
May 27 13:16:13: socket.gaierror: [Errno -3] Temporary failure in name resolution
May 27 13:16:13: azure.iot.device.common.transport_exceptions.ConnectionFailedError: ConnectionFailedError(None) caused by gaierror(-3, 'Temporar

[2020-05-27 15:39] njbuch commented on #573
Nope, and in my case the twin-manipulations are important to react to relatively quickly, and polling this api would not make sense. But thanks for caring ;)

[2020-05-27 17:58] cima opened #575 "Cloud to device message causes index out of bound exception"
At [line 291 of mqtt_topic_iothub.py](https://github.com/Azure/azure-iot-sdk-python/blob/deadeab184c52ec848b306aa20dc39cc9e69ef0e/azure-iot-device/azure/iot/device/iothub/pipeline/mqtt_topic_iothub.py#L291) is direct access to second list item without any check or default return value approach which causes python to raise followin exception:

[code]
As the input (properties) of this method is exte

[2020-05-28 07:31] nishad1092 opened #577 "Unable to generate SAS Token using python Script."
Hello, I am trying to execute python script mentioned [here](https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-hub/azure/iot/hub/sastoken.py) to generate SAS Token.
I have added the parameters value according to my iothub. I have added the parameters in the section from line 49-54.
I am not getting any error but there is no output as well.
Can you please guide me what might be wr

[2020-05-28 21:17] cartertinney commented on #575
We are looking into this issue and will respond once we validate this scenario with the Azure IoT Hub

[2020-05-28 23:17] olivakar commented on #577
The class that you are using is for internal usage only.

But if you are using that as a helper script for your own specific scenario utilizing the same code it should not be a problem. That script will return error in case it is not able to build the token. Without completely knowing how you are using it will be difficult to understand the issue.

I tried the `SasToken` class as is with the follo

[2020-05-28 23:28] olivakar commented on #498
Can you attach the full log for this ?

[2020-05-29 07:10] nishad1092 commented on #577
Hi @olivakar , thanks for the response, I still couldn't understand, Could you walk me through how to execute this code? or should we execute the entire set of codes in the auth folder? https://github.com/Azure/azure-iot-sdk-python/tree/master/azure-iot-device/azure/iot/device/common/auth

Where to print this sasToken, It would be great if you could walkthrough this script or how to generate sas t

[2020-05-29 09:21] mishfish123 opened #580 "after pip installing azure.iot.device and azure version 4.0.0, i can still not get the module imported into my python program. The error i get is "from azure.iot.device import IoTHubDeviceClient, Message, MethodResponse ModuleNotFoundError: No module named 'azure'""

[2020-05-29 10:28] #580 closed

[2020-05-29 10:28] az-iot-builder-01 commented on #580
@mishfish123, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-05-29 13:23] tanieee28 commented on #531
@BertKleewein
Sorry for late reply, and thanks for working out a possible solution. I will use this and test for some days and will get back to you. Meanwhile, following is the information you requested, if it helps.

Operating System: Ubuntu 18 LTS
Machine : Azure VM
Architecture: arm64

Python 3.7/3.6 (tried on both)

Name: azure-iot-device
Version: 2.1.2/2.2

Name: paho-mqtt
Version: latest

[2020-05-29 13:50] maranov opened #581 "Re-connecting causes repeated ConnectionDroppedError"
Hi,

# Context

- **OS and version used:** Windows 10
- **Python version:** 3.8.2, AMD64
- **pip version:** 19.2.3
- **list of installed packages:**
[code]
- **cloned repo:** N/A

## Description of the issue
Properly disconnecting an existing IoTHubDeviceClient, re-creating and re-connecting it logs ConnectionDroppedError and causes direct method invocations and C2D messages to fail in about a hal

[2020-05-29 13:51] maranov commented on #581
The log:
[log.txt](https://github.com/Azure/azure-iot-sdk-python/files/4702153/log.txt)

[2020-05-29 17:51] cartertinney commented on #575
@cima could you clarify how it was that you were able to send a C2D message with a custom property that has a key but no value? Azure CLI? IoT Explorer? Something else?

[2020-05-29 20:33] cima commented on #575
I was affraid this question will appear. Unfortunately it is the project I cannot share and I even dont want to becuase it is ugly code of crazy service I am replacing and thus when testing compatibility I have experience the value-less property issue.

Anyway it was fairly easy to pick the lines of the code and quickly sketch below **JUnit test** that sends cloud-to-device message with value-less

[2020-05-29 21:14] cartertinney commented on #573
Have you tried using the latest version 2.1.2? We have added several connection stability improvements in this latest release

[2020-05-29 21:16] cartertinney commented on #570
Which version of the package are you using? Is it the latest 2.1.2?

[2020-05-29 22:13] cartertinney commented on #575
Thank you, this is very helpful. Lastly, could you explain your motive for doing this?

Are you trying to send a property with no value (i.e. className), or a property that is set to null/None (i.e. className=None)

[2020-05-29 22:39] cima commented on #575
There is no intention to do it. It is definitely a bug in the running version of our ancient service because in the head of our repository there is not even the code doing this (Somebody probably fixed it in unreleased version). However as it is possible and apparently permitted by MQTT & AMQP protocols the receivers should expect value-less properties.

[2020-05-29 23:10] cartertinney commented on #575
The reason I ask is because it seems there is inconsistency on how this is handled across different service clients. I'm trying to get to the bottom of the problem, but, it's relevant for me to understand what you expect this to do:

What do you expect to receive on this message? className having A null/None value? i.e. className=None, or are you not even expecting that, and just expecting the key

[2020-05-30 01:40] olivakar commented on #577
@nishad1092 you have linked 2 different `sastoken` files both time.
I am not sure what you are using the class for.

If you are using to create clients for either device or hub then you should **NOT** use this class externally. Any authentication will be handled appropriately as mentioned by Carter above.

But if you are using this for some other scenario **unrelated to our device or hub functiona

[2020-05-30 06:10] olivakar commented on #581
I tried your sample ditto and almost ran it for more than 2 hours without any issues. I have not been able to replicate it so far.

Could you try out this other local package to see if this resolves the situation ?
https://github.com/Azure/azure-iot-sdk-python/issues/531#issuecomment-634275019

[2020-05-30 07:45] nishad1092 commented on #577
@cartertinney @olivakar thanks for the response. I'll sum up what I really want to achieve. I'm using azure components and for its use case only.

Tell me what I need to do to generate sas token for Azure IoT Hub. Becuase now I either use azure cli or through VS code to generate it. I just want to generate sas token for IoT hub programmatically.

[2020-05-30 09:28] maranov commented on #581
Hi olivakar,
odd, when I run the sample, I can replicate the error every time. I made a docker image you could try:
[code]

I've also tried the alternative version. On reconnection it goes into a failure loop, unable to handle any direct methods at all. The errors also occur in a quicker succession. I noticed there's just one token update timer running, which is also IMHO wrong -- there should be

[2020-05-30 11:24] cima commented on #575
We have had no intention to send that property empty/null/none. It was purely a bug that the variable used to set the _className_ propery contained null. It just wasn't sanitized.

I think that the behavior and semantics of value-less property should be specified within the AMQP/MQTT RFCs.

[2020-06-01 09:57] njbuch commented on #573
Yes, just double-checked:
[code]

[2020-06-01 09:58] njbuch commented on #570
Yes, it is the latest.

[2020-06-01 13:19] DonkDH commented on #561
Quick update on my situation, I managed to resolve my problem.
It was a misteak I'd made when setting up a static IP on my Raspberry Pi, that somehow resulted in me being able to do most internet related things but not use this library or another python library called Requests.

Thank you for your time and suggestions.

[2020-06-01 13:19] #561 closed

[2020-06-01 13:19] az-iot-builder-01 commented on #561
@DonkDH, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-06-01 14:44] cima commented on #575
There is no intention to do it. It is definitely a bug in the running version of our ancient service because in the head of our repository there is not even the code doing this (Somebody probably fixed it in unreleased version). However as it is possible and apparently permitted by MQTT & AMQP protocols the receivers should expect value-less properties.

[2020-06-01 21:03] elhorton opened #585 "[test issue] testing filing an issue to flow into devops"
------------------------------- delete below -------------------------------

INSTRUCTIONS
==========

Please follow the instructions and template below to save us time requesting additional information from you. For more information on all of your support options, please see [Azure IoT support and help options](https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-support-help).

*If this i

[2020-06-01 22:09] #585 closed

[2020-06-01 22:09] elhorton opened #586 "[test issue 2] testing python ADO workflow"
------------------------------- delete below -------------------------------

INSTRUCTIONS
==========

Please follow the instructions and template below to save us time requesting additional information from you. For more information on all of your support options, please see [Azure IoT support and help options](https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-support-help).

*If this i

[2020-06-01 22:12] #586 closed

[2020-06-01 22:45] olivakar commented on #577
As said before , in the last comment, you can always copy the code in the `build token` portion to create your own SAS token. You don't need to use the class, you can selectively copy only the build token portion. You will need only base64, hmac, hashlib and urllib modules.

Please don't use the class for generating sas tokens for your own purpose.
As an example I have copied this code and created

[2020-06-02 14:51] kgalic opened #587 "module_client.receive_message_on_input does not return the message"
The code below does not get executed properly, and the application 'hangs' on 'receive_message_on_input' method. All the messages that I send to this specific route do no trigger the code below this method call. It seems like the method keeps 'awaiting' forever.

       async def input_listener(module_client):
            while True:
                print("Listening for messages in input!")

[2020-06-02 20:47] BertKleewein commented on #581
I know about this one.  I have a fix almost ready to go -- I'm just working on the unit tests now.

[2020-06-03 15:01] nishad1092 commented on #577
Hi @olivakar , Thannk you so much for walking throgh the code again, It worked and generated the SAS token, but somehow it isn't working. Im using the postman to check it using one basic API, but it always gives this error as in the response body and a 401 unauthorized,
I then compared with the SAS token generated from the VS code, and it worked just fine,
Compared both SAS token and it looks fine

[2020-06-03 15:05] #577 closed

[2020-06-03 15:05] az-iot-builder-01 commented on #577
@nishad1092, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-06-03 22:58] BertKleewein commented on #573
@njbuch - the fact that this is in a separate thread implies that you have at least two different module_client objects?  Is this true?  If so, that could explain your problem.  The two instances would be "fighting" to be connected to the hub such that one instance connects, the other one gets forcibly disconnected (because only one client can be connected at a time), then the other one re-connect

[2020-06-04 12:59] kgalic commented on #587
Logs:

DEBUG:azure.iot.device.common.pipeline.pipeline_thread:Starting _on_pipeline_event in callback thread
DEBUG:azure.iot.device.iothub.inbox_manager:Input message sent to input inbox
DEBUG:paho:Received PUBLISH (d0, q1, r0, m1), 'devices/kgDebugEdgeDevice/modules/RelayModule/inputs/input/%24.cdid=kgDebugEdgeDevice&%24.cmid=MessagePublisherModule', ...  (15 bytes)
DEBUG:paho:Sending PUBACK (Mid

[2020-06-04 23:14] BertKleewein commented on #587
The problem is that you call json.dumps() on the return from receive_message_on_input.  This raises an exception.  Because your mainline code never awaited the asyncio.gather call that included this coroutine, the exception never surfaced.  In short, the exception was swallowed and input_listener failed silently.

In the future, I recommend wrapping all listeners with try/except blocks that output

[2020-06-05 07:18] Swiit1 opened #588 "Porting my code from V1 to V2[Technical Question]"
Good morning.
A little back story: I'm a mechanic and a hobby programmer (mostly home automation) whos been tasked with setting up some sensors (mostly vibration) as a test project for my company using the Raspberry pi. im quite new to coding. So we hired a 3rd party to setup our IoT hub etc. So i never really read up on anything past preparing the data to be sent from the client to the IoTHub.

A

[2020-06-05 08:40] maranov commented on #581
Hi Bert,
great. If you have some dev version available, I could do some testing.

[2020-06-05 10:50] njbuch commented on #573
I only use one module_client instantiated in the beginning, and used from several threads.

I have created some extra logging and will revert when I see problems, with some timestamps if possible. How long is the window after 58 minutes?

Further to this I am still seing this error

[code]

[2020-06-05 16:44] kgalic commented on #587
By adding the following lines of code to enable detail logging:
[code]

and by surrending my 'receive_message_on_input' method with try-except per example:

[code]

This helped me to track the issue. Since I am sending the message from C# based module, the object that is retrieved from this method call is a type of Message, which requires to be treated differently than what I expected:

[code]

[2020-06-05 16:44] #587 closed

[2020-06-05 16:44] az-iot-builder-01 commented on #587
@kgalic, @BertKleewein, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-06-08 13:50] BertKleewein commented on #581
Hi @maranov, here is a test version for this.  The PR for this fix is #576.  This should work as long as you call device_client.disconnect, which I see you are doing, so you should be good.

[azure_iot_device-2.1.2_test_pr576-py2.py3-none-any.zip](https://github.com/Azure/azure-iot-sdk-python/files/4746304/azure_iot_device-2.1.2_test_pr576-py2.py3-none-any.zip)

[2020-06-08 13:52] BertKleewein commented on #517
Closing this issue since this is fixed as far as I know.  Please re-open if this is incorrect.

[2020-06-08 13:52] #517 closed

[2020-06-08 13:52] az-iot-builder-01 commented on #517
@robbinvandamme, @BertKleewein, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-06-08 13:54] BertKleewein commented on #498
Hi @patrickue , I suspect that PR 576 will fix this, though I do not know for sure.  if you want to test this, you can install from here.  This should be included in our next release after 2.1.2 (probably 2.1.3)

[azure_iot_device-2.1.2_test_pr576-py2.py3-none-any.zip](https://github.com/Azure/azure-iot-sdk-python/files/4746304/azure_iot_device-2.1.2_test_pr576-py2.py3-none-any.zip)

[2020-06-08 15:44] maranov commented on #581
Thanks @BertKleewein, I've tested the wheel with the sample and our SW a few times, including over websockets and a different OS and the issue seems to be gone.

The logs of of the two sequential instantiations show very similar init & destruction. Nothing suspicious, everything seems to be OK. Good job. :-)

[2020-06-08 15:44] #581 closed

[2020-06-08 15:44] az-iot-builder-01 commented on #581
@maranov, @BertKleewein, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-06-09 16:34] jebrando commented on #588
@Swiit1 A couple of questions before I recommend anything.  What version of python are you using (2.7 or 3.5+)?

If you're using python version 2.7 you should look at this example:
[Python sync sample](https://github.com/Azure/azure-iot-sdk-python/blob/master/azure-iot-device/samples/sync-samples/send_message.py)

If you're are using version 3.5 or above you should move to async for performance re

[2020-06-09 17:01] Swiit1 commented on #588
My apologies for not listing something as obvious as that, I am indeed using python 2.7.
I have done some research over the past few days, and it seems we were using the "client.set_option("auto_url_encode_decode", True)" and HTTP protocol to bypass a bug in the SDK  [Issue #331](https://github.com/Azure/azure-iot-sdk-c/issues/331)

If this is not a issue anymore and i can simply go back to the de

[2020-06-09 17:59] jebrando commented on #588
The V2 Python SDK is written in pure python and is no longer a port over the c-sdk.  So there is a big paradigm shift so we no longer need to set_options for auto encoding.  If you follow the 2.7 sync samples it should be all you need.  Let us know if you have any issue with any of this.

[2020-06-10 08:54] Swiit1 commented on #588
The issue in regards to encode/decode has indeed been fixed and the SDK works flawlessly without any additional options. thank you for your help!

[2020-06-10 08:54] #588 closed

[2020-06-10 08:54] az-iot-builder-01 commented on #588
@Swiit1, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-06-11 17:27] luisgizirian commented on #575
We're experiencing something similar. In our case, it's a message flowing thru MQTT infrastructure from a module to another in an IoT Edge Device scenario. The exception raises upon message reception on the destination module.

* MQTT connectivity is working
`During initialization`
[code]
* Tryed with Python 3.7 and 3.8
* Azure Iot Device: 2.1.2 (https://pypi.org/project/azure-iot-device/2.1.2/)

[2020-06-12 22:36] olivakar commented on #575
@luisgizirian  Could you please elaborate on how you are able to create the the situation where the system property `correlation id` is having no value  ?

[2020-06-12 23:07] olivakar commented on #570
Closing issue as another module receive twin has been logged

https://github.com/Azure/azure-iot-sdk-python/issues/573

[2020-06-12 23:07] #570 closed

[2020-06-13 01:09] Sanjidhalim commented on #575
Hi @olivakar, the message that @luisgizirian  was referring to was created using the C# SDK. I have included a sample below. We are using version 1.29.0-preview-004 of the Microsoft.Azure.Devices.Client dll. CorrelationId on the event message is a nullable Guid. In this case, the message is generated on an IoT Edge Module running on a Edge device.

Even though from the code it looks like I am just

[2020-06-15 04:09] millena7 commented on #126
Hi!

I'm with the same problem when I try to import iothub_client

**ImportError: libboost_python-py35.so.1.62.0: cannot open shared object file: No such file or directory**

Raspbian buster
Python 3.7.3

It is installed libboost-python1.62.0

Could you help me please?

[2020-06-15 07:12] dheckl opened #590 "Got an unexpected keyword argument 'proxy_options'"
- **OS and version used:** Windows 10
- **Python version:** 3.8.2
- **pip version:** <VERSION> (in a command prompt: pip --version )

## Description of the issue

I have installed azure-iot-device 2.1.2 via pip and get following error message after initialization of ProvisioningDeviceClient:

The validation of the kwargs fails in  azure.iot.device.provisioning.abstract_provisioning_device_client._

[2020-06-15 11:37] millena7 opened #591 "ImportError: libboost_python-py35.so.1.62.0: cannot open shared object file: No such file or directory"
Hi!

When I try to import **iothub_client** I receive this error:

**ImportError: libboost_python-py35.so.1.62.0: cannot open shared object file: No such file or directory**

I've seen this issue here, but not using:

Raspbian buster
Python 3.7.3

I already installed **libboost-python1.62.0** using **sudo apt-get install libboost-python1.62.0**

I can't use the Azure API for python! Could you help

[2020-06-15 16:11] jebrando commented on #591
@millena7 it looks as if you're using the v1 SDK, which has been deprecated for the new (and Improved) V2 SDK.  What is the pip install command that you're using?

The correct command is as follows:

[code]
Let me know if this works for you.

[2020-06-15 17:19] millena7 commented on #591
I used this command to install SDK.

If I try again:
"Requirement already satisfied"

[2020-06-15 19:01] njbuch commented on #573
I have been trying to stabilize the system, without luck.

Here is a new chunk of the log:
[code]

I am trying send some info to Atlas MongoDB at the 11:22:10,656 timestamp. The code continues, but shortly after fails on the MQTT related stuff. Which fails, and seems to prevent a new thread starting, and the whole system ends up in a bad state.

[2020-06-16 12:03] millena7 commented on #591
Do you have any idea what it might be?

[2020-06-16 20:11] njbuch commented on #573
Terrible mistake on my side, sorry for wasting your time. Thanks for trying to assist. Multithreading gone wrong.

I see no problems now.